<div class="inner-area">
    <div class="bannerarea">
        <div class="page-title">
            <h2>{{ 'COMPLAINT' | translate }}</h2>
        </div>
        <div class="breadcrumb-area">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'COMPLAINT' | translate }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="content-area" id="targetMainContent">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>{{ 'Sl_No' | translate }}</th>
                            <th>{{ 'complaint_category' | translate }}</th>
                            <th>{{ 'complaint_sub_category' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let complaint of complaintDisplayList; let i = index">
                            <tr *ngIf="complaint.showCategory">
                                <td [attr.rowspan]="getRowSpan(complaintDisplayList, i)">{{ complaint.slNo }}</td>
                                <td [attr.rowspan]="getRowSpan(complaintDisplayList, i)">
                                    {{ currentLanguage === 'en' ? complaint.complaintCategoryNameEng : complaint.complaintCategoryNameHin }}
                                </td>
                                <td>
                                    {{ currentLanguage === 'en' ? complaint.complaintSubCategoryNameEng : complaint.complaintSubCategoryNameHin }}
                                </td>
                            </tr>
                            <tr *ngIf="!complaint.showCategory">
                                <td>
                                    {{ currentLanguage === 'en' ? complaint.complaintSubCategoryNameEng : complaint.complaintSubCategoryNameHin }}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>             
            </div>
        </div>
    </div>
</div>
