<div class="inner-area">
    <div class=" bannerarea">
        <div class="container">
            <div class="bannerarea-content">
                <div>
                    <div class="page-title">
                        <h2>Complaint Category</h2>
                    </div>
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Complaint Category</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <div class="content-area " id="targetMainContent">
        <div class="container">
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th width="100">Sl#</th>
                            <th>Complaint Category</th>
                            <th>Complaint Sub-Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Handpump/ Tubewell Related</td>
                            <td>
                                Repairing of Handpump/Tubewell
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4" valign="middle">2</td>
                            <td rowspan="4" valign="middle">Piped Water Supply Related</td>
                            <td>
                                Water is not coming from Standpost
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Motor Burnt
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Water does not reach the Tower
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Operator does not runs the motor
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4" valign="middle">3</td>
                            <td rowspan="4" valign="middle"> Water Quality Related</td>
                            <td>
                                Dirty Water Supply
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Bacterial Contamination in Water
                            </td>
                        </tr>
                        <tr>
                            <td>
                                High Amount of Arsenic in Water
                            </td>
                        </tr>
                        <tr>
                            <td>
                                High Amount of Flouride in Water
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>