<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
                <h3>Page Content</h3>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite">
                    <ul class="mb-0">
                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Download Excel"><i class="bi bi-file-earmark-excel"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Click to Publish"><i class="bi bi-volume-up"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Click to Unpublish"><i class="bi bi-volume-mute"></i></a>
                        </li>
                        <li class="filter-dropdown dropdown">
                            <a href="javascript:void(0)" data-bs-toggle="dropdown" (click)="openDropdown()">
                                <i class="bi bi-funnel"></i> <span class="hide-icon ms-2">Filter</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end filter-dropdown-menu shadow border-0" [ngClass]="{ 'show': isDropdownOpen }" (click)="$event.stopPropagation()">
                                <span class="drop-icon" (click)="closeDropdown()">
                                    <i class="bi bi-x-lg"></i>
                                </span>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-lg-0 mb-3">
                                            <label class="form-label" for="patitle">Page Title</label>
                                            <input class="form-control" type="text" id="patitle">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label d-md-block d-none">&nbsp;</label>
                                        <div class="d-flex gap-2">
                                            <button type="submit" class="btn btn-primary px-xl-4">Search</button>
                                            <button type="submit" class="btn btn-danger px-xl-4">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="fill-btn add-link"><a routerLink="/application/pagecontent/add"  title="Click to Add"><i class="bi bi-plus-lg"></i>
                            <span class="hide-icon ms-2">Add Page</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="view-legand">
        <ul class="legends">
            <li><span class="bg-success"></span> Publish </li>
            <li><span class="bg-danger"></span> Unpublish </li>
        </ul>
    </div>

    <div class="content-box content-area p-0">
        <div *ngIf="noRecordsFound" class="alert alert-warning text-center mt-3">
            No Page Contents Found!!
        </div>
        <div class="table-responsive mb-0">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th width="30px"><input type="checkbox" class="form-check-input"></th>
                        <th width="40px">Sl#</th>
                        <th>Page Title</th>
                        <th>Snippet</th>
                        <th style="text-align: center;">Feature Image Path</th>
                        <th style="text-align: center;">Feature Image</th>
                        <th width="70px" style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pageContentDetails; let i = index" [ngClass]="{'publish': item.isPublish, 'unpublish': !item.isPublish}">
                        <td><input type="checkbox"></td>
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.pageTitleEnglish }}</td>
                        <td>{{ item.snippetEnglish }}</td>
                        <td style="text-align: center;">
                            {{ item.featureImage }}
                        </td>
                        <td style="text-align: center;">
                            <img [src]="item.featureImage" alt="Feature Image" style="width: 60px; height: 60px; border-radius: 5px;">
                        </td>
                        <td>
                          <div class="d-flex gap-1">
                            <a href="javascript:void(0);" (click)="onView(item)" class="btn btn-outline-success btn-sm" title="View" data-bs-toggle="modal" data-bs-target="#pageContentsModal">
                              <i class="bi bi-eye"></i>
                            </a>
                            <button class="btn btn-outline-primary btn-sm" (click)="editPageContentDetails(item.contentId)" title="Edit"><i class="bi bi-pencil"></i></button>
                            <button class="btn btn-outline-danger btn-sm" (click)="deletePageContentDetails(item.contentId)" title="Delete"><i class="bi bi-trash3"></i></button>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal View  -->
<div class="modal fade" id="pageContentsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Page Contents</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body view-form">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Page Alias</label>
                                    <label *ngIf="selectedPageContents?.pageAlias" class="form-value">
                                        {{ selectedPageContents.pageAlias }}
                                    </label>
                                </div>
                            </div>
    
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Read More</label>
                                    <label *ngIf="selectedPageContents?.readMore" class="form-value">
                                        {{ selectedPageContents.readMore }}
                                    </label>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Link Type</label>
                                    <label *ngIf="selectedPageContents?.linkType" class="form-value">
                                        {{ selectedPageContents.linkType }}
                                    </label>
                                </div>
                            </div>
    
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Open in Window</label>
                                    <label *ngIf="selectedPageContents?.windowType" class="form-value">
                                        {{ selectedPageContents.windowType }}
                                    </label>
                                </div>
                            </div>
                        
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Snippet (In English)</label>
                                    <label *ngIf="selectedPageContents?.snippetEnglish" class="form-value">
                                        {{ selectedPageContents.snippetEnglish }}
                                    </label>
                                </div>
                            </div>
                            
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Content (In English)</label>
                                    <label *ngIf="selectedPageContents?.contentEnglish" [innerHTML]="selectedPageContents.contentEnglish" class="form-value"></label>
                                </div>
                            </div>
    
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Snippet (हिंदी में)</label>                                    
                                    <label *ngIf="selectedPageContents?.snippetHindi" class="form-value">
                                        {{ selectedPageContents.snippetHindi }}
                                    </label>
                                </div>
                            </div>
                            
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Content (हिंदी में)</label>
                                    <label *ngIf="selectedPageContents?.contentHindi" [innerHTML]="selectedPageContents.contentHindi" class="form-value"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="form-label d-block mb-2">Feature Image</label>
                            <div class="img-fluid">
                                <label *ngIf="selectedPageContents?.featureImage" class="modal-banner">
                                    <img [src]="selectedPageContents.featureImage" alt="Feature Image" class="modal-banner">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>