<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between align-items-center">
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <ul class="nav nav-tabs" routerLinkActive="active">
                    <li class="nav-item">
                        <a routerLink="/application/complaintregistration" class="nav-link active">Add</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/escalation-view" class="nav-link">View</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite float-end">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-box content-area pb-1">
        <div class="form-section">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="mb-3">
                        <label for="txtRegdDt" class="form-label">Complaint Category</label>
                        <select class="form-select">
                            <option selected>-Select-</option>
                            <option value="1">Handpump Tubewell Related</option>
                            <option value="2">Miscellaneous</option>
                            <option value="3">Piped Water Supply Related</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="mb-3">
                        <label for="txtRegdDt" class="form-label">Complaint Sub Category</label>
                        <select class="form-select">
                            <option selected>-Select-</option>
                            <option value="1">Repairing of Public Handpump</option>
                            <option value="2">Repairing of Private Handpump</option>
                        </select>
                    </div>
                </div>
            </div>

          

            <div class="row">
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="mb-3">
                        <label for="exlabel" class="form-label">Escalation level</label>
                        <input type="number" class="form-control" id="exlabel" [(ngModel)]="escalationLevel"
                            (input)="generateRows()">
                    </div>
                </div>

                <div class="col-xl-9 col-lg-9 col-sm-6"></div>

                <div class="col-xl-8" *ngIf="escalationLevel > 0">
                    <div class="table-responsive mb-0 time-visible">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="40px">Sl#</th>
                                    <th>Designation</th>
                                    <th>Level Name</th>
                                    <th>Hours</th>
                                    <th width="80px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of rows; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>
                                        <select class="form-select">
                                            <option selected>-Select-</option>
                                            <option value="1">JE</option>
                                            <option value="2">EE</option>
                                            <option value="3">OE</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control timepicker" id="inputTime">
                                            <label class="input-group-text" for="inputTime"><i class="bi bi-clock"></i></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex gap-1">
                                            <a href="javascript:void(0);" title="Delete"
                                                class="btn btn-outline-danger" (click)="removeRow(i)">
                                                <i class="bi bi-trash3"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>