<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between align-items-center">
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <ul class="nav nav-tabs" routerLinkActive="active">
                    <li class="nav-item">
                        <a routerLink="/application/complaintregistration" class="nav-link active">Add</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/escalation-view" class="nav-link">View</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite float-end">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-box content-area pb-1">
        <div class="form-section">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="mb-3">
                        <label for="txtRegdDt" class="form-label">Complaint Category</label>
                        <select class="form-select">
                            <option selected>-Select-</option>
                            <option value="1">Handpump Tubewell Related</option>
                            <option value="2">Miscellaneous</option>
                            <option value="3">Piped Water Supply Related</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="mb-3">
                        <label for="txtRegdDt" class="form-label">Complaint Sub Category</label>
                        <select class="form-select">
                            <option selected>-Select-</option>
                            <option value="1">Repairing of Public Handpump</option>
                            <option value="2">Repairing of Private Handpump</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="mb-3">
                        <label for="exlabel" class="form-label">Escalation level</label>
                        <input type="text" class="form-control" id="exlabel">
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="table-responsive mb-0">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th width="40px">Sl#</th>
                                    <th>level</th>
                                    <th>Designation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Handpump Tubewell Related</td>
                                    <td>Repairing of Public Handpump</td>
                                    <td>3</td>
                                    <td>JE</td>
                                    <td>
                                        <div class="d-flex gap-1">
                                            <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Handpump Tubewell Related</td>
                                    <td>Repairing of Private Handpump</td>
                                    <td>3</td>
                                    <td>JE</td>
                                    <td>
                                        <div class="d-flex gap-1">
                                            <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Piped Water Supply Related</td>
                                    <td>Water is not coming from Standpost</td>
                                    <td>3</td>
                                    <td>JE</td>
                                    <td>
                                        <div class="d-flex gap-1">
                                            <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Piped Water Supply Related</td>
                                    <td>Motor Burnt</td>
                                    <td>3</td>
                                    <td>JE</td>
                                    <td>
                                        <div class="d-flex gap-1">
                                            <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>