<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
                <ul class="nav nav-tabs" routerLinkActive="active">
                    <!-- <li class="nav-item">
                        <a routerLink="/application/mngmenu" class="nav-link">Add</a>
                    </li> -->
                    <li class="nav-item">
                        <a routerLink="/application/mngmenu-view" class="nav-link active">View</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite float-end mb-1">
                    <ul class="mb-0">
                        <!-- <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory </span>
                        </li> -->
                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>
                        <!-- <li>
                            <a href="javascript:void(0)" ngbTooltip="Delete Record"><i class="bi bi-trash"></i></a>
                        </li>
                       
                        <li><a href="javascript:void(0)" ngbTooltip="Go to Previous"><i
                                    class="bi bi-arrow-left"></i></a>
                        </li> -->
                        <li>
                            <a href="javascript:void(0)" title="Click to Publish">
                                <i class="bi bi-volume-up"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Click to Unpublish">
                                <i class="bi bi-volume-off"></i>
                            </a>
                        </li>
                       

                        <li [ngClass]="isPanelOpen ? 'active-filter' : ''">
                            <a href="javascript:void(0)" title="{{ isPanelOpen ? 'Click to Close Filter' : 'Click to Open Filter' }}" 
                               (click)="togglePanel()">
                                <i class="bi bi-funnel"></i>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" title="Click to Add" routerLink="/application/mngmenu">
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="collapseExample" class="collapse show" [ngClass]="{'show': isPanelOpen}">
        <div class="content-box search-box">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="manutype">Menu Type</label>
                        <select class="form-select" id="manutype">
                            <option selected>Select</option>
                            <option value="1">Main Menu</option>
                            <option value="2">Footer Menu</option>
                            <option value="3">Footer Bottom Menu</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="parentmanu">Parent Menu</label>
                        <select class="form-select" id="parentmanu">
                            <option selected>Select</option>
                            <option value="1">FAQ</option>
                            <option value="2">Feedback</option>
                            <option value="3">Contact</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="menuen">Menu Name</label>
                        <input type="text" class="form-control" id="menuen">
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label d-xl-block d-lg-none d-md-block d-none">&nbsp;</label>
                        <button type="submit" class="btn btn-primary me-2">Search</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="search-btn">
        <a data-bs-toggle="collapse" href="#collapseExample">
            <span class="collapse-on">Search Open <i class="bi bi-arrow-down"></i></span> <span
                class="collapse-off">Search Close <i class="bi bi-arrow-up"></i></span>
        </a>
    </div> -->

    <div class="view-legand">
        <ul class="legends">
            <li><span class="bg-success"></span> Publish </li>
            <li><span class="bg-danger"></span> Unpublish </li>
        </ul>
    </div>

    <div class="content-box content-area p-0">
        <div *ngIf="noRecordsFound" class="alert alert-warning text-center mt-3">
            No Page Links Found
        </div>

        <div *ngIf="menuData.length > 0" class="table-responsive mb-0">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th width="45px">Sl#</th>
                        <th hidden>Page ID</th> <!-- Hidden Column -->
                        <th>Page Name (Eng)</th>
                        <th>Page Name (Hin)</th>
                        <th>Parent Menu Name (Eng)</th>
                        <th>Parent Menu Name (Hin)</th>
                        <th>URL</th>
                        <th width="140px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let menu of menuData; let i = index">
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td hidden>{{ menu.pageId }}</td> <!-- Hidden Column -->
                            <td>{{ menu.pageNameEng }}</td>
                            <td>{{ menu.pageNameHin }}</td>
                            <td>{{ menu.parentNameEng }}</td>
                            <td>{{ menu.parentNameHin }}</td>
                            <td>{{ menu.url }}</td>
                            <td>
                                <div class="d-flex gap-1">
                                    <button class="btn btn-outline-success btn-sm" title="View" data-bs-toggle="modal" data-bs-target="#viewmodal">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                    <button class="btn btn-outline-primary btn-sm" title="Edit" (click)="editPageLink(menu.pageId)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm" title="Delete" (click)="deletePageLink(menu.pageId)">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                    <!-- <button class="btn btn-primary btn-sm" title="Edit" (click)="editPageLink(menu.pageId)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Delete" (click)="deletePageLink(menu.pageId)">
                                        <i class="bi bi-trash"></i>
                                    </button> -->
                                </div>
                            </td>
                            <!-- <td>
                                <div class="d-flex gap-1">
                                    <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                        data-bs-toggle="modal" data-bs-target="#viewmodal"><i class="bi bi-eye"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit" (click)="editPageLink(menu.pageId)">
                                        <i class="bi bi-pencil"></i>
                                    </a>                                    
                                    <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete" (click)="deletePageLink(menu.pageId)">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </div>                           
                            </td> -->                            
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>        
    </div>
</div>


<!-- Modal View  -->
<div class="modal fade" id="viewmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">RTI</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body view-form">
                <div class="row">
                    <div class="col-xl-12">

                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Menu Type</label>
                                    <label class="form-value">Main Menu</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Link Type</label>
                                    <label class="form-value">Primary Link</label>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Parent Menu</label>
                                    <label class="form-value">FAQ</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Menu Name</label>
                                    <label class="form-value">Place to Visit</label>
                                </div>
                            </div>

                            <!-- <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Menu Name in Hindi</label>
                                    <label class="form-value">घूमने की जगह</label>
                                </div>
                            </div> -->
                        <!-- </div>

                        <div class="row"> -->
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Menu Link</label>
                                    <label class="form-value">---</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Menu Serial</label>
                                    <label class="form-value">2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>