<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4 col-md-6">
                <h3>Menu</h3>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite">
                    <ul class="mb-0">
                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" title="Download Excel"><i
                                    class="bi bi-file-earmark-excel"></i></a>
                        </li>
                        <li class="filter-dropdown dropdown">
                            <a href="javascript:void(0)" data-bs-toggle="dropdown" (click)="openDropdown()">
                                <i class="bi bi-funnel"></i> Filter
                            </a>

                            <div class="dropdown-menu dropdown-menu-end filter-dropdown-menu shadow border-0"
                                [ngClass]="{ 'show': isDropdownOpen }" (click)="$event.stopPropagation()">
                                <span class="drop-icon" (click)="closeDropdown()">
                                    <i class="bi bi-x-lg"></i>
                                </span>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="manutype">Menu Type</label>
                                            <select class="form-select" id="manutype">
                                                <option selected>Select</option>
                                                <option value="1">Main Menu</option>
                                                <option value="2">Footer Menu</option>
                                                <option value="3">Footer Bottom Menu</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="parentmanu">Parent Menu</label>
                                            <select class="form-select" id="parentmanu">
                                                <option selected>Select</option>
                                                <option value="1">FAQ</option>
                                                <option value="2">Feedback</option>
                                                <option value="3">Contact</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-lg-0 mb-3">
                                            <label class="form-label" for="menuen">Menu Name</label>
                                            <input type="text" class="form-control" id="menuen">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                       <div class="mb-lg-0 mb-3">
                                        <label class="form-label d-md-block d-none">&nbsp;</label>
                                        <div class="d-flex gap-2">
                                            <button type="submit" class="btn btn-primary px-xl-4">Search</button>
                                            <button type="submit" class="btn btn-danger px-xl-4">Reset</button>
                                        </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="fill-btn add-link"><a routerLink="/application/mngmenu/add" title="Click to Add"><i
                                    class="bi bi-plus-lg"></i>
                                Add Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



  


    <div class="view-legand">
        <ul class="legends">
            <li><span class="bg-success"></span> Publish </li>
            <li><span class="bg-danger"></span> Unpublish </li>
        </ul>
    </div>

    <div class="content-box content-area p-0">
        <div *ngIf="noRecordsFound" class="alert alert-warning text-center mt-3">
            No Page Links Found
        </div>

        <div *ngIf="menuData.length > 0" class="table-responsive mb-0">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th width="45px">Sl#</th>
                        <th hidden>Page ID</th> <!-- Hidden Column -->
                        <th>Page Name (Eng)</th>
                        <th>Page Name (Hin)</th>
                        <th>Parent Menu Name (Eng)</th>
                        <th>Parent Menu Name (Hin)</th>
                        <th>URL</th>
                        <th width="140px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let menu of menuData; let i = index">
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td hidden>{{ menu.pageId }}</td> <!-- Hidden Column -->
                            <td>{{ menu.pageNameEng }}</td>
                            <td>{{ menu.pageNameHin }}</td>
                            <td>{{ menu.parentNameEng }}</td>
                            <td>{{ menu.parentNameHin }}</td>
                            <td>{{ menu.url }}</td>
                            <td>
                                <div class="d-flex gap-1">
                                    <button class="btn btn-outline-success btn-sm" title="View" data-bs-toggle="modal"
                                        data-bs-target="#viewmodal">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                    <button class="btn btn-outline-primary btn-sm" title="Edit"
                                        (click)="editPageLink(menu.pageId)">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm" title="Delete"
                                        (click)="deletePageLink(menu.pageId)">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                    <!-- <button class="btn btn-primary btn-sm" title="Edit" (click)="editPageLink(menu.pageId)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" title="Delete" (click)="deletePageLink(menu.pageId)">
                                        <i class="bi bi-trash"></i>
                                    </button> -->
                                </div>
                            </td>
                            <!-- <td>
                                <div class="d-flex gap-1">
                                    <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                        data-bs-toggle="modal" data-bs-target="#viewmodal"><i class="bi bi-eye"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit" (click)="editPageLink(menu.pageId)">
                                        <i class="bi bi-pencil"></i>
                                    </a>                                    
                                    <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete" (click)="deletePageLink(menu.pageId)">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </div>                           
                            </td> -->
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal View  -->
<div class="modal fade" id="viewmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">RTI</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body view-form">
                <div class="row">
                    <div class="col-xl-12">

                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Menu Type</label>
                                    <label class="form-value">Main Menu</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Link Type</label>
                                    <label class="form-value">Primary Link</label>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Parent Menu</label>
                                    <label class="form-value">FAQ</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Menu Name</label>
                                    <label class="form-value">Place to Visit</label>
                                </div>
                            </div>

                            <!-- <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Menu Name in Hindi</label>
                                    <label class="form-value">घूमने की जगह</label>
                                </div>
                            </div> -->
                            <!-- </div>

                        <div class="row"> -->
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Menu Link</label>
                                    <label class="form-value">---</label>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Menu Serial</label>
                                    <label class="form-value">2</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>