<nav id="sidebar" class="sidebar">
    <div class="sidebar-brand text-center">
        <img src="./assets/img/bihar-logo-white.png" alt="Govt. of Bihar Logo" class="me-1 me-lg-0">
        <div>
            <h1>HAR GHAR NAL KA JAL</h1>
            <p>Public Health Engineering Department</p>
            <small>Government of Bihar </small>
        </div>
        <a routerLink="dashboard"></a>
    </div>
    <div class="sidebar-content py-2 scrollsidebar">
        <ul class="sidebar-nav">
            <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="dashboard">
                    <i class="bi bi-speedometer2"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <!-- <li class="sidebar-item" routerLinkActive="active">
                <a class="sidebar-link" routerLink="demo">
                    <i class="bi bi-speedometer2"></i> <span class="align-middle">Demo</span>
                </a>
            </li> -->

            <li class="sidebar-item" *ngIf="cmnmst == 1" routerLinkActive="active">
                <a data-bs-target="#mngMaster" data-bs-toggle="collapse" class="sidebar-link collapsed"
                    (click)="$event.stopPropagation();">
                    <i class="bi bi-journal-check"></i> <span class="align-middle">Common Master</span> </a>
                <ul id="mngMaster" class="sidebar-dropdown list-unstyled collapse" routerLinkActive="show"
                    data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLinkActive="active"
                            routerLink="/application/complaintcategory">Complaint Category </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/ComplaintSub-Category"
                            routerLinkActive="active">
                            Complaint Sub-Category </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/user-registration" routerLinkActive="active">
                            User Registration </a>
                    </li>

                </ul>
            </li>

            <li class="sidebar-item" *ngIf="config == 1" routerLinkActive="active">
                <a data-bs-target="#mngConfig" data-bs-toggle="collapse" class="sidebar-link collapsed"
                    routerLinkActive="active" (click)="$event.stopPropagation();">
                    <i class="bi bi-gear"></i> <span class="align-middle">Config</span> </a>
                <ul id="mngConfig" class="sidebar-dropdown list-unstyled collapse" routerLinkActive="show"
                    data-bs-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" routerLink="/application/escalation"
                            routerLinkActive="active">Escalation</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" routerLink="/application/demographymapping"
                            routerLinkActive="active">Demography Mapping</a></li>
                </ul>
            </li>

            <li class="sidebar-item" *ngIf="gms == 1" routerLinkActive="active">
                <a data-bs-target="#mngGMS" data-bs-toggle="collapse" class="sidebar-link collapsed"
                    routerLinkActive="active" (click)="$event.stopPropagation();">
                    <i class="bi bi-journal-check"></i> <span class="align-middle">GMS</span> </a>
                <ul id="mngGMS" class="sidebar-dropdown list-unstyled collapse" routerLinkActive="show"
                    data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/complaintregistration"
                            routerLinkActive="active">Register Complaint</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/complaintregistrationupdate"
                            routerLinkActive="active">
                            Update Status</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/complaintregistrationdelete"
                            routerLinkActive="active">Close Complaint</a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item" *ngIf="isMisReport == 1" routerLinkActive="active">
                <a data-bs-target="#misRept" data-bs-toggle="collapse" class="sidebar-link collapsed"
                    routerLinkActive="active" (click)="$event.stopPropagation();">
                    <i class="bi bi-list-check"></i> <span class="align-middle">MIS Reports</span> </a>
                <ul id="misRept" class="sidebar-dropdown list-unstyled collapse" routerLinkActive="show"
                    data-bs-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link"
                            routerLink="/application/complaint-category-wise-reports"
                            routerLinkActive="active">Complaint Category Wise Report</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" routerLink="/application/ModewiseReport"
                            routerLinkActive="active">Mode wise Report</a></li>
                </ul>
            </li>

            <li class="sidebar-item" *ngIf="cms == 1" routerLinkActive="active">
                <a data-bs-target="#cms" data-bs-toggle="collapse" class="sidebar-link collapsed"
                    routerLinkActive="active" (click)="$event.stopPropagation();">
                    <i class="bi bi-alarm"></i> <span class="align-middle">CMS</span> </a>
                <ul id="cms" class="sidebar-dropdown list-unstyled collapse" routerLinkActive="show"
                    data-bs-parent="#sidebar">

                    <!-- <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/page"
                            routerLinkActive="active">Page</a>
                    </li> -->

                    <!-- <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/mnglogo" routerLinkActive="active">Manage
                            Logo</a>
                    </li> -->


                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/mngmenu" routerLinkActive="active"> Menu</a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/mngbanner" routerLinkActive="active">
                            Banner</a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/minister-profile" routerLinkActive="active">
                            Minister Profile</a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/pagecontent" routerLinkActive="active">
                            Content</a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/whatsnew" routerLinkActive="active"> Whats
                            New</a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/newsevent" routerLinkActive="active">News &
                            Events</a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/mnggallery" routerLinkActive="active">
                            Gallery</a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/mngfaq" routerLinkActive="active"> FAQ</a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/application/mngcontact" routerLinkActive="active">
                            Contact</a>
                    </li>

                </ul>
            </li>


        </ul>
    </div>
    <app-footer></app-footer>
</nav>