
@{
ViewData["Title"] = "MANAGE_SUBCATEGORYMASTER";
}
<div class="row">
		@Html.AntiForgeryToken()
			@*Write code here*@
</div><div>
    <ul class="nav nav-tabs nav-fill" role="tablist">
        <a class="nav-item nav-link active" asp-controller="MANAGE_SUBCATEGORYMASTER" asp-action="MANAGE_SUBCATEGORYMASTER">Add</a>
        <a class="nav-item nav-link" asp-controller="MANAGE_SUBCATEGORYMASTER" asp-action=ViewMANAGE_SUBCATEGORYMASTER>View</a>
    </ul>
</div>
<br />
<br />
<br />
<form id="form">

	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">categoryid<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="CategoryId" name="CategoryId" class="form-control">
			</div>
	</div>
	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">subcategorye<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="SubCategoryE" name="SubCategoryE" class="form-control">
			</div>
	</div>
	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">subcategoryh<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="SubCategoryH" name="SubCategoryH" class="form-control">
			</div>
	</div>
	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">complaintpriority<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="ComplaintPriority" name="ComplaintPriority" class="form-control">
			</div>
	</div>
	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">escalationlevel<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="EscalationLevel" name="EscalationLevel" class="form-control">
			</div>
	</div>
	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">userid<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="UserId" name="UserId" class="form-control">
			</div>
	</div>
	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">createdon<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="CreatedOn" name="CreatedOn" class="form-control">
			</div>
	</div>
	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">updatedon<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="UpdatedOn" name="UpdatedOn" class="form-control">
			</div>
	</div>
	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">deletedflag<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="DeletedFlag" name="DeletedFlag" class="form-control">
			</div>
	</div>
	<div class="form-group row">
			<label class="col-12 col-md-2 col-xl-2 mb-3 control-label" for="demo-text-input">subcategoryidold<span class="m-2">:</span></label>
			<div class="col-12 col-md-6 col-xl-8 mb-3">
				<input type="text" id="SubCategoryIdOld" name="SubCategoryIdOld" class="form-control">
			</div>
	</div>
	<div class="form-group">
		<label class="col-12 col-md-2 col-xl-2 control-label" for="demo-text-input"></label>
<br/>
		<div class="col-12 col-md-8 col-xl-12">
			<input type="button" value="Submit" id="btn_Submit" class="btn btn-primary" onclick="Save_MANAGE_SUBCATEGORYMASTER()"/>
		</div>
	</div>
<input id="hdnMANAGE_SUBCATEGORYMASTER" type="hidden" value="0" />
</form>
	
	<script>
$(document).ready(function () {
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = decodeURIComponent(value);
            });
            return vars;
        }
        var id = getUrlVars()["strid"];

        if (id != undefined || id != null) {
            Edit_MANAGE_SUBCATEGORYMASTER(decryptData(id));
         }
    });

        function decryptData(encryptedData) {
            var decryptedBytes = CryptoJS.AES.decrypt(encryptedData, 'secret_key');
            var decryptedString = decryptedBytes.toString(CryptoJS.enc.Utf8);
            var decryptedObject = JSON.parse(decryptedString);
            var originalData = decryptedObject.data;
            var decryptedInteger = parseInt(originalData, 10);
            return decryptedInteger;
        }function Edit_MANAGE_SUBCATEGORYMASTER(id) {
        $.ajax({
            type: "Get",
            dataType: "json",
            url: '@Url.Action("EDIT_MANAGE_SUBCATEGORYMASTER", "MANAGE_SUBCATEGORYMASTER")',
            data: { "Id": id },
            success: function (Result) {
                var data1 = JSON.parse(Result);
   $("#hdnMANAGE_SUBCATEGORYMASTER").val(data1.SubCategoryId);
             $('#CategoryId').val(data1.CategoryId);
					$('#SubCategoryE').val(data1.SubCategoryE);
					$('#SubCategoryH').val(data1.SubCategoryH);
					$('#ComplaintPriority').val(data1.ComplaintPriority);
					$('#EscalationLevel').val(data1.EscalationLevel);
					$('#UserId').val(data1.UserId);
					$('#CreatedOn').val(data1.CreatedOn);
					$('#UpdatedOn').val(data1.UpdatedOn);
					$('#DeletedFlag').val(data1.DeletedFlag);
					$('#SubCategoryIdOld').val(data1.SubCategoryIdOld);
					
            },
            error: function (Message) {
                alert(Message);
            }
        });
    }        $("#form").validate({
            rules: {
                CategoryId: {
                    required: true
                },
                SubCategoryE: {
                    required: true
                },
                SubCategoryH: {
                    required: true
                },
                ComplaintPriority: {
                    required: true
                },
                EscalationLevel: {
                    required: true
                },
                UserId: {
                    required: true
                },
                CreatedOn: {
                    required: true
                },
                UpdatedOn: {
                    required: true
                },
                DeletedFlag: {
                    required: true
                },
                SubCategoryIdOld: {
                    required: true
                },
                            },
            messages: {
                CategoryId: {
                    required: "Please enter CategoryId"
                 },
                SubCategoryE: {
                    required: "Please enter SubCategoryE"
                 },
                SubCategoryH: {
                    required: "Please enter SubCategoryH"
                 },
                ComplaintPriority: {
                    required: "Please enter ComplaintPriority"
                 },
                EscalationLevel: {
                    required: "Please enter EscalationLevel"
                 },
                UserId: {
                    required: "Please enter UserId"
                 },
                CreatedOn: {
                    required: "Please enter CreatedOn"
                 },
                UpdatedOn: {
                    required: "Please enter UpdatedOn"
                 },
                DeletedFlag: {
                    required: "Please enter DeletedFlag"
                 },
                SubCategoryIdOld: {
                    required: "Please enter SubCategoryIdOld"
                 },
                
           },
            	
            highlight: function (element) {	
                $(element).removeClass("is-valid")		
                $(element).parent().addClass('error')		
                $(element).addClass("is-invalid")	
            },	
            unhighlight: function (element) {	
                $(element).parent().removeClass('error')	
                $(element).removeClass("is-invalid");	
                $(element).addClass("is-valid")	
            }	
        });
			function Save_MANAGE_SUBCATEGORYMASTER() {
			if ($("#form").valid()) {
					
					var MANAGE_SUBCATEGORYMASTER ={ 
			
					 SubCategoryId:$('#hdnMANAGE_SUBCATEGORYMASTER').val(),
CategoryId:$("#CategoryId").val(),
					SubCategoryE:$("#SubCategoryE").val(),
					SubCategoryH:$("#SubCategoryH").val(),
					ComplaintPriority:$("#ComplaintPriority").val(),
					EscalationLevel:$("#EscalationLevel").val(),
					UserId:$("#UserId").val(),
					CreatedOn:$("#CreatedOn").val(),
					UpdatedOn:$("#UpdatedOn").val(),
					DeletedFlag:$("#DeletedFlag").val(),
					SubCategoryIdOld:$("#SubCategoryIdOld").val(),
					
				};
			$.ajax({
				type: "POST",
				url: "/MANAGE_SUBCATEGORYMASTER/MANAGE_SUBCATEGORYMASTER",
			beforeSend: function (xhr) {
					xhr.setRequestHeader("XSRF-TOKEN",
						$('input:hidden[name="__RequestVerificationToken"]').val());
				},
			data:MANAGE_SUBCATEGORYMASTER,
			content: 'application/json;charset=utf-8',
			dataType: "json",
			success: function (result) {
						Swal.fire({
							icon: 'success',
							title: result.responseText,
							text: result.responseMessage,
						}).then((result) => {
							if (result.isConfirmed) {
								location.href ="/MANAGE_SUBCATEGORYMASTER/ViewMANAGE_SUBCATEGORYMASTER";
							}
						})
			},
			error: function (result) {
						Swal.fire({
							icon: 'error',
							title: result.responseText,
							text: result.responseMessage,
						});
					}, 
			});
			}
		}
	</script>