<div class="inner-area">
    <div class=" bannerarea">
            <div class="page-title" >
                <h2>Sitemap</h2>
            </div>
            <div class="breadcrumb-area">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sitemap</li>
                    </ol>
                </nav>
            </div>
      
        
    </div>
    <div class="content-area  pb-0" id="targetMainContent">
        <div class="container">
           
          <div class="sitemap-sec contentbox">
            <ul class="row">
                <li class="col-md-6 col-xl-3">
                    <a title="Home" href="javascript:void(0);">Home</a></li>
                <!-- <li class="col-md-6 col-xl-4">
                    <a href="javascript:void(0);" title="About Us">Lorem ipsum </a>
                    <ul>
                        <li><a title="Lorem ipsum" href="javascript:void(0);">Lorem ipsum</a> </li>
                        <li><a title="Lorem ipsum" href="javascript:void(0);">Lorem ipsum</a> </li>
                        <li><a title="Lorem ipsum" href="javascript:void(0);">Lorem ipsum</a> </li>
                        <li><a title="Lorem ipsum" href="javascript:void(0);">Lorem ipsum</a> </li>
                    </ul>
                </li> -->
                <!-- <li class="col-md-6 col-xl-4">
                    <a href="javascript:void(0);" title="Activities">Lorem ipsum</a>
                    <ul>

                        <li><a title="Lorem ipsum" href="javascript:void(0);">Lorem ipsum</a> </li>
                        <li><a title="Lorem ipsum" href="javascript:void(0);">Lorem ipsum</a> </li>
                        <li> <a title="Lorem ipsum" href="javascript:void(0);">Lorem ipsum</a></li>
</ul>
                </li> -->
                <li class="col-md-6 col-xl-3">
                    <a title="Lorem ipsum" href="javascript:void(0);">About Us</a>
                </li>
                <li class="col-md-6 col-xl-3">
                    <a title="Lorem ipsum" href="javascript:void(0);">How it Works</a>
                </li>
                <li class="col-md-6 col-xl-3">
                    <a href="javascript:void(0);" title="Lorem ipsum">FAQ</a>
                   </li>
                   <li class="col-md-6 col-xl-3">
                    <a href="javascript:void(0);" title="Lorem ipsum">Contact Us</a>
                   </li>
                   <li class="col-md-6 col-xl-3">
                    <a href="javascript:void(0);" title="Lorem ipsum">Privacy Policy</a>
                   </li>
                   <li class="col-md-6 col-xl-3">
                    <a href="javascript:void(0);" title="Lorem ipsum">Sitemap</a>
                   </li>
            </ul>
            <div class="clearfix"></div>
        </div>
            </div>
          
    </div>
</div>
