<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4 col-md-6">
                <h3> Faq</h3>
                <!-- <p>Manage your page</p> -->
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite">
                    <ul class="mb-0">


                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" title="Download Excel"><i
                                    class="bi bi-file-earmark-excel"></i></a>
                        </li>

                        <li class="filter-dropdown dropdown">
                            <a href="javascript:void(0)" data-bs-toggle="dropdown" (click)="openDropdown()">
                                <i class="bi bi-funnel"></i> Filter
                            </a>

                            <div class="dropdown-menu dropdown-menu-end filter-dropdown-menu shadow border-0"
                                [ngClass]="{ 'show': isDropdownOpen }" (click)="$event.stopPropagation()">
                                <span class="drop-icon" (click)="closeDropdown()">
                                    <i class="bi bi-x-lg"></i>
                                </span>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-lg-0 mb-3">
                                            <label class="form-label" for="dsn">Question</label>
                                            <input class="form-control" type="text" id="dsn">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label d-md-block d-none">&nbsp;</label>
                                        <div class="d-flex gap-2">
                                            <button type="submit" class="btn btn-primary px-xl-4">Search</button>
                                            <button type="submit" class="btn btn-danger px-xl-4">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="fill-btn add-link"><a routerLink="/application/mngfaq/add" title="Click to Add"><i
                                    class="bi bi-plus-lg"></i>
                                Add Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="view-legand">
        <ul class="legends">
            <li><span class="bg-success"></span> Publish </li>
            <li><span class="bg-danger"></span> Unpublish </li>
        </ul>
    </div>
    <div class="content-box content-area p-0">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th width="30px">
                            <input class="form-check-input" type="checkbox">
                        </th>
                        <th width="40px">Sl#</th>
                        <th>Question</th>
                        <th>Answer (In Hindi)</th>
                        <th width="100">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="publish">
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td> 1 </td>
                        <td>
                            What is CM Kisan scheme?
                        </td>
                        <td> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab aliquam optio ea laboriosam
                            facilis necessitatibus illum delectus, <br>iste aut sint porro voluptate saepe
                            reprehenderit,
                            vero adipisci animi consequuntur excepturi autem. </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="unpublish">
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td> 2 </td>
                        <td>
                            What is CM Kisan scheme?
                        </td>
                        <td> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab aliquam optio ea laboriosam
                            facilis necessitatibus illum delectus, <br>iste aut sint porro voluptate saepe
                            reprehenderit,
                            vero adipisci animi consequuntur excepturi autem. </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="publish">
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td> 3 </td>
                        <td>
                            What is CM Kisan scheme?
                        </td>
                        <td> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab aliquam optio ea laboriosam
                            facilis necessitatibus illum delectus, <br>iste aut sint porro voluptate saepe
                            reprehenderit,
                            vero adipisci animi consequuntur excepturi autem. </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="unpublish">
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td> 4 </td>
                        <td>
                            What is CM Kisan scheme?
                        </td>
                        <td> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab aliquam optio ea laboriosam
                            facilis necessitatibus illum delectus, <br>iste aut sint porro voluptate saepe
                            reprehenderit,
                            vero adipisci animi consequuntur excepturi autem. </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="publish">
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td> 5</td>
                        <td>
                            What is CM Kisan scheme?
                        </td>
                        <td> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab aliquam optio ea laboriosam
                            facilis necessitatibus illum delectus, <br>iste aut sint porro voluptate saepe
                            reprehenderit,
                            vero adipisci animi consequuntur excepturi autem. </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal View  -->
<div class="modal fade" id="viewmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">What is CM Kisan scheme?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body view-form">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label for="form-label">Answer</label>
                                    <label class="form-value">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab
                                        aliquam optio ea laboriosam facilis necessitatibus illum delectus, iste aut sint
                                        porro voluptate saepe reprehenderit, vero adipisci animi consequuntur excepturi
                                        autem.</label>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label for="form-label">सीएम किसान योजना </label>
                                    <label class="form-value">
                                        लोरेम इप्सम डोलोर, सिट अमेत कंसिक्टेटुर एडिपिसिकिंग एलीट। अब आलिकम ऑप्टियो ईआ लेबरियोसाम फासिलिस आवश्यकताबुस इलुम डिलेक्टुस, इस्टे ऑट सिंट पोर्रो वोलुप्टेटे साएप रेप्रेहेंडेरिट, वेरो एडिपिस्की आनी कोंसेक्वुंटूर एक्सेप्टुरी ऑटेम।</label>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>