<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs" routerLinkActive="active">
                    <li class="nav-item">
                        <a routerLink="/application/mngfaq" class="nav-link">Add</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/mngfaq-view" class="nav-link active">View</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 ">
                <div class="utilite float-end mb-1">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory </span>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ngbTooltip="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ngbTooltip="Delete Record"><i class="bi bi-trash"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ngbTooltip="Download"><i class="bi bi-download"></i></a>
                        </li>
                        <li><a href="javascript:void(0)" ngbTooltip="Go to Previous"><i
                                    class="bi bi-arrow-left"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-box content-area p-0">
        <div class="table-responsive">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th width="50">
                            <input class="form-check-input" type="checkbox">
                        </th>
                        <th width="50">Sl#</th>
                        <th>Question</th>
                        <th>Question in Hindi</th>
                        <th width="100">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td> 1 </td>
                        <td>
                            Lorem, ipsum.
                        </td>
                        <td> Lorem, ipsum.</td>
                        <td>
                           <div class="d-flex gap-1">
                            <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View">
                                <i class="bi bi-eye"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                <i class="bi bi-pencil"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                <i class="bi bi-trash3"></i></a>
                           </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td> 2 </td>
                        <td>
                            Lorem, ipsum.
                        </td>
                        <td> Lorem, ipsum.</td>
                        <td>
                            <div class="d-flex gap-1">
                             <a href="javascript:void(0);" class="btn btn-outline-success btn-sm">
                                 <i class="bi bi-eye"></i></a>
                             <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm">
                                 <i class="bi bi-pencil"></i></a>
                             <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm">
                                 <i class="bi bi-trash3"></i></a>
                            </div>
                         </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td> 3 </td>
                        <td>
                            Lorem, ipsum.
                        </td>
                        <td> Lorem, ipsum.</td>
                        <td>
                            <div class="d-flex gap-1">
                             <a href="javascript:void(0);" class="btn btn-outline-success btn-sm">
                                 <i class="bi bi-eye"></i></a>
                             <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm">
                                 <i class="bi bi-pencil"></i></a>
                             <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm">
                                 <i class="bi bi-trash3"></i></a>
                            </div>
                         </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td> 4 </td>
                        <td>
                            Lorem, ipsum.
                        </td>
                        <td> Lorem, ipsum.</td>
                        <td>
                            <div class="d-flex gap-1">
                             <a href="javascript:void(0);" class="btn btn-outline-success btn-sm">
                                 <i class="bi bi-eye"></i></a>
                             <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm">
                                 <i class="bi bi-pencil"></i></a>
                             <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm">
                                 <i class="bi bi-trash3"></i></a>
                            </div>
                         </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td> 5</td>
                        <td>
                            Lorem, ipsum.
                        </td>
                        <td> Lorem, ipsum.</td>
                        <td>
                            <div class="d-flex gap-1">
                             <a href="javascript:void(0);" class="btn btn-outline-success btn-sm">
                                 <i class="bi bi-eye"></i></a>
                             <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm">
                                 <i class="bi bi-pencil"></i></a>
                             <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm">
                                 <i class="bi bi-trash3"></i></a>
                            </div>
                         </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


