@import "../../../assets/scss/variables";

.lang-btn {
  padding: 3px 5px;
  cursor: pointer;
  border: none;
  font-size: 15px;  
  font-weight: bold;    
  color: black;
  background: none;
  outline: none;  /* Remove focus outline */
}

.lang-btn:hover {
  color: blue;  /* Change text color to blue on hover */
  text-decoration: none;
}

.navbar {
  &.header-utilities {
    a {
      color: var(--header-utilities-link);
      text-decoration: none;
      font-size: 0.9rem;
      padding: 0.2rem 0.1rem;
      &:hover {
        color: var(--header-text);
        // font-weight: bold;
      }
    }
    background-color: var(--header-utilities-bg);
    padding: 0.2rem;
  }
  .navbar-nav {
    .dropdown-menu {
      border: 0;
    }
  }
}

.skip-content {
  font-size: 0.7rem !important;
}

.theme-dark {
  .navbar-brand-img {
    &.light-img {
      filter: invert(1);
    }
  }
}

.nav-item {
  border-bottom: 1px dashed var(--faq-border);
  .nav-link {
    color: var(--about-text);
    &.active {
      color: var(--menu-hover);
      position: relative;
      font-weight: bold;
    }
  }
  &.active {
    > a {
      color: var(--link-color);

    }
  }
  .dropdown-item.active, .dropdown-item:active{
    // background-color: var(--about-bg-tap);
    color: var(--link-color);
    background-color: transparent;
  }
  &:last-child {
    border-bottom: 0;
  }
}

.dropdown > a {
  i {
    font-size: 0.8rem;
  }
}

.menu-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: 2.5rem;
  margin: 0 1rem;
  justify-content: center;
  color: var(--link-color);
  &:hover {
    color: var(--menu-hover);
  }
  &.menu-open {
    i {
      font-size: 1.6rem;
      color: var(--menu-hover);
      &.menu-close {
        color: #fff;
        font-size: 1.6rem;
      }
    }
  }
}

.mega-menu {
  position: absolute;
  display: none;
  top: 7.7rem;
  right: 16%;
  width: auto;
  max-width: 100%;
  min-width: 35rem;
  background-color: var(--header-utilities-bg);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  &.ng-trigger {
    &.ng-trigger-fadeIn {
      display: block; /* Show on condition */
    }
  }
  li {
    list-style: none;
    a {
      padding: 0;
      text-decoration: none;
      color: var(--text-black);
      font-weight: bolder;
      display: block;
      position: relative;
      &:hover {
        &::after {
          display: none;
        }
      }
      &.active {
        color: var(--menu-hover);
        
        &::after {
          position: absolute;
          content: "";
          background-color: var(--menu-hover);
          width: 75%;
          height: 2px;
          left: 0;
          margin: 0 auto;
          right: 0;
          text-align: center;
          bottom: -5px;
          
        }
      }
    }
    ul {
      margin-top: 1rem;
      padding-left: 0;
      li {
        margin-bottom: 0.5rem;

        a {
          font-weight: normal;
          position: relative;
          padding: 0 0 0 1.3rem;
          &::before {
            position: absolute;
            content: "\f288";
            top: 4px;
            font-size: 0.7rem;
            left: 0;
            font-family: bootstrap-icons !important;
            color: var(--btnstyle-two-text);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .mega-menu {
    right: 22%;
  }
}

.topheader, .logocontext {
  background-color: var(--header-utilities-bg);
  transition: top 0.3s ease;
}

.topheader {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  position: fixed; /* Keep it fixed at the top */
  top: 0; /* Start at the top */
  width: 100%;
}

.hidden {
  display: none;
  transform: translateY(-100%); /* Move it up out of view */
  pointer-events: none; /* Prevent interaction */
}

.scroll-up {
  display: block; /* Fully visible */
  transform: translateY(0); /* Reset to original position */
  background-color: rgba(255, 255, 255, 0.8); /* Example style */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Example shadow */
}

.dark-img {
  width: 40px;
}

.logocontext {
  position: fixed;
  width: 100%;
  // top: 6.8rem;
  top: 0;
  transition: transform 0.3s ease; /* Smooth transition */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  &.scrolllogo {
    top: 0;    
  }
  &.headtoggle {
    top: 2.1rem;
  }
}

.is-hidden {
  transform: translateY(-252%);
}

.navbar-toggler {
  padding: 0;
  border: none;
  span {
    font-size: 2rem;
    color: var(--link-color);
  }
  &:focus {
    box-shadow: none;
  }
}

.cancle-icon {
  color: var(--menu-hover);
}

.serach-icon {
  color: var(--lang-text);
  &:hover {
    color: var(--menu-hover);
  }
}

#search-open {
  position: absolute;
  width: 100%;
  top: 36px;
  margin: 0 auto;
  padding: 1.1rem;
  background-color: var(--header-utilities-bg);
  // background: #f1f1f1;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 11;
  .input-group-text {
    border: none;
    padding: 0.7rem 1.1rem;
    background: var(--primary-color);
    color: var(--text-white);
  }
  .input-group-text {
    i {
      font-size: 1.3rem;
    }
  }
  .form-control {
    height: 54px;
    border: none;
    background-color: var(--search-bg);
    ::placeholder {
      color: $grey-500;
    }
    ::-ms-input-placeholder {
      color: $grey-500;
    }
  }
}

.theme {
  border: 1px solid var(--top-bar-text);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
  //   background-color: #ebf7ff;
  &:hover {
    background-color: #ebf7ff;
  }
  &-mode {
    position: relative;
    display: flex;
    z-index: 1;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      &:checked ~ span {
        background-color: var(--top-bar-text);
        color: var(--switch-icon);
        z-index: -1;
      }
    }

    span {
      display: flex;
      padding: 0.2rem 0.3rem 0.1rem 0.4rem;
      color: var(--theme-icon);
      line-height: 1.2;
    }

    i {
      font-size: 0.85rem;
    }
  }
}

.logo__section {
  h1 {
    a {
      font-weight: 700;
      font-size: 1.45rem !important;
      margin-bottom: 0;
    }
  }
}

.lang-div {
  span {
    color: var(--lang-text);
    cursor: pointer;
    display: block;
    line-height: 0;
    margin-top: 2.5px;
    &:hover {
      color: var(--header-text);
      // font-weight: bold;
    }
  }
  padding: 0.3rem 0 0.1rem;
}
.logocontext {
  padding: 0.6rem 0;
  border-top: 1px solid var(--top-header-border);
  h1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0.6rem;
    .logo-text {
      display: grid;
      color: var(--text-black);
      letter-spacing: 0.7px;

      span {
        font-size: 1rem;
        font-weight: bold;
      }
      small {
        font-size: 0.575rem;
        font-weight: bold;
        color: var(--logo-small);
      }
      .gov {
        font-size: 0.55rem;
        line-height: 1.2;
        display: block;
        font-weight: normal;
      }
    }
  }
}

.mega-menutitle {
  border-bottom: 1px dashed var(--faq-border);
  padding: 0 0 0.5rem;
  display: flex;
  justify-content: space-between;
  h1 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    .logo-text {
      display: grid;
      color: var(--text-black);
      letter-spacing: 0.7px;

      span {
        font-size: 1.3rem;
        font-weight: bold;
      }
      small {
        font-size: 0.775rem;
        font-weight: bold;
        color: var(--logo-small);
      }
      .gov {
        font-size: 0.75rem;
        line-height: 1.2;
        display: block;
        font-weight: normal;
      }
    }
  }
}

.light-img {
  width: 33px;
}

.dark-img {
  width: 33px;
}

.offcanvas-header {
  justify-content: space-between;
  border-bottom: 1px dashed var(--faq-border);
  .offcanvas-title {
    color: var(--text-black);
  }
  .btn {
    &.close-btn {
      background-color: transparent !important;
      padding: 0;
      span {
        color: var(--toggle-btn) !important ;
        font-size: 1.3rem;
      }
    }
  }
}

@media (min-width: 375px) {
  .skip-content {
    font-size: 0.9rem !important;
  }
  .navbar {
    &.header-utilities {
      a {
        text-decoration: none;
        font-size: 0.9rem;
        padding: 0.2rem 0.1rem;
      }
    }
  }
  .skip-content {
    font-size: 0.9rem;
  }
  .navbar-toggler {
    padding: 0.2rem !important;
  }
  .slide-main--heading {
    font-size: 1.675rem;
  }
  .about__container {
    .about__img {
      height: 17.975rem;
      width: 17.975rem;
    }
  }
  .logocontext {
    h1 {
      .logo-text {
        span {
          font-size: 1.1rem;
        }
        small {
          font-size: 0.675rem;
        }
      }
    }
  }
}

@media screen and (min-width: 576px)  {
  .logocontext {
    padding: 0.4rem 0;
    h1 {
      margin-left: 0;
      .logo-text {
        span {
          font-size: 1.7rem;
        }
        small {
          font-size: 0.875rem;
        }
      }
    }
  }
  .theme {
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    &-mode {
      position: relative;
      display: flex;
      z-index: 1;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }

      span {
        display: flex;
        padding: 0.2rem 0.3rem 0.1rem 0.3rem;
        color: var(--theme-icon);
        line-height: 1.2;
      }

      i {
        font-size: 0.85rem;
      }
    }
  }
  .navbar {
    &.header-utilities {
      a {
        font-size: 1rem !important;
        padding: 0.2rem 0.3rem 0;
        &.fontresize {
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
  .light-img {
    width: 43px;
  }
  .dark-img {
    width: 43px;
  }
  .logocontext {
    h1 {
      .logo-text {
        span {
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media screen and (min-width: 992px)  {
  .logocontext {
    padding: 0.8rem 0;
  }
  .megamenu-container {
    position: relative;
    height: auto;
    span {
      position: absolute;
      right: -29px;
      background: #d7182ae3;
      border-radius: 100%;
      height: 29px;
      top: -25px;
      color: #fff;
      width: 29px;
      text-align: center;
      padding: 0.2rem;
      font-size: 1rem;
    }
    .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .nav-item {
        border-bottom: none;
        .nav-link {
          ul {
            padding-left: 0;
            li {
              padding: 0 7rem 1.5rem;
            }
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  .navbar-brand-img {
    width: 42px;
  }
  .navbar-expand-lg {
    .navbar-nav {
      .nav-item {
        border-bottom: none;
        // padding: 0.3rem 0.5rem !important;
        .nav-link {
          // padding: 0.3rem;
          font-weight: normal;
        }
        &.active {
          > a {
            position: relative;
            font-weight: 600;
            &::after {
              position: absolute;
              content: "";
              background-color: var(--link-color);
              width: 75%;
              height: 2px;
              left: 0;
              margin: 0 auto;
              right: 0;
              text-align: center;
              bottom: 0px;
            }
          }
        }
      }
    }
  }
  .logocontext {
    h1 {
      .logo-text {
        small {
          .gov {
            font-size: 0.75rem;
            line-height: 1.2;
            display: block;
            font-weight: normal;
          }
        }
        // span{
        //     font-size: 1.6rem;
        // }
      }
    }
  }
  .fontresizer {
    a {
      padding: 0.3rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .btn-login {
    margin-left: 1rem;
  }
  .navbar-nav {
    .dropdown-menu {
      border: 0;
      box-shadow: 0 0.5rem 1rem rgba(24, 24, 24, 0.15);
    }
  }
  .logocontext:not(.headtoggle) {
    padding: 0.3rem 0;
    h1 {
      .logo-text {
        span {
          font-size: 0.9rem;
        }
      }
    }
    .navbar-brand-img {
      width: 35px;
    }
  }
  .navbar-expand-lg {
    .navbar-nav {
      font-size: 1.2rem;
      .nav-item {
        border-bottom: none;
        // padding: 0.3rem 0.8rem;
        .nav-link {
          padding: 0.3rem 1rem;
          font-weight: normal;
        }
      }
    }
  }
  .navbar-nav {
    .nav-item {
      // padding: 0.3rem 0.5rem;
      .nav-link {
        padding: 0 1.5rem;
        position: relative;
        &:hover {
          color: var(--menu-hover);
          font-weight: normal;
          // &::after {
          //   position: absolute;
          //   content: "";
          //   background-color: var(--menu-hover);
          //   width: 75%;
          //   height: 2px;
          //   left: 0;
          //   margin: 0 auto;
          //   right: 0;
          //   text-align: center;
          //   bottom: 0px;
          // }
        }
        &.active {
          // color: var(--menu-hover);
          &::after {
            position: absolute;
            content: "";
            background-color: var(--menu-hover);
            width: 60%;
            height: 2px;
            left: 0;
            margin: 0 auto;
            right: 0;
            text-align: center;
            bottom: 0px;
          }
        }
      }
    }
  }
  .fontresizer {
    display: block;
    a {
      padding: 0.3rem;
      font-weight: 500;
      padding: 0.2rem 0.3rem;
    }
  }
}

@media screen and (min-width: 1400px)  {
  .navbar-brand-img {
    width: 45px;
  }
  .navbar-expand-lg {
    .navbar-nav {
      .nav-item {
        border-bottom: none;
        // padding: 0.3rem 0.8rem !important;
        .nav-link {
          // padding: 0.3rem;
          font-weight: normal;
        }
      }
    }
  }
}

@media screen and (max-width: 768px)  {
  .btn-login {
    display: flex;
  }
}