<div class="inner-area">
    <div class="bannerarea">
        <div class="container">
            <div class="bannerarea-content">
                <div>
                    <div class="page-title">
                        <h2>Complaint Registration</h2>
                    </div>
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb  mb-0">
                                <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Complaint Registration</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-area" id="targetMainContent">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="complaint-status ">
                        <div class="row">
                            <div class="col-lg-8">

                                <div class="row">
                                    <div class="col-xl-12">
                                        <h5 class="page-heading mt-0">General Information</h5>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="view-form">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Complaint Number</label>
                                                        <label class="form-control-plaintext">202410230124</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Registration Date</label>
                                                        <label class="form-control-plaintext">23-Oct-2024</label>
                                                    </div>
                                                </div>


                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Name</label>
                                                        <label class="form-control-plaintext">Krishanumar</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">E-Mail</label>
                                                        <label class="form-control-plaintext">gmail.com</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Phone No</label>
                                                        <label class="form-control-plaintext">8789952814</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Attached File</label>
                                                        <label class="form-control-plaintext">No File to
                                                            Show</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Address</label>
                                                        <label class="form-control-plaintext">Vill-Bhatgawan, ward
                                                            no-11</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12">
                                        <h5 class="page-heading">Complaint Details</h5>
                                    </div>
                                    <div class="col-xl-12">
                                        <div class="view-form">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">District</label>
                                                        <label class="form-control-plaintext">SAMASTIPUR</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Block</label>
                                                        <label class="form-control-plaintext">CHAUSA</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Panchayat</label>
                                                        <label class="form-control-plaintext">ARAJIPUR WEST</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Village Name</label>
                                                        <label class="form-control-plaintext">-</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Complaint Category</label>
                                                        <label class="form-control-plaintext">Piped Water Supply
                                                            Related</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label">Complaint Sub-Category</label>
                                                        <label class="form-control-plaintext">Operator does not runs the
                                                            motor</label>
                                                    </div>
                                                </div>


                                                <div class="col-md-12">
                                                    <div>
                                                        <label class="form-label">Complaint Details</label>
                                                        <label class="form-control-plaintext">Sir, about a year ago, the
                                                            motor of the borewell had fallen inside the borewell, due to
                                                            which its filter had burst and the dirty water was
                                                            continuously reaching the villagers, hence a complaint was
                                                            also made on this issue about 3- 4 months ago Complaint
                                                            number-202408200057 but till now no action has been taken on
                                                            this, hence action should be taken as soon as possible
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="progress-wrap">
                                    <ul class="StepProgress">
                                        <li class="stepProgress-item is-done">
                                            <ul>
                                                <li>Complaint Number- <strong>202411120001</strong></li>
                                                <li>Registration Date- <strong>12-Nov-2024</strong></li>
                                                <li>Complaint Name- <strong>Rajendra Kumar Singh</strong></li>
                                                <li>Status- <span class="badge bg-primary">Open</span></li>
                                            </ul>
                                        </li>
                                        <li class="stepProgress-item is-done">
                                            <ul>
                                                <li>Action Taken By- <strong class="d-block">JE Muzaffarpur 1 ( Level-1, +91-7979040112 )</strong></li>
                                                <li>Action Taken on- <strong>12-Nov-2024</strong></li>
                                               
                                                <li>Status- <span class="badge bg-primary">Complaint Received</span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="stepProgress-item">
                                            <ul>
                                                <li>Action Taken By- <strong class="d-block">SDO ( Level-2 )</strong></li>
                                                <li>Action Taken on- <strong>17-Nov-2024</strong></li>
                                                <li>Status- <span class="badge bg-primary">Open</span></li>
                                            </ul>
                                        </li>
                                        <!--  <li class="stepProgress-item"><strong>Handover</strong></li>
                                        <li class="stepProgress-item"><strong>Provide feedback</strong></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>