<div class="inner-area">
    <div class="bannerarea">
      <div class="container">
        <div class="bannerarea-content">
          <div>
            <div class="page-title">
              <h2>Complaint Registration</h2>
            </div>
            <div class="breadcrumb-area">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb  mb-0">
                  <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                  <li class="breadcrumb-item active" aria-current="page">Complaint Registration</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-area" id="targetMainContent">
      <div class="container">
        <div class="form-title">
          <h4 class="fw-bold">Complaint Registration</h4>
          <small class="text-danger">(<strong>*</strong>) indicates Manditory</small>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="complaint-status">
                <div class="row">
                    <div class="col-xl-12">
                        <h5 class="page-heading">General Information</h5>
                    </div>
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Complaint Number</label>
                                    <label class="form-value">202410230124</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Registration Date</label>
                                    <label class="form-value">23-Oct-2024</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Received By</label>
                                    <label class="form-value">Helpline</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">E-Mail</label>
                                    <label class="form-value">gmail.com</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <label class="form-value">Krishanumar</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Gender</label>
                                    <label class="form-value">Male</label>
                                </div>
                            </div>
    
    
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <label class="form-value">Krishanumar</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Gender</label>
                                    <label class="form-value">Male</label>
                                </div>
                            </div>
    
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Phone No</label>
                                    <label class="form-value">8789952814</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Attached File</label>
                                    <label class="form-value">No File to Show</label>
                                </div>
                            </div>
    
    
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Address</label>
                                    <label class="form-value">Vill-Bhatgawan, ward no-11</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Action File</label>
                                    <label class="form-value">No File to Show</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-xl-12">
                        <h5 class="page-heading">Complaint Details</h5>
                    </div>
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">District</label>
                                    <label class="form-value">MADHEPURA</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Block</label>
                                    <label class="form-value">CHAUSA</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Panchayat</label>
                                    <label class="form-value">ARAJIPUR WEST</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Village Name</label>
                                    <label class="form-value"></label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Complaint Category</label>
                                    <label class="form-value">Piped Water Supply Related</label>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Complaint Sub-Category</label>
                                    <label class="form-value">Operator does not runs the motor</label>
                                </div>
                            </div>
    
    
                            <div class="col-xl-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Complaint Details</label>
                                    <label class="form-value">पंप चालक वार्ड न०- 11 में सप्लाई का पानी समय से नहीं चलाता
                                        है अतः उचित कार्यवाई करके सप्लाई का पानी सुचारू रूप से चलाया जाय|</label>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="progress-wrap">
                    <ul class="StepProgress">
                        <li class="stepProgress-item is-done">
                            <ul>
                                <li>Complaint Number- <strong>202411120001</strong></li>
                                <li>Registration Date- <strong>12-Nov-2024</strong></li>
                                <li>Complaint Name- <strong>Rajendra Kumar Singh</strong></li>
                                <li>Status- <span class="badge bg-primary">Open</span></li>
                            </ul>
                        </li>
                        <li class="stepProgress-item is-done">
                            <ul>
                                <li>Action Taken By- <strong>JE Muzaffarpur 1 (7979040112)</strong></li>
                                <li>Action Taken on- <strong>12-Nov-2024</strong></li>
                                <li>Status- <span class="badge bg-primary">Open</span></li>
                            </ul>
                        </li>
                        <li class="stepProgress-item current"><strong>Post a contest</strong></li>
                        <li class="stepProgress-item"><strong>Handover</strong></li>
                        <li class="stepProgress-item"><strong>Provide feedback</strong></li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
