<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
                <h3>Minister Profile</h3>
                <!-- <p>Manage your page</p> -->
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite">
                    <ul class="mb-0">
                       

                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" title="Download Excel"><i class="bi bi-file-earmark-excel"></i></a>
                        </li>

                       
                        
                        <li class="fill-btn add-link"><a routerLink="/application/minister-profile/add"  title="Go to Previous"><i class="bi bi-plus-lg"></i>
                                Add Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    


    <div class="view-legand">
        <ul class="legends">
            <li><span class="bg-success"></span> Publish </li>
            <li><span class="bg-danger"></span> Unpublish </li>
        </ul>
    </div>

    <div class="content-box content-area p-0">
        <div class="table-responsive mb-0">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th width="30px">
                            <input type="checkbox" class="form-check-input">
                        </th>
                        <th width="40px">Sl#</th>
                        <th>Profile Photo</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Message</th>
                        <th width="70px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="publish">
                        <td><input type="checkbox" class="form-check-input"></td>
                        <td>1</td>
                        <td>
                            
                            <img src="./assets/img/male-profile.jpg" alt="Profile Image" class="profile-img img-fluid rounded-circle"> 
                          
                        </td>
                        <td>Shri Nitish Kumar</td>
                        <td>Chief Minister Of Bihar</td>
                        <td>Our government is dedicated to ensuring that every household in Bihar has access to safe, clean drinking water through the PHED's robust infrastructure.</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="unpublish">
                        <td><input type="checkbox" class="form-check-input"></td>
                        <td>2</td>
                        <td>
                            
                            <img src="./assets/img/male-profile.jpg" alt="Profile Image" class="profile-img img-fluid rounded-circle">
                           
                        </td>
                        <td>Shri Nitish Kumar</td>
                        <td>Chief Minister Of Bihar</td>
                        <td>Our government is dedicated to ensuring that every household in Bihar has access to safe, clean drinking water through the PHED's robust infrastructure.</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr class="publish">
                        <td><input type="checkbox" class="form-check-input"></td>
                        <td>3</td>
                        <td>
                            
                            <img src="./assets/img/male-profile.jpg" alt="Profile Image" class="profile-img img-fluid rounded-circle">
                          
                        </td>
                        <td>Shri Nitish Kumar</td>
                        <td>Chief Minister Of Bihar</td>
                        <td>Our government is dedicated to ensuring that every household in Bihar has access to safe, clean drinking water through the PHED's robust infrastructure.</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="publish">
                        <td><input type="checkbox" class="form-check-input"></td>
                        <td>4</td>
                        <td>
                            <img src="./assets/img/male-profile.jpg" alt="Profile Image" class="profile-img img-fluid rounded-circle">
                        </td>
                        <td>Shri Nitish Kumar</td>
                        <td>Chief Minister Of Bihar</td>
                        <td>Our government is dedicated to ensuring that every household in Bihar has access to safe, clean drinking water through the PHED's robust infrastructure.</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="unpublish">
                        <td><input type="checkbox" class="form-check-input"></td>
                        <td>5</td>
                        <td>
                            <img src="./assets/img/male-profile.jpg" alt="Profile Image" class="profile-img img-fluid rounded-circle">
                        </td>
                        <td>Shri Nitish Kumar</td>
                        <td>Chief Minister Of Bihar</td>
                        <td>Our government is dedicated to ensuring that every household in Bihar has access to safe, clean drinking water through the PHED's robust infrastructure.</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal View  -->
<div class="modal fade" id="viewmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Shri Nitish Kumar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body view-form">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="mb-3">
                                    <!-- <label class="form-label d-block">Profile Photo</label> -->
                                    <img src="./assets/img/male-profile.jpg" alt="Profile Image" class="profile-img img-fluid rounded-circle">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <label class="form-value">Shri Nitish Kumar</label>
                                </div>
                            </div>
    
                            <!-- <div class="col-xl-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Name in Hindi</label>
                                    <label class="form-value">श्री नीतीश कुमार</label>
                                </div>
                            </div>
                        </div>
    
                        <div class="row"> -->
                            <div class="col-xl-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Designation</label>
                                    <label class="form-value">Chief Minister Of Bihar</label>
                                </div>
                            </div>
    
                            <!-- <div class="col-xl-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Designation in Hindi</label>
                                    <label class="form-value">बिहार के मुख्यमंत्री</label>
                                </div>
                            </div>
                            
                        </div>

                        <div class="row"> -->
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Message</label>
                                    <label class="form-value">
                                        Our government is dedicated to ensuring that every household in Bihar has access to safe, clean drinking water through the PHED's robust infrastructure.
                                    </label>
                                </div>
                            </div>
    
                            <!-- <div class="col-xl-12 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Message in Hindi</label>
                                    <label class="form-value">हमारी सरकार यह सुनिश्चित करने के लिए समर्पित है कि पीएचईडी के मजबूत बुनियादी ढांचे के माध्यम से बिहार के हर घर में सुरक्षित, स्वच्छ पेयजल पहुंच सके।</label>
                                </div>
                            </div>
                             -->
                        </div>
    
                       
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>