<div class="inner-area">
    <div class=" bannerarea">
            <div class="page-title" >
                <h2>Gallery Details</h2>
            </div>
            <div class="breadcrumb-area">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/home']"><i class="icon icon-Group-14936"></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">Gallery Details</li>
                    </ol>
                </nav>
            </div>
      
        
    </div>
    <div class="content-area " id="targetMainContent">
        <div class="container">
            <div id="photogallery" class="row g-3 g-xxl-3">
                <div  class="col-6 col-md-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                        </div>
                     <a  href="javascript:void(0);" class="overly-link"></a>
                     </div>
                </div>
                <div  class="col-6 col-md-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-three.jpg" data-src="../../assets/img/galleryimg-three.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-three.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                        </div>
                  
                     </div>
                </div>
                <div  class="col-6 col-md-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-two.jpg" data-src="../../assets/img/galleryimg-two.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-two.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                        </div>
                   
                     </div>
                </div>
                <div  class="col-6 col-md-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                        </div>
                   
                     </div>
                </div>
                <div  class="col-6 col-md-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                        </div>
                   
                     </div>
                </div>
                <div  class="col-6 col-md-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                        </div>
                    
                     </div>
                </div>
                <div  class="col-6 col-md-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                        </div>
                   
                     </div>
                </div>
                <div  class="col-6 col-md-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                        </div>
                    
                     </div>
                </div>
            </div>

            </div>
    </div>
</div>
