<!--Banner Start -->
<section class="creative-parallax--slider py-0">

    <div class="slider-inner">
        <div class="slider-row">
            <div class="parallax-slider slider-wrap">
                <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide" style="background-image: url('../../assets/img/banner.jpg');">
                        
                            <div class="swiper-slide--inner">
                                <div class="container">
                                <div class="slide-detail">
                                    <div class="slide-main--subheading">
                                        <span class="welcome"><i class="fa-solid fa-award"></i>Welcome to Neer Nirmal Seva</span>
                                    </div>
                                    <div class="slide-main--heading">
                                        <div class="from-left">Ensuring Clean Water</div>
                                        <div class="from-right"> for Every Drop of Life</div>
                                    </div>
                                  
    
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <!-- <div class="swiper-slide" style="background-image: url('../../assets/img/banner.jpg');">
                        <div class="swiper-slide--inner">
                          
                            <div class="slide-detail">
                                <div class="slide-main--subheading">
                                    <span class="welcome"><i class="fa-solid fa-award"></i>Welcome to Neer Nirmal Seva</span>
                                </div>
                                <div class="slide-main--heading">
                                    <div class="from-left">Ensuring Clean Water</div>
                                    <div class="from-right"> for Every Drop of Life</div>
                                </div>
                              

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url('../../assets/img/banner.jpg');">
                        <div class="swiper-slide--inner">
                          
                            <div class="slide-detail">
                                <div class="slide-main--subheading">
                                    <span class="welcome"><i class="fa-solid fa-award"></i>Welcome to Neer Nirmal Seva</span>
                                </div>
                                <div class="slide-main--heading">
                                    <div class="from-left">Ensuring Clean Water</div>
                                    <div class="from-right"> for Every Drop of Life</div>
                                </div>
                              

                            </div>
                        </div>
                    </div> -->

                </div>
                <div class="swiper-pagination"></div>
               
            </div>
        </div>

    </div>


</section>


<!--Banner End -->

<!--Notification Start -->
<section>
<div class="notification">
    <div class="container">
        <div class="notification-wrapper">
            <div class="wrapper-title">
                What's New
            </div>
            <div class="wrapper-content">
                <div class="wrapper-item">
                    <a class="wrapper-items" href="javascript:void(0);">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a>
                    <a class="wrapper-items" href="javascript:void(0);">Donec volutpat, tortor a interdum fermentum.</a>
                    <a class="wrapper-items" href="javascript:void(0);">Fusce molestie interdum metus a finibus.</a>
                    <a class="wrapper-items" href="javascript:void(0);">Proin et aliquam libero. </a>
                </div>
            </div>
            <div >
             Read More
            </div>
        </div>
    </div>
</div>
 
</section>
<!--Notification End -->



<!--CM Message Start -->
<section class="cm-message"  id="targetMainContent">
    <div class="container">
       <div class="row align-items-center">
        <div  class="col-lg-4 ">
            <div class="d-flex align-items-center justify-content-lg-start justify-content-center mb-lg-0 mb-2 flex-md-row flex-column ">
                <div class="minister-photo">
                    <img src="../../assets/img/cm.jpg" alt="Hon'ble  minister">
                </div>
                <div class="minister-text">
                    <span class="h5">Shri Nitish Kumar</span>
                    <div class="d-block"> Chief Minister Of Bihar </div>
                </div>
            </div>
           
        </div>
        <div class="col-lg-8">
           <p class="mb-0">Our government is dedicated to ensuring that every household in Bihar has access to safe, clean drinking water through the PHED's robust infrastructure. With initiatives like 'Har Ghar Nal Se Jal,' we are committed to improving public health and water supply across the state, leaving no village behind.</p>
        </div>
       </div>
    </div>
</section>
<!--CM Message End -->

<!--About Us Start --> 
<section class="about">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-lg-6  order-lg-1 order-2">
               <h3 class="about__header"> About <span>PHED Bihar</span></h3>
               <p>The Public Health Engineering Department (PHED), Govt of Bihar has the overall responsibility of managing and monitoring activities to enhance public health in the state of Bihar. Improved portable water supply and services are critical to enhance public health and improve human development outcomes,</p>
               <a routerlink="/about-us"  class="btn btn-outline-primary know-more">Know More</a>
            </div>
            <div class="col-lg-6 order-lg-2 order-1">
               <div class="about__container">
                   <div class="about__img">
                       <img src="../../assets/img/aboutus.jfif" alt="About us">
                   </div>
                   <div class="about__imgtap">
                       <span class="icon icon-faucet"></span>
                   </div>
               </div>
              
            </div>
           </div>
    </div>
   
</section>
<!-- About Us End -->

<!-- Data Start -->
<section class="data">
   <div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-grivance">
                <div class="card-body">
                     <h3>Grievance Status</h3>
                     <p>Check the current status and progress of your grievance here.</p>
                     <div class="data__details d-flex align-items-center justify-content-center flex-md-row flex-column">
                        <input type="text" class="form-control" placeholder="Enter Complaint No.">
                        <div class="data__details__or">- or -</div>
                        <input type="text" class="form-control" placeholder="Enter Complaint No.">
                     </div>
                     <a href="javascript:void(0)" class="btn  btnstyle-one" data-bs-toggle="modal" data-bs-target="#exampleModal">Know More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-complaint">
                <div class="card-body">
                    <div>
                        <h3>Register Your Complaint for Review</h3>
                        <p>We value your feedback; kindly share your complaint to help us ensure quality service and satisfaction for all customers.</p>
                      <div class="text-lg-end">
                        <a href="javascript:void(0)" class="btn  btnstyle-two">Register</a>
                      </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

<div class="statics">
    <h3 class="heading-styletwo mb-0">Complaint Statistics</h3>
    <div class="statics-container">
       <ul>
        <li>
            <h3>8,57,000</h3>
            <small>Total Complaints <span>Logged</span> </small>
        </li>
        <li>
            <h3>7,33,000</h3>
            <small>Complaints <span>Closed</span></small>
        </li>
        <li>
            <h3>1,24,000</h3>
            <small>Active <span>Complaints</span></small>
        </li>
        <li>
            <h3>3 Days</h3>
            <small>Average Time <span>to Resolve</span></small>
        </li>
       </ul>
    </div>
</div>

   </div>
</section>
<!-- Data End -->


<!-- Events and Gallery Start -->
<section class="news">
  <div class="container">
    <div class="row gx-lg-5">
       <div class="col-lg-5 col-12">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="heading-styletwo mb-0">News & Events</h3>
            <a class="view-link" href="javascript:void(0)"> View All <span  class="bi bi-arrow-right"></span></a>
        </div>
             
           <div class="events position-relative">
                  <div class="events__details">
                       <div class="events__details__thumbnail">
                            <img src="../../assets/img/eventimg-one.jpg" alt="News & Events"/>
                       </div>
                       <div class="events__details__text">
                        <p>Announcement of new water supply projects for underserved areas in Bihar.</p>
                        <small><span class="bi bi-calendar-week me-2"></span> 15 November 2023</small>
                       </div>
                  </div>
                  <a href="javascript:void(0);" class="stretched-link"></a>
           </div>
           <div class="events position-relative">
            <div class="events__details">
                 <div class="events__details__thumbnail">
                      <img src="../../assets/img/eventimg-two.jpg" alt="News & Events"/>
                 </div>
                 <div class="events__details__text">
                  <p>Announcement of new water supply projects for underserved areas in Bihar.</p>
                  <small> <span class="bi bi-calendar-week me-2"></span> 15 November 2023</small>
                 </div>
            </div>
            <a href="javascript:void(0);" class="stretched-link"></a>
     </div>
     <div class="events position-relative">
        <div class="events__details">
             <div class="events__details__thumbnail">
                  <img src="../../assets/img/eventimg-three.jpg" alt="News & Events"/>
             </div>
             <div class="events__details__text">
              <p>Announcement of new water supply projects for underserved areas in Bihar.</p>
              <small> <span class="bi bi-calendar-week me-2"></span> 15 November 2023</small>
             </div>
        </div>
        <a href="javascript:void(0);" class="stretched-link"></a>
 </div>
       </div>
       <div class="col-lg-7 mt-4 mt-lg-0">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="heading-styletwo mb-0">Photo Gallery</h3>
            <a class="view-link" href="javascript:void(0)" > View All <span  class="bi bi-arrow-right"></span></a>
        </div>
         <div id="photogallery" class="row g-3 g-xxl-3">
            <div  class="col-6 col-md-6 col-xl-6 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                <div class="gallery-img" >
                    <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                    <div class="img-hover">
                        <span class="bi bi-arrows-angle-expand"></span>
                    </div>
                 <a  href="javascript:void(0);" class="overly-link"></a>
                 </div>
            </div>
            <div  class="col-6 col-md-6 col-xl-6 gallery-item" data-responsive="../../assets/img/galleryimg-three.jpg" data-src="../../assets/img/galleryimg-three.jpg">
                <div class="gallery-img" >
                    <img class="gallerydetails-image" src="../../assets/img/galleryimg-three.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                    <div class="img-hover">
                        <span class="bi bi-arrows-angle-expand"></span>
                    </div>
                 <a  href="javascript:void(0);" class="overly-link"></a>
                 </div>
            </div>
            <div  class="col-6 col-md-6 col-xl-6 gallery-item" data-responsive="../../assets/img/galleryimg-two.jpg" data-src="../../assets/img/galleryimg-two.jpg">
                <div class="gallery-img" >
                    <img class="gallerydetails-image" src="../../assets/img/galleryimg-two.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                    <div class="img-hover">
                        <span class="bi bi-arrows-angle-expand"></span>
                    </div>
                 <a  href="javascript:void(0);" class="overly-link"></a>
                 </div>
            </div>
            <div  class="col-6 col-md-6 col-xl-6 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                <div class="gallery-img" >
                    <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                    <div class="img-hover">
                        <span class="bi bi-arrows-angle-expand"></span>
                    </div>
                 <a  href="javascript:void(0);" class="overly-link"></a>
                 </div>
            </div>
        </div>
       </div>
    </div>
  </div>
</section>


<!-- Events and Gallery End -->


<!-- FAQ Us Start -->
<section class="faq">
    <div class="container">
        <h3 class="heading-styletwo">Frequently Asked Questions (FAQs)</h3>
        <div class="row">
            <div class="col-lg-7 ">
               <div class="accordion faq-accordion" id="accordionExample">
                   <div class="accordion-item active">
                       <h2 class="accordion-header" id="headingOne">
                           <button class="accordion-button " type="button" data-bs-toggle="collapse"
                               data-bs-target="#collapseOne" aria-expanded="true"
                               aria-controls="collapseOne">
                               <span>1.</span> What is CM Kisan scheme?
                           </button>
                       </h2>
                       <div id="collapseOne" class="accordion-collapse collapse show"
                           aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab aliquam optio
                               ea laboriosam facilis necessitatibus illum delectus, iste aut sint porro
                               voluptate saepe reprehenderit, vero adipisci animi consequuntur excepturi
                               autem.
                           </div>
                       </div>
                   </div>
                   <div class="accordion-item">
                       <h2 class="accordion-header" id="headingTwo">
                           <button class="accordion-button collapsed" type="button"
                               data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                               aria-expanded="false" aria-controls="collapseTwo">
                               <span>2.</span> Who is eligible to get benefit under CM KISAN Scheme?
                           </button>
                       </h2>
                       <div id="collapseTwo" class="accordion-collapse collapse"
                           aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptate
                               quaerat quasi fugit earum unde itaque quo excepturi, possimus nam, odit
                               facilis magni iure assumenda ea. Ut minus dolorum voluptatum!
                           </div>
                       </div>
                   </div>
                   <div class="accordion-item">
                       <h2 class="accordion-header" id="headingThree">
                           <button class="accordion-button collapsed" type="button"
                               data-bs-toggle="collapse" data-bs-target="#collapseThree"
                               aria-expanded="false" aria-controls="collapseThree">
                               <span>3.</span> Who is small and marginal farmer?
                           </button>
                       </h2>
                       <div id="collapseThree" class="accordion-collapse collapse"
                           aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cum
                               blanditiis asperiores quidem repellendus, cupiditate corrupti fugit,
                               praesentium culpa illum nobis at atque possimus. Perspiciatis ullam quasi
                               dolores non est.
                           </div>
                       </div>
                   </div>
                   <div class="accordion-item">
                       <h2 class="accordion-header" id="headingfour">
                           <button class="accordion-button collapsed" type="button"
                               data-bs-toggle="collapse" data-bs-target="#collapsefour"
                               aria-expanded="false" aria-controls="collapseThree">
                               <span>4.</span> What are the benefits available to cultvators for culture under CM KISHAN
                               scheme?
                           </button>
                       </h2>
                       <div id="collapsefour" class="accordion-collapse collapse"
                           aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vel alias sed
                               doloribus et, sint voluptas autem? Obcaecati quae animi consectetur,
                               corporis velit officia officiis quisquam at sunt quam aliquid.
                           </div>
                       </div>
                   </div>
                   <div class="accordion-item">
                       <h2 class="accordion-header" id="headingfive">
                           <button class="accordion-button collapsed" type="button"
                               data-bs-toggle="collapse" data-bs-target="#collapsefive"
                               aria-expanded="false" aria-controls="collapseThree">
                               <span>5.</span> Is there any benefit for landless agriculture household?
                           </button>
                       </h2>
                       <div id="collapsefive" class="accordion-collapse collapse"
                           aria-labelledby="headingfive" data-bs-parent="#accordionExample">
                           <div class="accordion-body">
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum distinctio
                               sit velit, ipsam magnam perferendis suscipit sapiente, libero eveniet eum
                               consequatur sequi ut harum et quis nihil quo eligendi impedit?
                           </div>
                       </div>
                   </div>
               </div>
               <div class="faq__footer">
                   <!-- <div class="faq__footer__pagination">
                       Showing 5 out of 96
                   </div> -->
                   <div class="faq__footer__view">
                       <!-- <span>For more and scheme specific FAQs</span> -->
                       <a href="javascript:void(0)" class="btn btn-outline-primary know-more  ms-0 mt-sm-0 mt-2">View More</a>
                      
                   </div>
               </div>
            </div>
            <div class="col-lg-4  offset-lg-1 d-lg-block d-none text-center">
             <img src="../../assets/img/faq.png" />
              
            </div>
           </div>
    </div>
    
</section>
<!-- FAQ  Us End -->


<!-- Grievance Status Modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold " id="exampleModalLabel">Grievance Status</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Your Grievance Status is :-
           
       <div class="d-flex justify-content-between align-items-center grivence-status">
    <div> Pending At- <span class="fw-bold">Ramakant</span> </div>
    <div><span class="badge rounded-pill text-bg-warning">Pending</span></div>
       </div>

    

        </div>
       
      </div>
    </div>
  </div>
  <!-- Grievance Status Modal -->