<div class="inner-area">
  <div class="bannerarea">
    <div class="page-title">
      <h2> Events</h2>
    </div>
    <div class="breadcrumb-area">
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item">
            <a href="#"><i class="icon icon-Group-14936"></i></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
             Events
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content-area" id="targetMainContent">
    <div class="container">
      <div class="form-title">
       <h4 class="fw-bold">Online Complaint Registration</h4>
       <small class="text-danger">(<strong >*</strong> indicates Manditory)</small>
      </div>
    <div class="row">
      <!-- <div class="col-lg-4">
          <div class="form-group">
              <label for="Regd Date" class="form-label">Regd Date</label>
              <input type="date" class="form-control"  >
            </div>
      </div> -->
      <div class="col-lg-4">
        <div class="form-group">
            <label for="Name" class="form-label">Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control"  >
            <small class="text-danger d-block text-end">	(Maximum  <strong>100</strong>   Characters)</small>
          </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
          <label for="Phone Number" class="form-label">Phone Number <span class="text-danger">*</span></label>
          <input type="number" class="form-control"  >
        </div>
  </div>
      <div class="col-lg-4">
          <div class="form-group">
              <label for="District" class="form-label">District <span class="text-danger">*</span></label>
              <select class="form-select" >
                  <option selected>--Select--</option>
                  <option value="1">ARARIA</option>
                  <option value="2">ARWAL</option>
                  <option value="3">AURANGABAD</option>
                </select>
            </div>
      </div>
      <!-- <div class="col-lg-4">
          <div class="form-group">
              <label for="Mode of Complaint" class="form-label">Mode of Complaint <span class="text-danger">*</span></label>
              <select class="form-select" >
                  <option selected>--Select--</option>
                  <option value="1">Online</option>
                  <option value="2">Offline</option>
                </select>
            </div>
      </div> -->
      <div class="col-lg-4">
          <div class="form-group">
              <label for="Block" class="form-label">Block<span class="text-danger">*</span></label>
              <select class="form-select" >
                  <option selected>--Select--</option>
                  <option value="1">ARARIA</option>
                  <option value="2">ARWAL</option>
                  <option value="3">AURANGABAD</option>
                </select>
            </div>
      </div>
    
      <div class="col-lg-4">
          <div class="form-group">
              <label for="Panchyat" class="form-label">Panchyat <span class="text-danger">*</span></label>
              <select class="form-select" >
                  <option selected>--Select--</option>
                  <option value="1">Demo 1</option>
                  <option value="2">Demo 2</option>
                </select>
            </div>
      </div>
     
      <div class="col-lg-4">
          <div class="form-group">
              <label for="Panchyat" class="form-label">village <span class="text-danger">*</span></label>
              <select class="form-select" >
                  <option selected>--Select--</option>
                  <option value="1">Demo 1</option>
                  <option value="2">Demo 2</option>
                </select>
            </div>
      </div>
      <div class="col-lg-4">
          <div class="form-group">
              <label for="Complaint Category" class="form-label">Complaint Category <span class="text-danger">*</span></label>
              <select class="form-select" >
                  <option selected>--Select--</option>
                  <option value="1">Handpump Tubewell Related</option>
                  <option value="2">Miscellaneous</option>
                  <option value="3">Piped Water Supply Related</option>
                  <option value="4">Water Quality Related</option>
                </select>
            </div>
      </div>
      <div class="col-lg-4">
          <div class="form-group">
              <label for="Complaint Sub-Category" class="form-label">Complaint Sub-Category <span class="text-danger">*</span></label>
              <select class="form-select" >
                  <option selected>--Select--</option>
                  <option value="2">Miscellaneous</option>
                </select>
            </div>
      </div>
      <div class="col-lg-4">
          <div class="form-group">
              <label for="Upload Document" class="form-label">Upload Document</label>
              <input class="form-control" type="file" id="formFile">
              <small class="text-danger d-block text-end">Supported File Format(.pdf, .doc, .docx, .xls, .xlsx)</small>
            </div>
      </div>
      <div class="col-lg-4">
          <div class="form-group">
              <label for="Nature of Document" class="form-label">Nature of Document <span class="text-danger">*</span></label>
              <input type="text" class="form-control"  >
            </div>
      </div>
      <div class="col-lg-4">
          <div class="form-group">
              <label for="Address" class="form-label">Address</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
      </div>
      <div class="col-lg-4">
          <div class="form-group">
              <label for="Enter Complaint Description in Brief" class="form-label"> Complaint Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              <small class="text-danger d-block text-end">(Maximum  <strong>300</strong>   Characters)</small>
            </div>
      </div>
      <div class="col-12">
        <a  href="javascript:void(0)"  class="btn btnstyle-one me-2">Submit</a>
        <a  href="javascript:void(0)"  class="btn danger-btn">Reset</a>
      </div>
    </div>
    </div>
  </div>
</div>
