<!-- <div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs" routerLinkActive="active">
                    <li class="nav-item">
                        <a routerLink="/application/newsevent" class="nav-link">Add</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/newsevent-view" class="nav-link active">View</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 ">
                <div class="utilite float-end mb-1">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory </span>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ngbTooltip="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ngbTooltip="Delete Record"><i class="bi bi-trash"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ngbTooltip="Download"><i class="bi bi-download"></i></a>
                        </li>
                        <li><a href="javascript:void(0)" ngbTooltip="Go to Previous"><i
                                    class="bi bi-arrow-left"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="collapseExample" class="collapse">
        <div class="content-box search-box">
            <div class="row">
                <div class="col-xxl-3 col-lg-4">
                    <div class="mb-3">
                        <label class="form-label">Date From</label>
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" id="datepicker">
                            <label class="input-group-text bg-transparent border-start-0" for="datepicker">
                                <i class="bi bi-calendar-week"></i> </label>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4">
                    <div class="mb-3">
                        <label class="form-label">Date To</label>
                        <div class="input-group">
                            <input type="text" class="form-control datepicker" id="datepicker1">
                            <label class="input-group-text bg-transparent border-start-0" for="datepicker1">
                                <i class="bi bi-calendar-week"></i> </label>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4">
                    <div class="mb-3">
                        <label class="form-label d-md-block d-none">&nbsp;</label>
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="search-btn">
        <a data-bs-toggle="collapse" href="#collapseExample">
            <span class="collapse-on">Search Open <i class="bi bi-arrow-down"></i></span> <span
                class="collapse-off">Search Close <i class="bi bi-arrow-up"></i></span>
        </a>
    </div>
    <div class="content-box content-area p-0">
        <div class="table-responsive">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th width="50">
                            <input class="form-check-input" type="checkbox">
                        </th>
                        <th width="50">Sl#</th>
                        <th>Compliant Category</th>
                        <th>Compliant Category(H)</th>
                        <th width="100">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td> 1 </td>
                        <td>
                            25400126774535687
                        </td>
                        <td> 01-Sep-2022 </td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm me-1"><i
                                    class="bi bi-pencil"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm"><i
                                    class="bi bi-trash3"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td>2</td>
                        <td>
                            12400126774535683
                        </td>
                        <td> 20-Aug-2022 </td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm me-1"><i
                                    class="bi bi-pencil"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm"><i
                                    class="bi bi-trash3"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td>3</td>
                        <td>
                            34254001267745356
                        </td>
                        <td> 20-Aug-2022 </td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm me-1"><i
                                    class="bi bi-pencil"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm"><i
                                    class="bi bi-trash3"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td>4</td>
                        <td>
                            12600774589756145
                        </td>
                        <td> 20-Aug-2022 </td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm me-1"><i
                                    class="bi bi-pencil"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm"><i
                                    class="bi bi-trash3"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox">
                        </td>
                        <td>5</td>
                        <td>
                            25400126774535687
                        </td>
                        <td> 20-Aug-2022 </td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm me-1"><i
                                    class="bi bi-pencil"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm"><i
                                    class="bi bi-trash3"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->