<div class="form-cointainer">

    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
                <h3>Register Complaint</h3>
                <p>Manage your page</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite">
                    <ul class="mb-0">
                       

                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" title="Download Excel"><i class="bi bi-file-earmark-excel"></i></a>
                        </li>

                        <li [ngClass]="isPanelOpen ? 'active-filter' : ''">
                            <a href="javascript:void(0)" title="{{ isPanelOpen ? 'Click to Close Filter' : 'Click to Open Filter' }}" 
                               (click)="togglePanel()">
                                <i class="bi bi-funnel"></i>
                            </a>
                        </li>
                        
                        <li class="fill-btn add-link"><a routerLink="/application/newsevent"  title="Go to Previous"><i class="bi bi-plus-lg"></i>
                                Add Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


   
    <div id="collapseExample" class="collapse show" [ngClass]="{'show': isPanelOpen}">
        <div class="content-box search-box">
            <div class="row">
                <div class="col-xl-6 col-lg-4">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <textarea class="form-control" id="title" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4">
                    <div class="mb-3">
                        <label class="form-label d-md-block d-none">&nbsp;</label>
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="view-legand">
        <ul class="legends">
            <li><span class="bg-success"></span> Publish </li>
            <li><span class="bg-danger"></span> Unpublish </li>
        </ul>
    </div>
    <div class="content-box content-area p-0">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th width="30px">
                            <input class="form-check-input" type="checkbox">
                        </th>
                        <th width="40px">Sl#</th>
                        <th>Title</th>
                        <th>Thumb Image</th>
                        <th>Publish Date</th>
                        <th width="100">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="publish">
                        <td><input type="checkbox"></td>
                        <td> 1 </td>
                        <td>
                            Announcement of new water supply projects for underserved areas in Bihar
                        </td>
                        <td>
                            <div href="javascript:void(0);" class="img-banner">
                                <img src="./assets/img/login-bg.png" alt="Banner text">
                            </div>
                        </td>
                        <td> 01-Sep-2022 </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="unpublish">
                        <td><input type="checkbox"></td>
                        <td>2</td>
                        <td>
                            Announcement of new water supply projects for underserved areas in Bihar
                        </td>
                        <td>
                            <div href="javascript:void(0);" class="img-banner">
                                <img src="./assets/img/login-bg.png" alt="Banner text">
                            </div>
                        </td>
                        <td> 01-Sep-2022 </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="publish">
                        <td><input type="checkbox"></td>
                        <td>3</td>
                        <td>
                            Announcement of new water supply projects for underserved areas in Bihar
                        </td>
                        <td>
                            <div href="javascript:void(0);" class="img-banner">
                                <img src="./assets/img/login-bg.png" alt="Banner text">
                            </div>
                        </td>
                        <td> 01-Sep-2022 </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="unpublish">
                        <td><input type="checkbox"></td>
                        <td>4</td>
                        <td>
                            Announcement of new water supply projects for underserved areas in Bihar
                        </td>
                        <td>
                            <div href="javascript:void(0);" class="img-banner">
                                <img src="./assets/img/login-bg.png" alt="Banner text">
                            </div>
                        </td>
                        <td> 01-Sep-2022 </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="publish">
                        <td><input type="checkbox"></td>
                        <td>5</td>
                        <td>
                            Announcement of new water supply projects for underserved areas in Bihar
                        </td>
                        <td>
                            <div href="javascript:void(0);" class="img-banner">
                                <img src="./assets/img/login-bg.png" alt="Banner text">
                            </div>
                        </td>
                        <td> 01-Sep-2022 </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal View  -->
<div class="modal fade" id="viewmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Announcement of new water supply projects for
                    underserved areas in Bihar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body view-form">
                <div class="row">
                    <div class="col-xl-12">

                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <!-- <label class="form-label">Image</label> -->
                                    <label class="form-value">
                                        <div href="javascript:void(0);" class="img-fluid">
                                            <img src="./assets/img/login-bg.png" alt="Banner text" class="modal-banner">
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Title</label>
                                    <label class="form-value">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Unde ullam magni quaerat, optio blanditiis dolorum omnis quis cumque, et
                                        suscipit harum quae, eaque eius accusamus reiciendis incidunt ipsam? Eos,
                                        quasi.</label>
                                </div>
                            </div>

                            <!-- <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Title in Hindi</label>
                                    <label class="form-value">लोरेम इप्सम डोलर सिट अमेट, कॉन्सेकट्यूर अडिपिसिसिंग एलिट। अंडे उल्लम मैग्नी क्वाएरेट, ऑप्टियो ब्लैंडीटिस डोलोरम ओम्निस क्विस कुम्क, एट सुस्सिपिट हारुम क्वाए, एक्यूस ईउस अक्यूसामस रीचिएंडिस इंसिडुंट इप्सम? ईओस, क्वासी।</label>
                                </div>
                            </div> -->
                        </div>

                       
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Content</label>
                                    <label class="form-value">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Unde ullam magni quaerat, optio blanditiis dolorum omnis quis cumque, et
                                        suscipit harum quae, eaque eius accusamus reiciendis incidunt ipsam? Eos,
                                        quasi.</label>
                                </div>
                            </div>

                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Content in Hindi</label>
                                    <label class="form-value">लोरेम इप्सम डोलर सिट अमेट, कॉन्सेकट्यूर अडिपिसिसिंग एलिट।
                                        अंडे उल्लम मैग्नी क्वाएरेट, ऑप्टियो ब्लैंडीटिस डोलोरम ओम्निस क्विस कुम्क, एट
                                        सुस्सिपिट हारुम क्वाए, एक्यूस ईउस अक्यूसामस रीचिएंडिस इंसिडुंट इप्सम? ईओस,
                                        क्वासी।</label>
                                </div>
                            </div>

                            <div class="col-xl-4 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Publish Date</label>
                                    <label class="form-value">06-Nov-2024</label>
                                </div>
                            </div>
                        </div>






                    </div>
                </div>
            </div>
        </div>
    </div>
</div>