<div class="inner-area">
    <div class=" bannerarea">
        <div class="container">
            <div class="bannerarea-content">
                <div>
                    <div class="page-title" >
                        <h2>How it Works</h2>
                    </div>
                    <div class="breadcrumb-area">
                        <nav  aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">How it Works</li>
                            </ol>
                        </nav>
                    </div>
                </div>
               
            </div>
         
        </div>

        
    </div>
    <div class="content-area " id="targetMainContent">
        <div class="container">
           <p>Centralised Grievance Redressal Cell popularly known as “Neer Nirmal Seva” is centralized contact point for easier access to PHED’s scheme/service related information and providing platform to citizens for registering their grievance/feedback. This also provides control to PHED for online monitoring the grievance redress procedure from end-to-end</p>
           <p>The system captures grievances through online mode as well as through comprehensive tele functionalities (both manual and IVR). The call centre is the primary channel for capturing grievances and feedback from citizens. It is a 9 X 6 service platform.</p>
           <h5 class="fw-bold mt-4">The process for grievance registration, forwarding and closure is described below –</h5>
             <ul class="list-style">
                <li class="d-flex custom-border-start" >Citizens can register grievance or call to seek information, provide feedback or seek guidance for utilizing any schemes of PHED.</li>
                <li class="d-flex custom-border-start">Grievance Redress Cell Agents will register the complaint in the System and provide a unique registration number to the complainant for tracking. This information will also be sent through SMS to complainant on their mobile number.</li>
                <li class="d-flex custom-border-start">Depending on the nature of the complaint System will forward the information to the concerned official.</li> 
                <li class="d-flex custom-border-start">	If solved within the stipulated time period, the status of the grievance is updated either through the system or call centre executive.</li> 
                <li class="d-flex custom-border-start">	If not solved, it is escalated to 1st Escalation Authority or 2nd Escalation Authority or 3rd Escalation Authority through system.</li> 
                <li class="d-flex custom-border-start">If solved within the stipulated time period, status is updated either through the system or call centre executive.</li> 
            </ul>

            </div>
    </div>
</div>
