<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <h3>Menu</h3>
                <!-- <p>Manage your page</p> -->
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory </span>
                        </li>
                        <li class="fill-btn back-link"><a routerLink="/application/mngmenu" title="Go to Previous"><i
                            class="bi bi-arrow-left"></i> Back to View</a>
                </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

   

    <div class="content-box content-area">
        <div class="row">
            <div class="col-xxl-10 col-lg-12">

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="manutype">Menu Type</label>
                            <select class="form-select" id="manutype">
                                <option selected>Select</option>
                                <option value="1">Main Menu</option>
                                <option value="2">Footer Menu</option>
                                <option value="3">Footer Bottom Menu</option>
                            </select>
                        </div>
                    </div>
           
                    <div class="col-lg-4 col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="linktype">Link Type</label>
                            <select class="form-select" id="linktype" [(ngModel)]="selectedLinkType" (change)="onLinkTypeChange()">
                                <option selected value="">Select</option>
                                <option value="1">Global Link</option>
                                <option value="2">Primary Link</option>
                                <option value="2">Secondary Link</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" *ngIf="showParentMenu">
                        <div class="mb-3">
                            <label class="form-label" for="parentmanu">Parent Menu</label>
                            <select class="form-select" id="parentmanu">
                                <option selected>Select</option>
                                <option value="1">FAQ</option>
                                <option value="2">Feedback</option>
                                <option value="3">Contact</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="menuen">Menu Name</label>
                            <input type="text" class="form-control" id="menuen">
                        </div>
                    </div>
                   
                    <div class="col-lg-4 col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="menuhn">Menu Name (In Hindi)</label>
                            <input type="text" class="form-control" id="menuhn">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="menulink">Menu Link</label>
                            <input type="text" class="form-control" id="menulink">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="menuserila">Menu Serial</label>
                            <input type="text" class="form-control" id="menuserila">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex gap-2 mt-lg-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


