// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "assets/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "assets/scss/theme";
@import "assets/scss/common";
@import "assets/scss/custom";
@import "assets/css/icomon.css";
@import "assets/css/lightgallery.css";
@import "~swiper/swiper-bundle.min.css";
@import "../node_modules/bootstrap/scss/mixins";
// body {
//   font-family: "Work Sans", serif; font-weight: 400;
// }
.bannerarea {
  background-image: url(./assets/img/innerbanner.png);
  padding: 3.1rem 0 1.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  .page-title {
    text-align: center;
    color: var(--page-title);

    h2 {
      font-size: 1.55rem;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 0;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(16 16 16 / 53%);
    z-index: -1;
  }
}
.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  ol {
    justify-content: center;
  }

  .breadcrumb-item {
    a {
      color: var(--breadcrumb-text);
      font-size: 0.1rem;
      i {
        font-size: 1rem;
      }
      &:hover {
        color: $warning;
      }
    }

    &.active {
      color: var(--page-title);
      font-size: 1rem;
    }
    & + .breadcrumb-item::before {
      content: "/";
      color: var(--page-title);
      font-size: 1.25rem;
      margin: 0 0.5rem;
    }
  }
}

.bannerarea-content {
  display: block;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.content-area {
  padding: 2rem 0;
  color: var(--about-text);
  min-height: 35rem;
  p {
    opacity: 0.8;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}

.content-area {
  ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;
    li {
      margin-top: 1rem;
      position: relative;
      //   padding-left: 1.5rem;
      //   font-weight: bold;
      //   &::before {
      //     position: absolute;
      //     content: "\F289";
      //     left: 0;
      //     font-size: 0.8rem;
      //     top: 1px;
      //     color: var(--login-btn-hover);
      //     font-family: bootstrap-icons !important;
      //   }
    }
  }

  ol {
    margin-top: 1.5rem;
    li {
      margin-bottom: 0.6rem;
      ul {
        list-style: none;
        margin-top: 1rem;
        padding-left: 0;
        li {
          position: relative;
          padding-left: 1.5rem;
          font-weight: bold;
          &::before {
            position: absolute;
            content: "\F289";
            left: 0;
            font-size: 0.8rem;
            top: 1px;
            color: var(--login-btn-hover);
            font-family: bootstrap-icons !important;
          }
        }
      }
    }
  }
  .accordion {
    &.faq-accordion {
      --bs-accordion-border-width: 0;
      .accordion-button {
        span {
          background-color: #ededed;
          border-radius: 100%;
          width: 1.8rem;
          height: 1.8rem;
          padding: 0.8rem;
          margin-right: 0.7rem;
          display: flex;
          color: #000;
          font-size: 0.9rem;
          font-weight: 700;
          align-items: center;
          justify-content: center;
        }
        position: relative;
        background-color: transparent;
        align-items: baseline;
        display: flex;
        padding: 1rem 1.9rem 1rem 0;
        font-weight: normal;
        color: var(--faq-accordian);
        font-size: 1.25rem;
        border-bottom: 1px solid #e9e9e9;
        &:focus {
          box-shadow: none !important;
        }
        &:hover {
          color: var(--faq-active);
          span {
            color: var(--faq-active);
          }
        }
        &.active {
          color: var(--faq-active);
        }
        &:not(.collapsed) {
          color: var(--faq-active);
          &::after {
            content: "\F63B";
          }
          span {
            color: var(--faq-active);
          }
        }
        &::after {
          background-image: none !important;
          font-family: bootstrap-icons !important;
          font-size: 1.25rem;
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          transition: transform 0.3s ease;
          color: var(--faq-accordian);
          content: "\F64D";
        }
      }
      .accordion-collapse {
        .accordion-body {
          background-color: transparent;
          padding-left: 0;
          opacity: 0.6;
          color: var(--text-black);
        }
      }
    }
  }
}

table {
  thead {
    tr {
      th {
        background-color: var(--tableheader-bg) !important;
        border-width: 2px !important;
      }
    }
  }
  tbody {
    tr {
      td {
        opacity: 0.8;
        color: var(--text-black) !important;
      }
    }
  }
}
.card {
  overflow: hidden;
  box-shadow: 2px 2px 24px #0000001a;
  border: 0;
  border-radius: 0.5rem !important;
  position: relative;
  background-color: var(--statics-bg);
  color: var(--statics-data);
}
.go-top {
  position: fixed;
  bottom: 20px;
  right: 20px; 
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s; // Smooth transition
  z-index: 1000; // Ensure it’s on top

  &:hover {
    background-color: #0056b3; // Darker shade on hover
    transform: scale(1.1); // Slightly enlarge on hover
  }

  &:focus {
    outline: none; // Remove default focus outline
  }
}
.custom-border-start {
  position: relative;
  padding-left: 1.6rem;
  margin-top: 1.5rem;
  &::before {
    position: absolute;
    content: "\F288";
    top: 3px;
    font-size: 0.9rem;
    left: 0;
    font-family: bootstrap-icons !important;
    color: var(--btnstyle-two-text);
  }
}
.form-group {
  margin-bottom: 1.2rem;
}
.form-label {
  margin-bottom: 0.2rem;
  // font-weight: 600;
  // color: #6a6a6a;
}

.form-label {margin-bottom: 0.2rem;}
.form-select,.form-control {color: var(--input-color);}
@include media-breakpoint-up(sm) {
  .breadcrumb {
    .breadcrumb-item {
      a {
        font-size: 1.5rem;
        i {
          font-size: 1.3rem;
        }
      }

      & + .breadcrumb-item::before {
        font-size: 1.25rem;
      }
    }
  }
  .bannerarea {
    background-image: url(./assets/img/innerbanner.png);
    padding: 4.7rem 0 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    .page-title {
      h2 {
        font-size: 2.25rem;
      }
    }
  }
  .accordion {
    &.faq-accordion {
      --bs-accordion-border-width: 0;
      .accordion-button {
        span {
          width: 1.5rem;
          height: 1.6rem;
        }
      }
    }
  }
  .breadcrumb {
    justify-content: left;
    ol {
      text-align: left;
    }
  }
  .bannerarea-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@include media-breakpoint-up(md) {
  .accordion {
    &.faq-accordion {
      --bs-accordion-border-width: 0;
      .accordion-button {
        span {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .breadcrumb {
    .breadcrumb-item {
      a {
        font-size: 1.5rem;
        i {
          font-size: 1.3rem;
        }
      }

      &.active {
        color: var(--page-title);
        font-size: 1.2rem;
      }
      & + .breadcrumb-item::before {
        font-size: 1.25rem;
      }
    }
  }
  .accordion {
    &.faq-accordion {
      --bs-accordion-border-width: 0;
      .accordion-button {
        span {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
  .content-area {
    padding: 3rem 0;
    color: var(--about-text);
    min-height: 35rem;
    p {
      opacity: 0.8;
    }
    h3 {
      font-weight: bold;
      margin-bottom: 1.5rem;
    }
  }
}
