<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <h3> Demo</h3>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory </span>
                        </li>
                        <li class="fill-btn back-link"><a routerLink="/application/demo" title="Go to Previous"><i
                                    class="bi bi-arrow-left"></i> Back to View</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-box content-area">
        <div class="row">
            <div class="col-lg-12 col-xxl-10">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="form-label">Text Input</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="form-label"> Dropdown</label>
                            <select class="form-select">
                                <option value="0" selected>Select</option>
                                <option value="1">One</option>
                                <option value="2">One</option>
                                <option value="3">One</option>
                                <option value="4">One</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="form-label" for="doc">Upload Document/Photo</label>
                            <div class="input-group custom-file-input">
                                <input type="file" name="FileUpload1" id="FileUpload1"
                                    (change)="handleFileInput($event)" class="form-control custom-fileupload" />
                                <label class="custom-input" [ngClass]="{'custom-input-black': fileName}" for="doc">
                                    {{ fileName || 'Upload' }}
                                </label>
                                <label class="input-group-text custom-browse" for="doc">Browse</label>
                            </div>
                            <p class="mb-0 small text-danger text-end">
                                Supported File (<span class="fw-bold">.pdf, .doc, .xls, .jpg, .png</span>)
                            </p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="form-label">Date Input</label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker" id="datepicker">
                                <label class="input-group-text" for="datepicker"><i
                                        class="bi bi-calendar-week"></i></label>
                            </div>
                        </div>
                        <!-- <div class="mb-3">
                            <label class="form-label">Date Input</label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker" id="hndatepicker">
                                <label class="input-group-text" for="hndatepicker"><i
                                        class="bi bi-calendar-week"></i></label>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="form-label">Time Input</label>
                            <div class="input-group">
                                <input type="text" class="form-control timepicker" id="inputTime">
                                <label class="input-group-text" for="inputTime"><i class="bi bi-clock"></i></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label class="form-label">Date Time Input</label>
                            <div class="input-group">
                                <input type="text" class="form-control datetimepicker" id="inputDateTime">
                                <label class="input-group-text" for="inputDateTime"><i
                                        class="bi bi-calendar2-check"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="mb-3">
                            <label class="form-label">Text Area</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                            <p class="text-end mb-0"><small class="text-danger">Maximum <strong>500</strong>
                                    characters</small></p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="complaintcata" class="form-label">
                                Searchable Select <span class="text-danger">*</span>
                            </label>
                            <ng-select [items]="items" bindLabel="name" bindValue="id" [(ngModel)]="selectedItem"
                                [searchable]="true" placeholder="Select">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-lg-4">
                        <div class="mb-2">
                            <label class="form-label">Checkbox</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Default checkbox
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Checked checkbox
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="form-label pe-3 d-block">Checkbox Inline </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">2</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mb-2">
                            <label class="form-label pe-3">Radio Button </label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Default radio
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Default checked radio
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="mb-2">
                            <label class="form-label pe-3 d-block">Radio Button inline </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="option1" checked>
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-grid gap-2 d-md-flex mt-lg-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="submit" class="btn btn-danger">Reset</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>