<!--Banner Start -->
<section class="creative-parallax--slider py-0">
    <div class="slider-inner">
        <div class="slider-row">
            <div class="parallax-slider slider-wrap">
                <div class="swiper-wrapper">
                    <!-- Slide 1 -->
                    <div class="swiper-slide" style="background-image: url('../../assets/img/banner.jpg');">
                        <div class="swiper-slide--inner">
                            <div class="container">
                                <div class="slide-detail">
                                    <div class="slide-main--subheading">
                                        <span class="welcome"><i class="fa-solid fa-award"></i>{{ 'WELCOME_NEER' | translate }}</span>
                                    </div>
                                    <div class="slide-main--heading">
                                        <div class="from-left">{{ 'ENSURING' | translate }}</div>
                                        <div class="from-right">{{ 'EVERY_DROP' | translate }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Banner End -->

<!--Notification Start -->
<section id="targetMainContent">
    <div class="notification">
        <div class="container">
            <div class="notification-wrapper">
                <div class="wrapper-title ">
                    <a [routerLink]="['/whats-new']" class="view-link">{{ 'WHAT_IS_NEW' | translate }}<span class="bi bi-arrow-right"></span>
                    </a>
                </div>
                <div class="wrapper-content">
                    <div class="wrapper-item">
                        <a class="wrapper-items" href="javascript:void(0);">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a>
                        <a class="wrapper-items" href="javascript:void(0);">Donec volutpat, tortor a interdum fermentum.</a>
                        <a class="wrapper-items" href="javascript:void(0);">Fusce molestie interdum metus a finibus.</a>
                        <a class="wrapper-items" href="javascript:void(0);">Proin et aliquam libero. </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Notification End -->

<!--CM Message Start -->
<section class="cm-message">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 ">
                <div
                    class="d-flex align-items-center justify-content-lg-start justify-content-center mb-lg-0 mb-2 flex-md-row flex-column ">
                    <div class="minister-photo">
                        <img src="../../assets/img/cm.jpg" alt="Hon'ble  minister">
                    </div>
                    <div class="minister-text">
                        <span class="h5">{{ 'CM' | translate }}</span>
                        <div class="d-block">{{ 'CM_BIHAR' | translate }}</div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <p class="mb-0">{{ 'CM_MESSAGE' | translate }}</p>
            </div>
        </div>
    </div>
</section>
<!--CM Message End -->

<!--About Us Start -->
<section class="about">
    <div class="container">
        <div class="row align-items-lg-center">
            <div class="col-lg-7  order-lg-1 order-2">
                <h3 class="about__header">{{ 'ABOUT' | translate }} <span>{{ 'ABOUT_PHED' | translate }}</span></h3>
                <p>{{ 'ABOUT_PHED_BIHAR' | translate }}</p>
                <div class="text-md-start text-center">
                    <a [routerLink]="['/about-us']" class="btn btn-outline-primary know-more">{{ 'KNOW_MORE' | translate }}</a>
                </div>
            </div>
            <div class="col-lg-5 order-lg-2 order-1">
                <div class="about__container">
                    <div class="about__img">
                        <img src="../../assets/img/aboutus.jfif" alt="About us">
                    </div>
                    <div class="about__imgtap">
                        <span class="icon icon-faucet"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- About Us End -->

<!-- Data Start -->
<section class="data">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-grivance mb-xl-0">
                    <div class="card-body">
                        <h3>{{ 'GRIEVANCE_STATUS' | translate }}</h3>
                        <p class="mb-0">{{ 'GRIEVANCE_STATUS_CHECK' | translate }}</p>
                        <div
                            class="data__details d-flex align-items-center justify-content-center flex-md-row flex-column">
                            <input type="text" class="form-control" placeholder="{{ 'COMPLAINT_NO' | translate }}">
                            <div class="data__details__or">- {{ 'OR' | translate }} -</div>
                            <input type="text" class="form-control" placeholder="{{ 'MOBILE_NO' | translate }}">
                        </div>
                        <a routerLink="/grievance-status" class="btn  btnstyle-one">{{ 'KNOW_MORE' | translate }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-complaint mb-xl-0">
                    <div class="card-body">
                        <div>
                            <h3>{{ 'REGISTER_COMPLAINT' | translate }}</h3>
                            <p>{{ 'REGISTER_COMPLAINT_FEEDBACK' | translate }}</p>
                            <div class="text-lg-end register-btn">
                                <a [routerLink]="['/complaintregistration'] " class="btn  btnstyle-two">{{ 'REGISTER' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="statics">
            <h3 class="heading-styletwo mb-0">{{ 'COMPLAINT_STATISTICS' | translate }}</h3>
            <div class="statics-container">
                <ul>
                    <li>
                        <h3>{{ totalComplaints | number }}</h3>
                        <small>Total Complaints <span>Logged</span> </small>
                    </li>
                    <li>
                        <h3>{{ closedComplaints | number }}</h3>
                        <small>Complaints <span>Closed</span></small>
                    </li>
                    <li class="mb-lg-0 mb-sm-0">
                        <small>Active <span>Complaints</span></small>
                        <h3>{{ activeComplaints | number }}</h3>
                    </li>
                    <li class="mb-lg-0 mb-sm-0">
                        <h3>{{ averageResolutionTime }} Days</h3>
                        <small>Average Time <span>to Resolve</span></small>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- Data End -->

<!-- Events and Gallery Start -->
<section class="news">
    <div class="container">
        <div class="row gx-lg-5">
            <div class="col-lg-5 col-12">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="heading-styletwo mb-0">{{ 'NEWS_EVENTS' | translate }}</h3>
                    <a class="view-link" [routerLink]="['/event-details']">{{ 'VIEW_ALL' | translate }}<span class="bi bi-arrow-right"></span></a>
                </div>

                <div class="events position-relative">
                    <div class="events__details">
                        <div class="events__details__thumbnail">
                            <img src="../../assets/img/eventimg-one.jpg" alt="News & Events" />
                        </div>
                        <div class="events__details__text">
                            <p>Announcement of new water supply projects for underserved areas in Bihar.</p>
                            <small><span class="bi bi-calendar-week me-2"></span> 15 November 2023</small>
                        </div>
                    </div>
                    <a [routerLink]="['/events']" class="stretched-link"></a>
                </div>
                <div class="events position-relative">
                    <div class="events__details">
                        <div class="events__details__thumbnail">
                            <img src="../../assets/img/eventimg-two.jpg" alt="News & Events" />
                        </div>
                        <div class="events__details__text">
                            <p>Announcement of new water supply projects for underserved areas in Bihar.</p>
                            <small> <span class="bi bi-calendar-week me-2"></span> 15 November 2023</small>
                        </div>
                    </div>
                    <a [routerLink]="['/events']" class="stretched-link"></a>
                </div>
                <div class="events position-relative">
                    <div class="events__details">
                        <div class="events__details__thumbnail">
                            <img src="../../assets/img/eventimg-three.jpg" alt="News & Events" />
                        </div>
                        <div class="events__details__text">
                            <p>Announcement of new water supply projects for underserved areas in Bihar.</p>
                            <small> <span class="bi bi-calendar-week me-2"></span> 15 November 2023</small>
                        </div>
                    </div>
                    <a [routerLink]="['/events']" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-7 mt-4 mt-lg-0">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="heading-styletwo mb-0">{{ 'PHOTO_GALLERY' | translate }}</h3>
                    <a class="view-link" [routerLink]="['/gallery']">{{ 'VIEW_ALL' | translate }}<span class="bi bi-arrow-right"></span></a>
                </div>
                <div id="photogallery" class="row g-3 g-xxl-3">
                    <div class="col-6 col-md-6 col-xl-6 gallery-item"
                        data-responsive="../../assets/img/galleryimg-one.jpg"
                        data-src="../../assets/img/galleryimg-one.jpg">
                        <div class="gallery-img">
                            <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg"
                                alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                            <div class="img-hover">
                                <span class="bi bi-arrows-angle-expand"></span>
                                <p>To receive a User ID and Password, complete the registration the website's
                                    registration page.</p>
                            </div>
                            <a href="javascript:void(0);" class="overly-link"></a>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-xl-6 gallery-item"
                        data-responsive="../../assets/img/galleryimg-three.jpg"
                        data-src="../../assets/img/galleryimg-three.jpg">
                        <div class="gallery-img">
                            <img class="gallerydetails-image" src="../../assets/img/galleryimg-three.jpg"
                                alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                            <div class="img-hover">
                                <span class="bi bi-arrows-angle-expand"></span>
                                <p>To receive a User ID and Password, complete the registration the website's
                                    registration page.</p>
                            </div>
                            <a href="javascript:void(0);" class="overly-link"></a>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-xl-6 gallery-item"
                        data-responsive="../../assets/img/galleryimg-two.jpg"
                        data-src="../../assets/img/galleryimg-two.jpg">
                        <div class="gallery-img">
                            <img class="gallerydetails-image" src="../../assets/img/galleryimg-two.jpg"
                                alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                            <div class="img-hover">
                                <span class="bi bi-arrows-angle-expand"></span>
                                <p>To receive a User ID and Password, complete the registration the website's
                                    registration page.</p>
                            </div>
                            <a href="javascript:void(0);" class="overly-link"></a>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-xl-6 gallery-item"
                        data-responsive="../../assets/img/galleryimg-one.jpg"
                        data-src="../../assets/img/galleryimg-one.jpg">
                        <div class="gallery-img">
                            <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg"
                                alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                            <div class="img-hover">
                                <span class="bi bi-arrows-angle-expand"></span>
                                <p>To receive a User ID and Password, complete the registration the website's
                                    registration page.</p>
                            </div>
                            <a href="javascript:void(0);" class="overly-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Events and Gallery End -->

<!-- FAQ Us Start -->
<section class="faq">
    <div class="container">
        <h3 class="heading-styletwo">{{ 'FAQs' | translate }}</h3>
        <div class="row">
            <div class="col-lg-7 ">
                <div *ngIf="!isLoading && displayedFaqs.length > 0" class="accordion faq-accordion">
                    <div *ngFor="let faq of displayedFaqs; let i = index" class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button" type="button"
                          [class.collapsed]="activeIndex !== i"
                          [attr.aria-expanded]="activeIndex === i ? 'true' : 'false'"
                          (click)="toggleFAQ(i)">
                          <span class="faq-count">{{ i + 1 }}</span> {{ faq.faqEng }}
                        </button>
                      </h2>
                      <div class="accordion-collapse collapse" [class.show]="activeIndex === i">
                        <div class="accordion-body" [innerHTML]="faq.faqAnsEng"></div>
                      </div>
                    </div>
                </div>
                <!-- <div class="accordion faq-accordion" id="accordionExample">
                    <div class="accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="faq-count">1</span> What is CM Kisan scheme?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab aliquam optio
                                ea laboriosam facilis necessitatibus illum delectus, iste aut sint porro
                                voluptate saepe reprehenderit, vero adipisci animi consequuntur excepturi
                                autem.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="faq-count">2</span> Who is eligible to get benefit under CM KISAN Scheme?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptate
                                quaerat quasi fugit earum unde itaque quo excepturi, possimus nam, odit
                                facilis magni iure assumenda ea. Ut minus dolorum voluptatum!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="faq-count">3</span> Who is small and marginal farmer?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione cum
                                blanditiis asperiores quidem repellendus, cupiditate corrupti fugit,
                                praesentium culpa illum nobis at atque possimus. Perspiciatis ullam quasi
                                dolores non est.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingfour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                                <span class="faq-count">4</span> What are the benefits available to cultvators for
                                culture under CM KISHAN
                                scheme?
                            </button>
                        </h2>
                        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque vel alias sed
                                doloribus et, sint voluptas autem? Obcaecati quae animi consectetur,
                                corporis velit officia officiis quisquam at sunt quam aliquid.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingfive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                                <span>5</span> Is there any benefit for landless agriculture household?
                            </button>
                        </h2>
                        <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum distinctio
                                sit velit, ipsam magnam perferendis suscipit sapiente, libero eveniet eum
                                consequatur sequi ut harum et quis nihil quo eligendi impedit?
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="faq__footer">
                    <div class="faq__footer__view">
                        <a [routerLink]="['/faq']" class="btn btn-outline-primary know-more  ms-0 mt-sm-0 mt-2">{{ 'VIEW_MORE' | translate }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  offset-lg-1 d-lg-block d-none text-center">
                <img src="../../assets/img/faq.png" />
            </div>
        </div>       
    </div>
</section>
<!-- FAQ  Us End -->

<!-- Grievance Status Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold " id="exampleModalLabel">Grievance Status</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="100" height="100"
                    class="success-icon status-info">
                    <circle cx="12" cy="12" r="10" fill="green" />
                    <path fill="none" stroke="white" stroke-width="2" d="M7 12l3 3 7-7" class="checkmark" />
                    <style>
                        .checkmark {
                            stroke-dasharray: 20;
                            stroke-dashoffset: 20;
                            animation: draw 0.5s forwards 0.5s;
                            /* 0.5s animation, 0.5s delay */
                        }

                        @keyframes draw {
                            to {
                                stroke-dashoffset: 0;
                            }
                        }
                    </style>
                </svg>
                <div>
                    <p class="mb-0 mt-3">Your grievance has been Lodged.</p>
                    <h3><span class="badge rounded-pill text-bg-success mb-3">PHED/564874</span></h3>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- Grievance Status Modal -->