.creative-parallax--slider {
  overflow: hidden;
}

.creative-parallax--slider .slide-btns:hover.swiper-button-prev:after,
.creative-parallax--slider .slide-btns:hover.swiper-button-next:after {
  color: var(--white);
}

.slider-wrap {
  height: 325px;
  overflow: hidden;
}
.swiper-slide--inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  //   padding-left: 3rem;
  background: var(--bg-black);
  background: transparent linear-gradient(270deg, #00000000 0%, #00000087 48%, #000000bd 100%) 0% 0%;
}
.swiper-slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.slide--bg {
  z-index: 0;
  visibility: inherit;
  font-weight: 400;
  white-space: nowrap;
  min-height: 834px;
  min-width: 834px;
  max-height: 834px;
  max-width: 834px;
  background-color: #16234033;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  overflow: auto;
  left: 3rem;
}
.swiper-slide-active {
  .slide--bg {
    animation: zoomInBg 1.5s ease forwards;
    .slide-bg--inner {
      animation: zoomInInner 1s ease forwards;
    }
  }
  .from-left {
    animation: fadeInLeft 1s ease forwards;
    animation-delay: 0.1s;
  }
  .from-right {
    animation: fadeInRight 1s ease forwards;
    animation-delay: 0.3s;
  }
  .slide-main--subheading {
    transition:
      opacity 0.5s ease,
      filter 0.5s ease;
    animation: fadeInDown 1s ease forwards;
    animation-delay: 0.5s;
  }
}
.slide-detail {
  position: relative;
  z-index: 1;
  text-align: center;
}
.slide-main--heading {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  color: var(--banner-text);
  line-height: normal;
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  white-space: normal;
}
.from-left,
.from-right {
  opacity: 0;
  filter: blur(4px);
  transition:
    opacity 0.5s ease,
    filter 0.5s ease;
}

.slide-main--subheading {
  color: var(--banner-text);
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 1rem;
  display: block;
  line-height: 20px;
  padding-bottom: 0;
  letter-spacing: 1px;
  opacity: 0;
  filter: blur(4px);
}

/* Keyframe animations for Description */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 0.7;
    transform: translateY(0);
    filter: blur(0);
  }
}
/* Keyframe animations for Sub Heading */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
/* Keyframe animations for Main Heading */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

/* Keyframe animations for background */
@keyframes zoomInBg {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomInInner {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .slider-wrap {
    height: 28rem;
  }
  .mega-menu {
    right: 16%;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 6rem;
  display: none;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}
// Banner CSS End

// Notification css Start
@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

.notification {
  background-color: var(--notification-bg);
  display: flex;
  flex-direction: column;

  .wrapper-title,
  .notification-wrapper,
  .wrapper-content,
  .wrapper-item {
    height: 77px;
    &:hover {
      color: var(--event-hover);
    }
  }

  .wrapper-title {
    padding: 1.3rem 0;
    z-index: 1;
    width: 174px;

    margin: 0;
    border-radius: 5px;
    display: flex;
    height: 16px;
    align-items: center;
    cursor: pointer;
    a {
      color: var(--notificationtext-bg);
      &:hover {
        color: #bfd5f7;
      }
    }
  }

  .notification-wrapper {
    position: relative;
    width: 100%;
    padding: 0.3rem 0;
    overflow: hidden;
  }

  @keyframes ticker {
    0% {
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      transform: translateX(-100%); // End on the left
      visibility: hidden; // Optional, to hide at the end
    }
  }
  .wrapper-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;

    .wrapper-item {
      display: flex;
      justify-content: center;
      padding-bottom: 3.9rem;
      align-items: center;
      white-space: nowrap;
      animation: ticker 30s linear infinite; // Apply animation
      width: max-content; // Adjust width to content
      .wrapper-items {
        position: relative;
        display: inline-block;
        padding: 0 1.4rem;

        color: var(--text-black);
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 9px;
          bottom: 0;
          border-radius: 100%;
          height: 0.5rem;
          width: 0.5rem;
          background-color: var(--notification-bullet);
        }

        &:hover {
          color: var(--notificationtext-bg);
        }
      }
    }

    &:hover .wrapper-item {
      animation-play-state: paused;
    }
  }

  .wrapper-items:first-child:before {
    border-right: 0px solid #c9c6c6 !important;
  }
}

// Notification css End

// CM Message CSS Start
.cm-message {
  padding: 1rem 0;
  background-color: var(--faq-bg);

  p {
    opacity: 0.9;
    color: var(--text-black);
    text-align: justify;
  }
}
.minister-photo {
  height: 7.875rem;
  margin-right: 1rem;
  img {
    height: 100%;
    border-radius: 100%;
  }
}
.minister-text {
  color: var(--text-black);
  text-align: center;
  span {
    font-weight: 600;
  }
}
// CM Message CSS End

// About CSS Start

.about {
  padding: 3rem 0;
  p {
    margin-bottom: 2rem;
    opacity: 0.9;
    text-align: justify;
    line-height: 2rem;
    color: var(--about-text);
  }
}
.about__header {
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--heading-styletwo);
  span {
    font-weight: bold;
  }
}

.about__container {
  position: relative;
  .about__img {
    height: 20.075rem;
    width: 20.075rem;
    margin: 0 auto 1.5rem;
    img {
      border-radius: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .about__imgtap {
    position: absolute;
    width: 8.313rem;
    height: 8.313rem;
    border-radius: 100%;
    left: 2rem;
    bottom: 2rem;
    background-color: var(--about-bg-tap);
    span {
      font-size: 4.675rem;
      padding: 0rem 1.7rem;
      line-height: 9rem;
      color: var(--about-bg-tapicon);
    }
  }
}

// About CSS End

// Data CSS Start
.data {
  padding: 3rem 0;
  background-color: var(--faq-bg);
  .card {
    height: auto;
    margin-bottom: 1.5rem;
    opacity: 1;
    border-radius: 1rem;
    &.card-grivance {
      background: var(--grivance-card);

      .card-body {
        color: var(--text-white);
        padding: 1rem;
        background-image: url(../../assets/img/grivance.png);
        background-position: bottom right;
        background-size: 54%;
        background-repeat: no-repeat;
        p {
          padding: 1rem 0 0 0rem;
          font-weight: 400;
        }
      }
    }
    &.card-complaint {
      background: var(--complaint-card);
      .card-body {
        color: var(--text-white);
        padding: 1rem;
        background-image: url(../../assets/img/complaint.png);
        background-position: bottom right;
        background-size: 54%;
        background-repeat: no-repeat;
        p {
          padding: 1rem 0 0 0rem;
          font-weight: 400;
        }
        h3 {
          padding: 0;
        }
      }
    }

    h3 {
      color: var(--grivance-card-title);
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.data__details {
  margin: 2rem 0;
  .form-control {
    border: 1px solid #0000001a;
    border-radius: 5px;
    background-color: var(--form-control);
    padding: 0.675rem 0.75rem;
  }
  .data__details__or {
    width: 25%;
    text-align: center;
    opacity: 0.5;
    padding: 0.3rem 0;
  }
}

.statics-container {
  box-shadow: 1px 2px 5px #56565629;
  background-color: var(--statics-bg);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  ul {
    display: grid; // Enable grid layout
    grid-template-columns: repeat(1, 1fr); // Create 4 equal columns
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    li {
      text-align: center;
      position: relative;
      margin-bottom: 1.3rem;
      h3 {
        color: var(--statics-data);
        font-weight: bold !important;
        font-size: 1.5rem;
        margin-bottom: 0;
        text-align: center;
      }
      small {
        font-size: 0.925rem;
        color: var(--statics-text);
        line-height: 1rem;
        span {
          display: inline-flex;
        }
      }
      &::after {
        position: absolute;
        content: "";
        right: 0;
        background-color: #f3f3f3;
        width: 100%;
        height: 1px;
        bottom: -8px;
      }
      &:last-child {
        &::after {
          background-color: transparent; // This removes the line
          content: none; // This removes the pseudo-element altogether
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
// Data CSS End

// Events and Gallery CSS Start
.news {
  padding: 3rem 0;
}
.events {
  &:hover {
    .events__details {
      .events__details__text {
        color: var(--event-hover);
      }

      .events__details__thumbnail {
        border-radius: 0.375rem;
        img {
          transform: scale(1.1); // Zoom effect
          border-radius: 0.375rem;
          transition: transform 0.3s ease; // Smooth transition
        }
      }
    }
  }

  .events__details {
    display: flex;
    align-items: flex-start; // Use flex-start for better alignment
    margin-bottom: 1.4rem;

    .events__details__thumbnail {
      height: auto;
      width: 18.7rem;
      margin-right: 0;
      border-radius: 0.875rem;
      position: relative;
      display: block;
      overflow: hidden; // Ensure the image doesn't overflow

      img {
        border-radius: 0.375rem;
        height: 100%;
        width: 100%;
        transition: transform 0.3s ease; // Smooth transition for zoom
      }
    }

    .events__details__text {
      color: var(--text-black); // Default color for text
      margin-top: 0.6rem;
      p {
        margin-bottom: 0.4rem;
      }

      small {
        color: var(--eventsmall-text); // Default color for small text
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.gallery-img {
  position: relative;
  height: 12.5rem;
  overflow: hidden;
  border-radius: 5px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .img-hover {
    display: none;
    p {
      color: #fff;
      margin-bottom: 0;
      padding: 0.1rem 0.6rem;
      text-align: center;
      line-height: 1.3;
      position: absolute;
      bottom: 10%;
      left: 0;
      right: 0;
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
    .img-hover {
      display: block;
      position: absolute;
      inset: 0;
      background-color: rgb(31 31 32);
      transition: 0.2s ease;
      opacity: 0.7;
      padding: 1rem;
      cursor: pointer;
      border-radius: 0.5rem;
      span {
        font-size: 2.5rem;
        color: #fff;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }
  }
}
// Events and Gallery CSS End

// FAQ CSS Start
.faq {
  padding: 2rem 0;
  background-color: var(--faq-bg);
}
.accordion {
  &.faq-accordion {
    --bs-accordion-border-width: 0;
    .accordion-item {
      background-color: transparent;
      .accordion-button {
        position: relative;
        background-color: var(--faq-bg);
        align-items: baseline;
        display: flex;
        padding: 1rem 1.9rem 1rem 0;
        font-weight: normal;
        color: var(--faq-accordian);
        font-size: 1.05rem;
        border-bottom: 1px solid var(--faq-border);
        border-radius: 0;
        span {
          margin-right: 0.5rem;
          background-color: var(--faq-number);
          // background-color: #ededed;
          border-radius: 100%;
          width: 1.9rem;
          height: 1.9rem;
          padding: 0.8rem;
          margin-right: 0.7rem;
          display: flex;
          color: var(--menu-color);
          // color: #000;
          font-size: 0.9rem;
          font-weight: 700;
          align-items: center;
          justify-content: center;
        }
        &:focus {
          box-shadow: none !important;
        }
        &:hover {
          color: var(--faq-active);
        }
        &:not(.collapsed) {
          color: var(--faq-active);
          &::after {
            content: "\F63B";
          }
        }
        &::after {
          background-image: none !important;
          font-family: bootstrap-icons !important;
          font-size: 1.25rem;
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          transition: transform 0.3s ease;
          color: var(--faq-accordian);
          content: "\F64D";
        }
      }
      .accordion-collapse {
        .accordion-body {
          background-color: var(--faq-bg);
          opacity: 0.6;
          color: var(--text-black);
          padding: 1rem 0;
          font-size: 1.05rem;
          text-align: justify;
        }
      }
    }
  }
}
.faq__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

// FAQ CSS End

.grivence-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #ccc;
  padding: 0.5rem 0;
  &:last-child {
    border-bottom: none;
  }
}

//Media query Css start
@media (min-width: 320px) {
  // .heading-styletwo {
  //     font-size: 1.7rem;
  // }
  .events {
    .events__details {
      flex-direction: column;
      .events__details__thumbnail {
        // margin-right: 0;
      }
    }
  }

  .about__container {
    .about__img {
      height: 14.675rem;
      width: 14.675rem;
    }
    .about__imgtap {
      width: 6.713rem;
      height: 6.713rem;
      left: 0.3rem;
      bottom: 0.4rem;

      span {
        font-size: 3.375rem;
        padding: 0rem 1.7rem;
        line-height: 7rem;
      }
    }
  }
  .data {
    .card {
      h3 {
        font-size: 1.8rem;
        text-align: center;
      }
    }
  }
  .data {
    .card.card-complaint {
      .card-body {
        padding: 1rem;
        background-size: 54%;
      }
    }
  }
  .data {
    .card.card-grivance {
      .card-body {
        padding: 1rem;
        background-size: 54%;
      }
    }
  }
  .gallery-img {
    height: 7.5rem;
  }
}
@media (min-width: 375px) {
  .slide-main--subheading {
    color: var(--banner-text);
    font-size: 1.3rem;
  }
  .slide-main--heading {
    font-size: 1.675rem;
  }
  .events {
    .events__details {
      .events__details__thumbnail {
        // width: 22rem;
        width: 100%;
      }
    }
  }
}
@media (min-width: 430px) {
  .events {
    .events__details {
      .events__details__thumbnail {
        width: 25rem;
        margin: 0 auto;
        margin-right: auto;
      }
    }
  }
}
@media (min-width: 480px) {
  .events {
    .events__details {
      .events__details__thumbnail {
        width: 28.5rem;
      }
    }
  }
  .slide-main--heading {
    font-size: 1.675rem;
  }
}
@media (min-width: 530px) {
  .about__container {
    .about__imgtap {
      left: 5rem;
      bottom: 0rem;
    }
  }
}
@media screen and (min-width: 576px) {
  .slide-main--heading {
    font-size: 2.375rem;
  }
  .accordion {
    &.faq-accordion {
      .accordion-button {
        span {
          margin-right: 0.5rem;
        }
        position: relative;
        background-color: var(--faq-bg);
        align-items: baseline;
        display: flex;
        padding: 1rem 1.9rem 1rem 0;
        font-weight: normal;
        color: var(--faq-accordian);
        font-size: 1.25rem;
      }
      .accordion-collapse {
        .accordion-body {
          background-color: var(--faq-bg);
          padding-left: 0;
          opacity: 0.6;
          padding-right: 0;
        }
      }
    }
  }

  .swiper-slide--inner {
    padding-left: 1rem;
    font-size: 1rem;
  }
  .statics-container {
    padding: 1rem;
    ul {
      grid-template-columns: repeat(2, 1fr);
      li {
        margin-bottom: 2.5rem;
        &:nth-child(2) {
          &:after {
            background-color: transparent; // This removes the line
            content: none; // This removes the pseudo-element altogether
          }
        }
        &:after {
          position: absolute;
          content: "";
          right: 0;
          background-color: #ccc;
          width: 1px;
          height: 100%;
          bottom: 0;
          top: 0;
        }
      }
    }
  }
  .gallery-img {
    height: 11.9rem;
    img {
      height: 100%;
    }
  }
  .slide-detail {
    .slide-main--heading {
      font-size: 2.675rem;
      text-align: center;
    }
  }

  .about__container {
    .about__imgtap {
      left: 4rem;
    }
  }
  .events {
    &:hover {
      .events__details {
        .events__details__text {
          color: var(--event-hover);
        }
      }
    }
    .events__details {
      display: flex;
      align-items: flex-start; // Use flex-start for better alignment
      flex-direction: row;
      align-items: center;
      margin-bottom: 2.5rem;
      .events__details__thumbnail {
        height: 7.188rem;
        margin-right: 1.3rem;
        overflow: hidden;
        flex: 0 0 9rem;
        border-radius: 0.375rem;
        display: block;

        img {
          border-radius: 0.375rem;
          height: 100%;
          object-fit: contain;
        }
      }

      .events__details__text {
        color: var(--text-black); // Default color for text
        p {
          margin-bottom: 0.4rem;
        }

        small {
          color: var(--eventsmall-text); // Default color for small text
        }
      }
    }

    // Change colors on hover
  }
}
@media screen and (min-width: 768px) {
  .data {
    padding: 3rem 0;
    .card {
      height: auto;
      margin-bottom: 1.5rem;
      &.card-grivance {
        .card-body {
          padding: 2rem;
          background-size: 42%;
          p {
            padding: 1rem 0 0 0rem;
            font-weight: 400;
          }
        }
      }
      &.card-complaint {
        .card-body {
          padding: 2rem;
          background-size: 42%;
          p {
            padding: 1rem 0 0 0rem;
            font-weight: 400;
          }
          h3 {
            padding: 0;
          }
        }
      }

      h3 {
        font-size: 2rem;
        text-align: left;
      }
    }
  }
  .data__details {
    .data__details__or {
      padding: 0;
    }
  }
  .accordion {
    &.faq-accordion {
      .accordion-button {
        span {
          margin-right: 0.5rem;
        }
        padding: 1rem 1.9rem 1rem 0;
        font-size: 1.25rem;
      }
      .accordion-collapse {
        .accordion-body {
          opacity: 0.6;
          padding: 1rem 0;
        }
      }
    }
  }
  .about__header {
    font-size: 2.875rem;
    text-align: left;
  }
  .about__container {
    .about__img {
      height: 20.875rem;
      width: 20.875rem;
    }
    .about__imgtap {
      left: 3rem;
      bottom: 1rem;
    }
  }
  // Notification css Start

  .notification {
    .wrapper-title,
    .notification-wrapper,
    .wrapper-content,
    .wrapper-item {
      height: 53px;
    }

    .wrapper-title {
      border-radius: 0;
      padding: 1rem;
      z-index: 1;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
    }

    .notification-wrapper {
      padding: 0;
    }

    @keyframes ticker {
      0% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
      }

      100% {
        transform: translate3d(50%, 0, 0);
        visibility: hidden;
      }
    }

    .wrapper-content {
      width: 100%;
      overflow: hidden;
      height: 100%;
      padding-left: 100%;
      box-sizing: content-box;

      .wrapper-item {
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        padding-right: 100%;
        padding-bottom: 0;
        padding-top: 0.8rem;
        animation: ticker 30s linear infinite;
        position: relative;
        display: inline-block;
      }
    }
  }

  // Notification css End
  .events__details__thumbnail {
    height: 7.188rem;
    margin-right: 1rem;
    position: relative;
    display: block;
    overflow: hidden; // Ensure the image doesn't overflow

    img {
      border-radius: 0.375rem;
      height: 100%;
      transition: transform 0.3s ease; // Smooth transition for zoom
    }
  }
  .slide-detail {
    text-align: left;
  }
  .slide-detail {
    text-align: left;
    .slide-main--heading {
      font-size: 2.675rem;
      text-align: left;
    }
  }
  .about {
    p {
      text-align: start;
    }
  }
  .about__container {
    .about__imgtap {
      left: 10rem;
    }
  }

  .minister-text {
    text-align: start;
  }
}
@media screen and (min-width: 992px) {
  .notification {
    .wrapper-title {
      background: var(--notificationtext-bg);
      padding: 1.6rem;
      z-index: 1;
      width: 174px;

      margin: 0 auto;
      display: flex;
      height: 16px;
      align-items: center;
      cursor: pointer;
      a {
        color: #fff;
        &:hover {
          color: #bfd5f7;
        }
      }
    }
    .wrapper-content {
      .wrapper-item {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        align-items: center;
        white-space: nowrap;
        animation: ticker 30s linear infinite; // Apply animation
        width: max-content; // Adjust width to content
        .wrapper-items {
          position: relative;
          display: inline-block;
          padding: 0 1.4rem;
          color: var(--text-black);
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 9px;
            bottom: 0;
            border-radius: 100%;
            height: 0.5rem;
            width: 0.5rem;
            background-color: var(--notification-bullet);
          }

          &:hover {
            color: var(--notificationtext-bg);
          }
        }
      }

      &:hover .wrapper-item {
        animation-play-state: paused;
      }
    }
  }

  .faq {
    padding: 3rem 0;
  }
  .cm-message {
    p {
      text-align: left;
    }
  }
  .about__container {
    position: relative;
    .about__img {
      height: 23.875rem;
      width: 23.875rem;
      margin: 0 0 0 auto;
    }
    .about__imgtap {
      left: 0;
      bottom: 1rem;
    }
  }
  .statics-container {
    padding: 1rem;
    ul {
      grid-template-columns: repeat(2, 1fr);
      li {
        margin-bottom: 0;
        &:nth-child(2) {
          &:after {
            position: absolute;
            content: "";
            right: 0;
            background-color: var(--statics-border);
            width: 1px;
            height: 100%;
            bottom: 0;
            top: 0;
          }
        }
        &:after {
          position: absolute;
          content: "";
          right: 0;
          background-color: var(--statics-border);
          width: 1px;
          height: 100%;
          bottom: 0;
          top: 0;
        }
      }
    }
  }
  .gallery-img {
    height: 14.5rem;
    img {
      width: 100%;
    }
  }
  .statics {
    margin-top: 3rem;
  }
  .statics-container {
    box-shadow: 1px 2px 5px #56565629;
    background-color: var(--statics-bg);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    ul {
      display: grid; // Enable grid layout
      grid-template-columns: repeat(4, 1fr); // Create 4 equal columns
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      li {
        text-align: center;
        position: relative;
        h3 {
          color: var(--statics-data);
          font-weight: bold !important;
          font-size: 2.5rem;
          margin-bottom: 0.5rem;
          transition: color 0.3s ease;
        }
        small {
          font-size: 1.125rem;

          span {
            display: block;
          }
        }
        &::after {
          position: absolute;
          content: "";
          right: 0;
          background-color: var(--statics-border);
          width: 1px;
          height: 100%;
          bottom: 0;
          top: 0;
        }
        &:last-child {
          &::after {
            background-color: transparent; // This removes the line
            content: none; // This removes the pseudo-element altogether
          }
        }
      }
    }
  }

  .data {
    padding: 3rem 0;
    .card {
      height: 100%;
    }
  }
  .gallery-img {
    position: relative;
    height: 11.2rem;
    overflow: hidden;
    border-radius: 1rem;
    img {
      height: 100%;
    }
  }
  .minister-photo {
    height: 6.775rem;
  }
  .slide-main--heading {
    font-size: 3.075rem;
  }
}
@media screen and (min-width: 1200px) {
  .events {
    .events__details {
      margin-bottom: 1.2rem;
    }
  }
  .slide-detail {
    .slide-main--heading {
      font-size: 3.075rem;
    }
  }
  .about__container {
    position: relative;
    .about__img {
      height: 23.875rem;
      width: 23.875rem;
      margin: 0 0 0 auto;
    }
    .about__imgtap {
      left: 3rem;
      bottom: 1rem;
    }
  }
  .data {
    padding: 3rem 0;
    .card {
      height: 100%;
      &.card-grivance {
        .card-body {
          p {
            padding: 1rem 9.9rem 0 0rem;
          }
        }
      }
      &.card-complaint {
        .card-body {
          p {
            padding: 1rem 2.9rem 0 0rem;
          }
          h3 {
            padding: 0 3rem 0 0;
          }
        }
      }

      h3 {
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
      }
    }
  }
}

@media screen and (min-width: 1400px) {

  .about__container {
    position: relative;
    .about__img {
      height: 23.875rem;
      width: 23.875rem;
      margin: 0 0 0 auto;
      img {
        border-radius: 100%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .about__imgtap {
      position: absolute;
      width: 8.313rem;
      height: 8.313rem;
      border-radius: 100%;
      left: 6rem;
      bottom: 2rem;
      background-color: var(--about-bg-tap);
      span {
        font-size: 4.675rem;
        padding: 0rem 1.7rem;
        line-height: 9rem;
        color: var(--about-bg-tapicon);
      }
    }
  }

  .data {
    padding: 3rem 0;
    .card {
      height: 100%;
      &.card-grivance {
        .card-body {
          p {
            padding: 1rem 15.9rem 0 0rem;
          }
        }
      }
      &.card-complaint {
        .card-body {
          p {
            padding: 1rem 7.9rem 0 0rem;
          }
          h3 {
            padding: 0 9rem 0 0;
          }
        }
      }

      h3 {
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
      }
    }
  }

  .swiper-slide--inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    // padding-left: 19rem;
    background: var(--bg-black);
    background: transparent linear-gradient(270deg, #00000000 0%, #00000087 66%, #000000bd 100%) 0% 0%;
  }
  .slider-wrap {
    height: 650px;
    overflow: hidden;
  }
}

.status-info {
  width: 80px;
  height: 80px;
}
@media screen and (min-width:1440px) {
  .register-btn {
    margin-top: 4rem;
  }
}

// progress status

.StepProgress {
  position: relative;
  padding-left: 45px;
  list-style: none;
}
.StepProgress::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #CCC;
}
.stepProgress-item {
  font-size: .95rem;
  position: relative;
  counter-increment: list;
  background-color: #fff;
  border: 1px solid #CCC;
    border-radius: 6px;
    padding: 1rem 1.2rem;
    margin: 0 0 1rem 0;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: .2rem 0;
      }
      a {
        text-decoration: underline;
        font-weight: 600;
        &:hover {
          text-decoration: none;
        }
      }
    }
}
.stepProgress-item:not(:last-child) {
  padding-bottom: 20px;
}
.stepProgress-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: -25px;
  bottom: -20px;
  height: 100%;
  width: 10px;
}
.stepProgress-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -37px;
  width: 25px;
  height: 25px;
  border: 2px solid #CCC;
  border-radius: 50%;
  background-color: #FFF;
}
.stepProgress-item.is-done::before {
  border-left: 2px solid green;
}
.stepProgress-item.is-done::after {
  content: "✔";
  font-size: 15px;
  color: #FFF;
  text-align: center;
  border: 2px solid green;
  background-color: green;
}
.stepProgress-item.current::before {
  border-left: 2px solid green;
}
.stepProgress-item.current::after {
  content: counter(list);
  padding-top: 1px;

  top: -4px;
  // left: -40px;
  font-size: 14px;
  text-align: center;
  color: green;
  border: 2px solid green;
  background-color: white;
}


// progress status end