<div class="inner-area">
    <div class="bannerarea">
      <div class="container">
        <div class="bannerarea-content">
            <div>
                <div class="page-title" >
                    <h2>What's New</h2>
                </div>
                <div class="breadcrumb-area">
                    <nav  aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">What's New</li>
                        </ol>
                    </nav>
                </div>
            </div>
           
        </div>
     
    </div>
 
    </div>
    <div class="content-area">
      <div class="container">
          <div class="notification-content pt-0">
            <div class="notification-badge">
                <h4 class="fw-bold">Tender for demo</h4>
                <span  class=" notification-date"><span  class="bi bi-calendar2-week me-1"></span> 05/08/2024 </span>
            </div>
            <div class="notification-list">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam magni quaerat, optio blanditiis dolorum omnis quis cumque, et suscipit harum quae, eaque eius accusamus reiciendis incidunt ipsam? Eos, quasi.</p>
              <a href="javascript:void(0)" class="btn btn-primary"><span class="bi bi-download me-1"></span> Download</a>
            </div>
          </div>
          <div class="notification-content">
            <div class="notification-badge">
                <h4 class="fw-bold">Tender for demo</h4>
                <span  class=" notification-date"><span  class="bi bi-calendar2-week me-1"></span> 05/08/2024 </span>
            </div>
            <div class="notification-list">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam magni quaerat, optio blanditiis dolorum omnis quis cumque, et suscipit harum quae, eaque eius accusamus reiciendis incidunt ipsam? Eos, quasi.</p>
              <a href="javascript:void(0)" class="btn btn-primary"><span class="bi bi-download me-1"></span> Download</a>
            </div>
          </div>
          <div class="notification-content">
            <div class="notification-badge">
                <h4 class="fw-bold">Tender for demo</h4>
                <span  class=" notification-date"><span  class="bi bi-calendar2-week me-1"></span> 05/08/2024 </span>
            </div>
            <div class="notification-list">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam magni quaerat, optio blanditiis dolorum omnis quis cumque, et suscipit harum quae, eaque eius accusamus reiciendis incidunt ipsam? Eos, quasi.</p>
              <a href="javascript:void(0)" class="btn btn-primary"><span class="bi bi-download me-1"></span> Download</a>
            </div>
          </div>
          <div class="notification-content">
            <div class="notification-badge">
                <h4 class="fw-bold">Tender for demo</h4>
                <span  class=" notification-date"><span  class="bi bi-calendar2-week me-1"></span> 05/08/2024 </span>
            </div>
            <div class="notification-list">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam magni quaerat, optio blanditiis dolorum omnis quis cumque, et suscipit harum quae, eaque eius accusamus reiciendis incidunt ipsam? Eos, quasi.</p>
              <a href="javascript:void(0)" class="btn btn-primary"><span class="bi bi-download me-1"></span>  Download</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  