@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6bkukl');
  src:  url('../fonts/icomoon.eot?6bkukl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6bkukl') format('truetype'),
    url('../fonts/icomoon.woff?6bkukl') format('woff'),
    url('../fonts/icomoon.svg?6bkukl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Group-14936:before {
  content: "\e930";
  color: #fff;
}
.icon-water-tower:before {
  content: "\e931";
  color: #0b81cc;
}
.icon-Layer-2:before {
  content: "\e932";
  color: #0b81cc;
}
.icon-washing-hands:before {
  content: "\e933";
  color: #0b81cc;
}
.icon-engagement:before {
  content: "\e934";
  color: #0b81cc;
}
.icon-complain:before {
  content: "\e900";
  color: #fff;
}
.icon-edit:before {
  content: "\e901";
  color: #fff;
}
.icon-faq .path1:before {
  content: "\e902";
  color: rgb(65, 100, 163);
}
.icon-faq .path2:before {
  content: "\e903";
  margin-left: -0.6630859375em;
  color: rgb(47, 81, 130);
  opacity: 0.5;
}
.icon-faq .path3:before {
  content: "\e904";
  margin-left: -0.6630859375em;
  color: rgb(65, 100, 163);
  opacity: 0.1;
}
.icon-faq .path4:before {
  content: "\e905";
  margin-left: -0.6630859375em;
  color: rgb(255, 195, 189);
}
.icon-faq .path5:before {
  content: "\e906";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path6:before {
  content: "\e907";
  margin-left: -0.6630859375em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-faq .path7:before {
  content: "\e908";
  margin-left: -0.6630859375em;
  color: rgb(65, 100, 163);
}
.icon-faq .path8:before {
  content: "\e909";
  margin-left: -0.6630859375em;
  color: rgb(0, 0, 0);
  opacity: 0.3;
}
.icon-faq .path9:before {
  content: "\e90a";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path10:before {
  content: "\e90b";
  margin-left: -0.6630859375em;
  color: rgb(65, 100, 163);
}
.icon-faq .path11:before {
  content: "\e90c";
  margin-left: -0.6630859375em;
  color: rgb(65, 100, 163);
}
.icon-faq .path12:before {
  content: "\e90d";
  margin-left: -0.6630859375em;
  color: rgb(255, 195, 189);
}
.icon-faq .path13:before {
  content: "\e90e";
  margin-left: -0.6630859375em;
  color: rgb(224, 224, 224);
}
.icon-faq .path14:before {
  content: "\e90f";
  margin-left: -0.6630859375em;
  color: rgb(255, 195, 189);
}
.icon-faq .path15:before {
  content: "\e910";
  margin-left: -0.6630859375em;
  color: rgb(255, 195, 189);
}
.icon-faq .path16:before {
  content: "\e911";
  margin-left: -0.6630859375em;
  color: rgb(255, 195, 189);
}
.icon-faq .path17:before {
  content: "\e912";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path18:before {
  content: "\e913";
  margin-left: -0.6630859375em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-faq .path19:before {
  content: "\e914";
  margin-left: -0.6630859375em;
  color: rgb(65, 100, 163);
}
.icon-faq .path20:before {
  content: "\e915";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path21:before {
  content: "\e916";
  margin-left: -0.6630859375em;
  color: rgb(65, 100, 163);
}
.icon-faq .path22:before {
  content: "\e917";
  margin-left: -0.6630859375em;
  color: rgb(65, 100, 163);
}
.icon-faq .path23:before {
  content: "\e918";
  margin-left: -0.6630859375em;
  color: rgb(224, 224, 224);
}
.icon-faq .path24:before {
  content: "\e919";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path25:before {
  content: "\e91a";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path26:before {
  content: "\e91b";
  margin-left: -0.6630859375em;
  color: rgb(255, 195, 189);
}
.icon-faq .path27:before {
  content: "\e91c";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path28:before {
  content: "\e91d";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path29:before {
  content: "\e91e";
  margin-left: -0.6630859375em;
  color: rgb(255, 195, 189);
}
.icon-faq .path30:before {
  content: "\e91f";
  margin-left: -0.6630859375em;
  color: rgb(224, 224, 224);
}
.icon-faq .path31:before {
  content: "\e920";
  margin-left: -0.6630859375em;
  color: rgb(255, 195, 189);
}
.icon-faq .path32:before {
  content: "\e921";
  margin-left: -0.6630859375em;
  color: rgb(255, 195, 189);
}
.icon-faq .path33:before {
  content: "\e922";
  margin-left: -0.6630859375em;
  color: rgb(0, 0, 0);
  opacity: 0.2;
}
.icon-faq .path34:before {
  content: "\e923";
  margin-left: -0.6630859375em;
  color: rgb(255, 195, 189);
}
.icon-faq .path35:before {
  content: "\e924";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path36:before {
  content: "\e925";
  margin-left: -0.6630859375em;
  color: rgb(255, 195, 189);
}
.icon-faq .path37:before {
  content: "\e926";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path38:before {
  content: "\e927";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path39:before {
  content: "\e928";
  margin-left: -0.6630859375em;
  color: rgb(237, 132, 126);
}
.icon-faq .path40:before {
  content: "\e929";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path41:before {
  content: "\e92a";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faq .path42:before {
  content: "\e92b";
  margin-left: -0.6630859375em;
  color: rgb(38, 50, 56);
}
.icon-faucet:before {
  content: "\e92c";
  color: #fff;
}
.icon-MagnifyingGlass:before {
  content: "\e92d";
}
.icon-moon:before {
  content: "\e92e";
}
.icon-sun:before {
  content: "\e92f";
  color: #fff;
}
