<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4 col-md-4">
                <h3> Gallery</h3>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="utilite">
                    <ul class="mb-0">
                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Download Excel"><i class="bi bi-file-earmark-excel"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Click to Publish"><i class="bi bi-volume-up"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Click to Unpublish"><i class="bi bi-volume-mute"></i></a>
                        </li>
                        
                        <li class="filter-dropdown dropdown">
                            <a href="javascript:void(0)" data-bs-toggle="dropdown" (click)="openDropdown()">
                                <i class="bi bi-funnel"></i> <span class="hide-icon ms-2">Filter</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end filter-dropdown-menu shadow border-0"
                                [ngClass]="{ 'show': isDropdownOpen }" (click)="$event.stopPropagation()">
                                <span class="drop-icon" (click)="closeDropdown()">
                                    <i class="bi bi-x-lg"></i>
                                </span>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-lg-0 mb-3">
                                            <label class="form-label" for="captionen">Caption</label>
                                            <input class="form-control" id="captionen" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="form-label d-md-block d-none">&nbsp;</label>
                                        <div class="d-flex gap-2">
                                            <button type="submit" class="btn btn-primary px-xl-4">Search</button>
                                            <button type="submit" class="btn btn-danger px-xl-4">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="fill-btn add-link"><a routerLink="/application/mnggallery/add" title="Click to Add"><i class="bi bi-plus-lg"></i>
                            <span class="hide-icon ms-2">Add Page</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="view-legand">
        <ul class="legends">
            <li><span class="bg-success"></span> Publish </li>
            <li><span class="bg-danger"></span> Unpublish </li>
        </ul>
    </div>
    <div class="content-box content-area p-0">
        <div *ngIf="noRecordsFound" class="alert alert-warning text-center mt-3">
            No Banner is Found!!
        </div>

        <div *ngIf="galleries.length > 0" class="table-responsive mb-0">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th width="30px"><input type="checkbox"></th>
                  <th width="40px">Sl#</th>
                  <th>Category</th>
                  <th>Type</th>
                  <th>Caption (English)</th>
                  <th>Caption (हिंदी)</th>
                  <th style="text-align: center">ThumbImage</th>
                  <th width="70px" style="text-align: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let gallery of galleries; let i = index" [ngClass]="{'publish': gallery.isPublish, 'unpublish': !gallery.isPublish}">
                      <td><input type="checkbox"></td>
                      <td>{{ i + 1 }}</td>
                      <td>{{ gallery.galleryCategory }}</td>
                      <td>{{ gallery.galleryType }}</td>
                      <td>{{ gallery.captionEnglish }}</td>
                      <td>{{ gallery.captionHindi }}</td>
                      <!-- <td>{{ gallery.thumbnail }}</td> -->
                      <td style="text-align: center; vertical-align: middle;"><img [src]="gallery.thumbImage" alt="{{ gallery.captionEnglish }}" style="height: 50px; width: 50px;" class="img-fluid" /></td>
                      <td>
                        <div class="d-flex gap-1">
                            <a href="javascript:void(0);" (click)="onView(gallery)" class="btn btn-outline-success btn-sm" title="View" data-bs-toggle="modal" data-bs-target="#galleryModal">
                            <i class="bi bi-eye"></i></a>
                          <button class="btn btn-outline-primary btn-sm" (click)="editGalleryDetails(gallery.galleryId)" title="Edit"><i class="bi bi-pencil"></i></button>
                          <button class="btn btn-outline-danger btn-sm" (click)="deleteGalleryDetails(gallery.galleryId)" title="Delete"><i class="bi bi-trash3"></i></button>
                        </div>
                      </td>
                  </tr>                  
              </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal View  -->
<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:blue; font-weight: bold;">Gallery</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body view-form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="img-fluid mb-3">
                            <img *ngIf="selectedGallery?.thumbImage" 
                                [src]="selectedGallery.thumbImage" 
                                alt="Gallery Thumbnail" 
                                class="img-fluid mb-3 modal-banner" 
                                 style="max-height: 300px; width: auto; border: 1px solid #ddd; padding: 10px;"
                            />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-value" style="color: black; font-weight: bold;">Caption (English)</label>
                        <label *ngIf="selectedGallery?.captionEnglish" class="form-label">
                            {{ selectedGallery.captionEnglish }}
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-value" style="color: black; font-weight: bold;">Caption (हिंदी)</label>
                        <label *ngIf="selectedGallery?.captionHindi" class="form-label">
                            {{ selectedGallery.captionHindi }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>