<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <h3>Demography Mapping</h3>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory </span>
                        </li>
                        <li class="fill-btn back-link"><a routerLink="/application/demographymapping"
                                title="Go to Previous"><i class="bi bi-arrow-left"></i> Back to View</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div class="content-box content-area">
        <form [formGroup]="demographymap" autocomplete="off"></form>
        <div class="row">
            <div class="col-xxl-10 col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="circle" class="form-label">Circle <span
                                    class="text-danger small"><b>*</b></span></label>
                            <select class="form-select" id="circle">
                                <option selected>Select</option>
                                <option value="1">Ara</option>
                                <option value="2">Begusarai</option>
                                <option value="3">Bhagalpur</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="divison" class="form-label">Division <span
                                    class="text-danger small"><b>*</b></span></label>
                            <select class="form-select" id="divison">
                                <option selected>Select</option>
                                <option value="1">Ara</option>
                                <option value="2">Begusarai</option>
                                <option value="3">Bhagalpur</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="sub-disvison" class="form-label">Sub-Division <span
                                    class="text-danger small"><b>*</b></span></label>
                            <select class="form-select" id="sub-disvison">
                                <option selected>Select</option>
                                <option value="1">Ara</option>
                                <option value="2">Begusarai</option>
                                <option value="3">Bhagalpur</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="Section" class="form-label">Section <span
                                    class="text-danger small"><b>*</b></span></label>
                            <select class="form-select" id="Section">
                                <option selected>Select</option>
                                <option value="1">Ara</option>
                                <option value="2">Begusarai</option>
                                <option value="3">Bhagalpur</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="district" class="form-label">District <span
                                    class="text-danger small"><b>*</b></span></label>
                            <!-- <select class="form-select" id="district">
                                <option selected>Select</option>
                                <option value="1">ARARIA</option>
                                <option value="2">ARARIA</option>
                                <option value="3">AURANGABAD</option>
                            </select> -->
                            <ng-select formControlName="district" [items]="districts" bindLabel="vcH_DIST_NAME"
                                bindValue="inT_DIST_ID" placeholder="Select" (change)="onDistrictChange($event)">
                            </ng-select>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="block1" class="form-label">Block <span
                                    class="text-danger small"><b>*</b></span></label>
                            <select class="form-select select-height" multiple id="block1" [(ngModel)]="selectedBlocks">
                                <option *ngFor="let block of blocks" [value]="block.inT_BLOCK_ID">
                                    {{ block.vcH_BLOCK_NAME }}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="flex-contan">
                            <label class="form-label d-lg-block d-none">&nbsp;&nbsp;</label>
                            <div class="mb-3">
                                <div class="block-fun">
                                    <button class="btn btn-outline-primary btn-sm" (click)="moveSelectedToSecond()">
                                        <i class="bi bi-chevron-right"></i>
                                    </button>
                                    <button class="btn btn-outline-primary btn-sm" (click)="moveAllToSecond()">
                                        <i class="bi bi-chevron-left"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <label for="block2" class="form-label">&nbsp;</label>
                            <select class="form-select select-height" multiple id="block2">
                                <option *ngFor="let block of selectedInSecondList" [value]="block.inT_BLOCK_ID">
                                    {{ block.vcH_BLOCK_NAME }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-xxl-3 col-lg-4 col-sm-6">
                    <div class="d-flex gap-2 mt-lg-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>