<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs" routerLinkActive="active">
                    <!-- <li class="nav-item">
                        <a routerLink="/application/mnggallery" class="nav-link active">Add</a>
                    </li> -->
                    <li class="nav-item">
                        <a routerLink="/application/mnggallery/view" class="nav-link">View</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="utilite float-end mb-1">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory </span>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Click to Add Tab" routerLink="/application/mnggallery">
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-box content-area">
        <div class="row">
            <div class="col-xl-10 col-lg-12">
                <div class="row">

                    <div class="col-xl-4">
                        <div class="mb-3">
                            <label class="form-label" for="type">Type <span class="text-danger">*</span></label>
                            <select class="form-select" [(ngModel)]="selectedType">
                                <option value="" selected>Select</option>
                                <option value="photo">Photo</option>
                                <option value="video">Video</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4" *ngIf="selectedType === 'photo' || selectedType === 'video'">
                        <div class="mb-3">
                            <label class="form-label" for="thembimg"> Thumb Image <span class="text-danger">*</span></label>
                            <div class="custom-dropzone photoUpload" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                                <ngx-dropzone-label>
                                    <div>
                                        <h2>Drag and Drop <span class="d-block">or</span>Click to Upload Thumb Image</h2>
                                    </div>
                                </ngx-dropzone-label>
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </div>
                            <p class="small mb-0 text-end text-danger">Max file Size <span class="fw-bold">300 mb</span></p>
                        </div>
                    </div>
                    
                    
                    <div class="col-xl-4" *ngIf="selectedType === 'photo'">
                        <div class="mb-3">
                            <label class="form-label" for="upodimg"> large Image <span class="text-danger">*</span></label>
                            <div class="custom-dropzone photoUpload" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                                <ngx-dropzone-label>
                                    <div>
                                        <h2>Drag and Drop <span class="d-block">or</span>Click to Upload large Image</h2>
                                    </div>
                                </ngx-dropzone-label>
                                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-image-preview>
                            </div>
                            <p class="small mb-0 text-end text-danger">Max file Size <span class="fw-bold">1 mb</span></p>
                        </div>
                    </div>
                    
                   
                    <div class="col-xl-4" *ngIf="selectedType === 'video'">
                        <div class="mb-3">
                            <label class="form-label d-block" for="linktype">Link Type</label>
                            <div class="form-check form-check-inline mt-1">
                                <input class="form-check-input" type="radio" name="linkType" id="link1" value="internal" checked>
                                <label class="form-check-label" for="link1">Internal</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="linkType" id="link2" value="external">
                                <label class="form-check-label" for="link2">External</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-4" *ngIf="selectedType === 'video'">
                        <div class="mb-3">
                            <label class="form-label" for="videurl">Video Url</label>
                            <input type="text" class="form-control" id="videurl">
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="mb-3">
                            <label class="form-label" for="captionen">Caption</label>
                            <textarea class="form-control" id="captionen" rows="3"></textarea>
                            <p class="text-end mb-0">
                                <small class="text-danger">Maximum <strong>500</strong> characters</small>
                            </p>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="mb-3">
                            <label class="form-label" for="captionhn">Caption in Hindi</label>
                            <textarea class="form-control" id="captionhn" rows="3"></textarea>
                            <p class="text-end mb-0">
                                <small class="text-danger">Maximum <strong>500</strong> characters</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex gap-2 mt-lg-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>