@import '../../../../assets/scss/variables';
footer {
    width: 100%;
    background-color: rgba($black,.05);
    font-weight: 300;
    font-size: .9rem;
}
.fixed-bottom {
    position: inherit;
}

p {
    color: $icon-color;
}