<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs" routerLinkActive="active">
                    <li class="nav-item">
                        <a routerLink="/application/mngfaq" class="nav-link active">Add</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/mngfaq-view" class="nav-link">View</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 ">
                <div class="utilite float-end mb-1">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory </span>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-box content-area">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label" for="dsn">Question</label>
                            <input class="form-control" type="text" id="dsn">
                        </div>
                    </div>
           
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label" for="qsnhn">Question in Hindi</label>
                            <input type="text" class="form-control" id="qsnhn">
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label">Answer</label>
                            <ckeditor [editor]="editor" [data]="data"></ckeditor>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3">
                            <label class="form-label">Answer in Hindi</label>
                            <ckeditor [editor]="editor" [data]="data"></ckeditor>
                        </div>
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex gap-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

