<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4 col-md-4">
                <h3> Whats New</h3>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="utilite">
                    <ul class="mb-0">
                       

                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" title="Download Excel"><i class="bi bi-file-earmark-excel"></i></a>
                        </li>
                        
                        <li>
                            <a href="javascript:void(0)" title="Click to Publish"><i class="bi bi-volume-up"></i></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" title="Click to Unpublish"><i class="bi bi-volume-mute"></i></a>
                        </li>
                        <!-- <li [ngClass]="isPanelOpen ? 'active-filter' : ''">
                            <a href="javascript:void(0)" title="{{ isPanelOpen ? 'Click to Close Filter' : 'Click to Open Filter' }}" 
                               (click)="togglePanel()">
                                <i class="bi bi-funnel"></i> Filter
                            </a>
                        </li> -->
                        <li class="filter-dropdown dropdown">
                            <a href="javascript:void(0)" data-bs-toggle="dropdown" (click)="openDropdown()">
                                <i class="bi bi-funnel"></i><span class="hide-icon ms-2"> Filter</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end filter-dropdown-menu shadow border-0"
                                [ngClass]="{ 'show': isDropdownOpen }" (click)="$event.stopPropagation()">
                                <span class="drop-icon" (click)="closeDropdown()">
                                    <i class="bi bi-x-lg"></i>
                                </span>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-lg-0 mb-3">
                                            <label class="form-label" for="title">Title</label>
                                            <input type="text" class="form-control" id="title">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="d-md-block d-none form-label">&nbsp;</label>
                                        <div class="d-flex gap-2">
                                            <button type="submit" class="btn btn-primary px-xl-4">Search</button>
                                            <button type="submit" class="btn btn-danger px-xl-4">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="fill-btn add-link"><a routerLink="/application/whatsnew/add"  title="Click to Add"><i class="bi bi-plus-lg"></i>
                            <span class="hide-icon ms-2">Add Page</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


   
  
    <div class="view-legand">
        <ul class="legends">
            <li><span class="bg-success"></span> Publish </li>
            <li><span class="bg-danger"></span> Unpublish </li>
        </ul>
    </div>
    <div class="content-box content-area p-0">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th width="30px">
                            <input class="form-check-input" type="checkbox">
                        </th>
                        <th width="40px">Sl#</th>
                        <th>Title</th>
                        <th>Published on</th>
                        <th>Description</th>
                        <th>Document</th>
                        <th width="90px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="publish">
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td> 1 </td>
                        <td>
                            Tender for demo
                        </td>
                        <td> 01-Sep-2022 </td>
                       <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam magni quaerat, 
                        <br>optio blanditiis dolorum omnis quis cumque, et suscipit harum quae, eaque eius <br>
                        accusamus reiciendis incidunt ipsam? Eos, quasi.</td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger" title="Download"><i class="bi bi-download"></i></a>
                        </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="unpublish">
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>2</td>
                        <td>
                            Tender for demo
                        </td>
                        <td> 20-Aug-2022 </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam magni quaerat, 
                            <br>optio blanditiis dolorum omnis quis cumque, et suscipit harum quae, eaque eius <br>
                            accusamus reiciendis incidunt ipsam? Eos, quasi.</td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger" title="Download"><i class="bi bi-download"></i></a>
                            </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="unpublish">
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>3</td>
                        <td>
                            Tender for demo
                        </td>
                        <td> 20-Aug-2022 </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam magni quaerat, 
                            <br>optio blanditiis dolorum omnis quis cumque, et suscipit harum quae, eaque eius <br>
                            accusamus reiciendis incidunt ipsam? Eos, quasi.</td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger" title="Download"><i class="bi bi-download"></i></a>
                            </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="publish">
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>4</td>
                        <td>
                            Tender for demo
                        </td>
                        <td> 20-Aug-2022 </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam magni quaerat, 
                            <br>optio blanditiis dolorum omnis quis cumque, et suscipit harum quae, eaque eius <br>
                            accusamus reiciendis incidunt ipsam? Eos, quasi.</td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger" title="Download"><i class="bi bi-download"></i></a>
                            </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>

                    <tr class="unpublish">
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>5</td>
                        <td>
                            Tender for demo
                        </td>
                        <td> 20-Aug-2022 </td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam magni quaerat, 
                            <br>optio blanditiis dolorum omnis quis cumque, et suscipit harum quae, eaque eius <br>
                            accusamus reiciendis incidunt ipsam? Eos, quasi.</td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger" title="Download"><i class="bi bi-download"></i></a>
                            </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                data-bs-toggle="modal" data-bs-target="#viewmodal">
                                    <i class="bi bi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal View  -->
<div class="modal fade" id="viewmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tender for demo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body view-form">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label d-block">Published on</label>
                                    <label class="form-value">01-Sep-2022</label>
                                </div>
                            </div>
                
                            <div class="col-xl-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Document</label>
                                    <label class="form-value">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger" title="lorem_edit.pdf"><i class="bi bi-download"></i> Download</a>
                                    </label>
                                </div>
                            </div>

                       
                            <!-- <div class="col-xl-6 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Title</label>
                                    <label class="form-value">Tender for demo</label>
                                </div>
                            </div> -->
                
                           
                        
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Description</label>
                                    <label class="form-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ullam magni quaerat, optio blanditiis dolorum omnis quis cumque, et suscipit harum quae, eaque eius accusamus reiciendis incidunt ipsam? Eos, quasi.</label>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Title (In Hindi)</label>
                                    <label class="form-value">डेमो के लिए टेंडर</label>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Description (In Hindi)</label>
                                    <label class="form-value">लोरेम इप्सम डोलोर sit amet कंसिक्टेटुर एडिपिसिकिंग एलीट। उन्डे उल्लम मैग्नी क्वाएरत, ऑप्टियो ब्लैंडिटियस डोलोरम ओम्निस क्यूस कुम्के, एट सुसिपिट हारम क्वाए, ईक्वे eius अकुसामस रीसीडिंड्स इन्सिडुंट इप्साम? ईओस, क्वासी।</label>
                                </div>
                            </div>
                        </div>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>