<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4 col-md-4">
                <h3> Whats New</h3>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="utilite">
                    <ul class="mb-0">
                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Download Excel"><i class="bi bi-file-earmark-excel"></i></a>
                        </li>                        
                        <li>
                            <a href="javascript:void(0)" title="Click to Publish"><i class="bi bi-volume-up"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Click to Unpublish"><i class="bi bi-volume-mute"></i></a>
                        </li>                        
                        <li class="filter-dropdown dropdown">
                            <a href="javascript:void(0)" data-bs-toggle="dropdown" (click)="openDropdown()">
                                <i class="bi bi-funnel"></i><span class="hide-icon ms-2"> Filter</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end filter-dropdown-menu shadow border-0" [ngClass]="{ 'show': isDropdownOpen }" (click)="$event.stopPropagation()">
                                <span class="drop-icon" (click)="closeDropdown()">
                                    <i class="bi bi-x-lg"></i>
                                </span>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-lg-0 mb-3">
                                            <label class="form-label" for="title">Title</label>
                                            <input type="text" class="form-control" id="title">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="d-md-block d-none form-label">&nbsp;</label>
                                        <div class="d-flex gap-2">
                                            <button type="submit" class="btn btn-primary px-xl-4">Search</button>
                                            <button type="submit" class="btn btn-danger px-xl-4">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="fill-btn add-link">
                            <a routerLink="/application/whatsnew/add" title="Click to Add">
                                <i class="bi bi-plus-lg"></i><span class="hide-icon ms-2">Add Page</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="view-legand">
        <ul class="legends">
            <li><span class="bg-success"></span> Publish </li>
            <li><span class="bg-danger"></span> Unpublish </li>
        </ul>
    </div>

    <div class="content-box content-area p-0">
        <div *ngIf="noRecordsFound" class="alert alert-warning text-center mt-3">
            No What is New Found!!
        </div>
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th width="30px"><input class="form-check-input" type="checkbox"></th>
                        <th width="40px">Sl#</th>
                        <th>Title</th>                        
                        <th>Description</th>
                        <th>Published On</th>
                        <th style="text-align: center;">Document</th>
                        <th width="70px" style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of whatIsNewDetails; let i = index" [ngClass]="{'publish': item.isPublish, 'unpublish': !item.isPublish}">
                        <td><input type="checkbox"></td>
                        <td>{{ i + 1 }}</td>                        
                        <td>{{ item.titleEnglish }}</td>                        
                        <td>{{ item.descriptionEnglish }}</td>
                        <td>{{ item.publishDate | date:'dd-MMM-yyyy' }}</td>
                        <td style="text-align: center;">
                            <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger" title="Download"><i class="bi bi-download"></i></a>
                        </td>
                        <!-- <td style="text-align: center;">
                            <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger" (click)="downloadDocument(item.whatIsNewId)" title="Download"><i class="bi bi-download"></i></a>
                        </td> -->
                        <td>
                          <div class="d-flex gap-1">
                              <a href="javascript:void(0);" (click)="onView(item)" class="btn btn-outline-success btn-sm" title="View" data-bs-toggle="modal" data-bs-target="#wahtIsNewModal">
                              <i class="bi bi-eye"></i></a>
                            <button class="btn btn-outline-primary btn-sm" (click)="editWhatIsNewDetails(item.whatIsNewId)" title="Edit"><i class="bi bi-pencil"></i></button>
                            <button class="btn btn-outline-danger btn-sm" (click)="deleteWhatIsNewDetails(item.whatIsNewId)" title="Delete"><i class="bi bi-trash3"></i></button>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal View  -->
<div class="modal fade" id="wahtIsNewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:blue; font-weight: bold;">What Is New</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body view-form">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label d-block">Published On</label>
                                    <label *ngIf="selectedWhatIsNews?.publishDate" class="form-value">
                                        {{ selectedWhatIsNews.publishDate | date:'dd-MMM-yyyy'}}
                                    </label>
                                </div>
                            </div>
                
                            <div class="col-xl-6 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Document</label>
                                    <label class="form-value">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-outline-danger" title="lorem_edit.pdf"><i class="bi bi-download"></i> Download</a>
                                    </label>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Title (In English)</label>
                                    <label *ngIf="selectedWhatIsNews?.titleEnglish" class="form-value">
                                        {{ selectedWhatIsNews.titleEnglish }}
                                    </label>
                                </div>
                            </div>
                        
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Description (In English)</label>
                                    <label *ngIf="selectedWhatIsNews?.descriptionEnglish" class="form-value">
                                        {{ selectedWhatIsNews.descriptionEnglish }}
                                    </label>
                                </div>
                            </div>
                            
                            <div class="col-xl-6 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Title (हिंदी में)</label>
                                    <label *ngIf="selectedWhatIsNews?.titleHindi" class="form-value">
                                        {{ selectedWhatIsNews.titleHindi }}
                                    </label>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Description (हिंदी में)</label>
                                    <label *ngIf="selectedWhatIsNews?.descriptionHindi" class="form-value">
                                        {{ selectedWhatIsNews.descriptionHindi }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>