<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
                <h3>Register Complaint</h3>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite">
                    <ul class="mb-0">


                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" title="Download Excel"><i
                                    class="bi bi-file-earmark-excel"></i></a>
                        </li>

                       
                        <li class="filter-dropdown dropdown">
                            <a href="javascript:void(0)" data-bs-toggle="dropdown">
                                <i class="bi bi-funnel"></i> Filter
                            </a>

                            <div class="dropdown-menu dropdown-menu-end filter-dropdown-menu shadow border-0">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="manutype">District</label>
                                            <select class="form-select" id="district">
                                                <option selected>Select</option>
                                                <option value="1">ARARIA</option>
                                                <option value="2">ARARIA</option>
                                                <option value="3">AURANGABAD</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="parentmanu">Block</label>
                                            <select class="form-select" id="sub-disvison">
                                                <option selected>Select</option>
                                                <option value="1">Ara</option>
                                                <option value="2">Begusarai</option>
                                                <option value="3">Bhagalpur</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="menuen">Gram Panchayat</label>
                                            <select class="form-select" id="sub-disvison">
                                                <option selected>Select</option>
                                                <option value="1">Ara</option>
                                                <option value="2">Begusarai</option>
                                                <option value="3">Bhagalpur</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label d-md-block d-none" for="menuen">&nbsp;&nbsp;</label>
                                            <div class="d-flex gap-2">
                                            <button type="submit" class="btn btn-primary px-xl-4">Search</button>
                                            <button type="submit" class="btn btn-danger px-xl-4">Reset</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>
                        <li class="fill-btn add-link"><a routerLink="/application/complaintregistration/add"
                                title="Go to Previous"><i class="bi bi-plus-lg"></i>
                                Add Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="collapseExample" class="collapse show">
        <div class="content-box search-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="manutype">Menu Type</label>
                        <select class="form-select" id="manutype">
                            <option selected>Select</option>
                            <option value="1">Main Menu</option>
                            <option value="2">Footer Menu</option>
                            <option value="3">Footer Bottom Menu</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="parentmanu">Parent Menu</label>
                        <select class="form-select" id="parentmanu">
                            <option selected>Select</option>
                            <option value="1">FAQ</option>
                            <option value="2">Feedback</option>
                            <option value="3">Contact</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="menuen">Menu Name</label>
                        <input type="text" class="form-control" id="menuen">
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label d-xl-block d-lg-none d-md-block d-none">&nbsp;</label>
                        <button type="submit" class="btn btn-primary me-2">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="view-forms pb-1">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="ddlDistrict" class="form-label">District</label>
                    <div class="form-control-plaintext">Patna</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="ddlBlock" class="form-label">Block</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="ddlGp" class="form-label">Gram Panchayat</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="txtToken" class="form-label">Village</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="ddlComplaintCategory" class="form-label">Complaint Category</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="ddlSubCategory" class="form-label">Complaint Sub-Category</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="txtComplaintName" class="form-label">Nature of Document</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
           
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label class="form-label">Registration Date</label>
                    <div class="form-control-plaintext">9-Nov-2024</div>
                </div>
            </div>

        </div>
    </div>
    <div class="content-box content-area p-0">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th width="40px">Sl#</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>District</th>
                        <th width="100">Take Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td>
                            Subham Kumar Das
                        </td>
                        <td> 9437023783 </td>
                        <td>Patna</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item btn btn-outline-success btn-sm" title="View" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="bi bi-eye"></i> 
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item btn btn-outline-primary btn-sm" title="Edit">
                                            <i class="bi bi-pencil"></i> 
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item btn btn-outline-danger btn-sm" title="Delete">
                                            <i class="bi bi-trash3"></i> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        
                        <!-- <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i></a>

                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit"><i
                                        class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete"><i
                                        class="bi bi-trash3"></i></a>

                            </div>
                        </td> -->
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            Surat Kumar Das
                        </td>
                        <td> 7823872383 </td>
                        <td>Patna</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i></a>

                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit"><i
                                        class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete"><i
                                        class="bi bi-trash3"></i></a>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 3 </td>
                        <td>
                            Subham Kumar Das
                        </td>
                        <td> 9437877223 </td>
                        <td>Patna</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i></a>

                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit"><i
                                        class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete"><i
                                        class="bi bi-trash3"></i></a>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            Surat Kumar Das
                        </td>
                        <td> 7823773033 </td>
                        <td>Patna</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i></a>

                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit"><i
                                        class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete"><i
                                        class="bi bi-trash3"></i></a>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            Surat Kumar Das
                        </td>
                        <td> 7823987329 </td>
                        <td>Patna</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i></a>

                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit"><i
                                        class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete"><i
                                        class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Register Complaint</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xl-12">
                        <h5 class="page-heading">Complaint Details</h5>
                        <div class="bg-light p-3 pb-0 mb-4 view-form">
                            <div class="row">
                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Registration Date</label>
                                        <label class="form-value">24-Oct-2024</label>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Name</label>
                                        <label class="form-value">Subham Kumar Das</label>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Phone</label>
                                        <label class="form-value">9437023783</label>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Mode of Complaint</label>
                                        <label class="form-value">Helpline</label>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Complaint Category</label>
                                        <label class="form-value">Subham</label>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Complaint Sub-Category</label>
                                        <label class="form-value">Lorem</label>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Nature of Document</label>
                                        <label class="form-value">Lorem</label>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Document</label>
                                        <label class="form-value">Lorem</label>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Complaint Description</label>
                                        <label class="form-value">Lorem ipsum dolor sit, amet consectetur adipisicing
                                            elit. Sequi temporibus delectus voluptatem libero dolorem natus sapiente
                                            ipsum error reiciendis cupiditate!</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="page-heading">Address</h5>
                        <div class="bg-light p-3 pb-0 mb-4 view-form">
                            <div class="row">
                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">District</label>
                                        <label class="form-value">Patna</label>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Block</label>
                                        <label class="form-value">Lorem</label>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Gram Panchayat</label>
                                        <label class="form-value">Lorem</label>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Village</label>
                                        <label class="form-value">Lorem</label>
                                    </div>
                                </div>

                                <div class="col-xl-12 col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Address</label>
                                        <label class="form-value">Lorem ipsum dolor sit amet.</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>