footer{
    background-color: var(--footer-bg);
    
  
}
header{
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    transition: 0.2s ease-in;
}

  .hidden {
    top: -138px; /* Move the header out of view */
  }