.notification-content{
    border-bottom: 1px dashed #ccc;
    padding: 1.5rem 0;
}
.notification-badge{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}