<div class="inner-area">
    <div class=" bannerarea">
        <div class="container">
            <div class="bannerarea-content">
                <div>
                    <div class="page-title" >
                        <h2>Contact Us</h2>
                    </div>
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
               
            </div>
         
        </div>
       
        
    </div>
    <div class="content-area  pb-0" id="targetMainContent">
        <div class="container">
            <div class="contactus">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-12">
                             <div class="card ">
                                 <div class="card-body">
                                    <div class="contact-icon">
                                        <span class="bi bi-geo-alt"></span>
                                    </div>
                                     
                                     <h4 class="fw-bold">Location</h4>
                                     <p>Public Health Engineering Department, Govt of Bihar,<br>
                                         Vishveshwariya Bhawan Campus, Bailey Road,<br>
                                         Patna- 800001, Bihar</p>
                                 </div>
                             </div>
                            </div>
                            <div class="col-12">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="contact-icon ">
                                        <span class="bi bi-telephone"></span>
                                        </div>
        
                                        <h4 class="fw-bold">Contact</h4>
                                        <a href="callto:vaishali@gmail.com" class="fs-4">+91 3356476879</a>
                                    </div>
                                </div>
                               </div>
                               <div class="col-12">
                                <div class="card ">
                                    <div class="card-body">
                                        <div class="contact-icon ">
                                        <span class="bi bi-envelope"></span>
                                        </div>
                                        <h4 class="fw-bold">Email</h4>
                                        <a href="mailto:vaishali@gmail.com" class="fs-4">vaishali@gmail.com</a>
                                    </div>
                                </div>
                               </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7195.879695203143!2d85.114902!3d25.606915!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed5822f39962fd%3A0x48040dc7dd308a7e!2sThe%20Public%20Health%20Engineering%20Department!5e0!3m2!1sen!2sus!4v1728456660645!5m2!1sen!2sus" class="mt-1" width="100%" height="660px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
               
              
            </div>
          
            </div>
           
    </div>
</div>
