.card-group{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.gallery-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.details-badges{
    background-color: var(--btnstyle-one);
    border-radius: 0.3rem;
    padding: 0.2rem 0.7rem;
    color: #fff;
    font-weight: 600;

}
.card {
    &.card-event {
      position: relative;
      
      .imgbox {
        height: 285px;
        position: relative;
        border-radius: .5rem .5rem 0 0;
        background: rgba(226, 241, 249, .35);
        overflow: hidden; /* Prevent overflow on hover */
        
        img {
          height: 100%;
          left: 0;
          object-fit: cover;
          object-position: top;
          position: absolute;
          top: 0;
          transition: transform .3s ease-in-out; /* Only scale the image */
          width: 100%;
          z-index: 1;
        }
      }
  
      &:hover {
        .imgbox {
          img {
            transform: scale(1.05); /* Scale effect */
          }
        }
  
        // Adjust the box-shadow on hover
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // Reduced shadow
      }
    }
  }