<div class="inner-area">
    <div class="bannerarea">
      <div class="page-title">
        <h2>{{ 'CONTACT_US' | translate }}</h2>
      </div>
      <div class="breadcrumb-area">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'CONTACT_US' | translate }}</li>
          </ol>
        </nav>
      </div>
    </div>
  
    <div class="content-area pb-0" id="targetMainContent">
      <div class="container">
        <div class="contactus">
          <div class="row">
            <div *ngFor="let contact of contactDetails" class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <div class="contact-icon">
                    <ng-container [ngSwitch]="contact.contactTypeEng">
                      <span *ngSwitchCase="'Communication Address'" class="bi bi-geo-alt"></span>
                      <span *ngSwitchCase="'Contact Number'" class="bi bi-telephone"></span>
                      <span *ngSwitchCase="'Email'" class="bi bi-envelope"></span>
                    </ng-container>
                  </div>
                  <h4 class="fw-bold">{{ currentLanguage === 'en' ? contact.contactTypeEng : contact.contactTypeHin }}</h4>
                  <p *ngIf="contact.contactTypeEng !== 'Email' && contact.contactTypeEng !== 'Contact Number'">
                    {{ currentLanguage === 'en' ? contact.contactDetailsEng : contact.contactDetailsHin }}
                  </p>
                  <a *ngIf="contact.contactTypeEng === 'Contact Number'" class="fs-4">
                    {{ currentLanguage === 'en' ? contact.contactDetailsEng : contact.contactDetailsHin }}
                  </a>
                  <a *ngIf="contact.contactTypeEng === 'Email'" href="mailto:{{ contact.contactDetailsEng }}" class="fs-4">
                    {{ currentLanguage === 'en' ? contact.contactDetailsEng : contact.contactDetailsHin }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7195.879695203143!2d85.114902!3d25.606915!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed5822f39962fd%3A0x48040dc7dd308a7e!2sThe%20Public%20Health%20Engineering%20Department!5e0!3m2!1sen!2sus!4v1728456660645!5m2!1sen!2sus"
          class="mt-5"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
</div>  