<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
                <h3> Demo</h3>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite">
                    <ul class="mb-0">
                       

                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" title="Download Excel"><i class="bi bi-file-earmark-excel"></i></a>
                        </li>
                        
                        <li class="filter-dropdown dropdown">
                            <a href="javascript:void(0)" data-bs-toggle="dropdown">
                                <i class="bi bi-funnel"></i> Filter 
                            </a>
                           
                                <div class="dropdown-menu dropdown-menu-end filter-dropdown-menu shadow border-0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="ddlDistrict" class="form-label">District</label>
                                                <select name="ddlDistrict" id="ddlDistrict" class="form-select">
                                                    <option selected value="0">Select</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="ddlBlock" class="form-label">Block</label>
                                                <select name="ddlBlock" id="ddlBlock" class="form-select">
                                                    <option value="0">Select</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="ddlGp" class="form-label">Gram Panchayat</label>
                                                <select name="ddlGp" id="ddlGp" class="form-select">
                                                    <option value="0">Select</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="txtToken" class="form-label">Token number</label>
                                                <input class="form-control" id="txtToken" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="ddlComplaintCategory" class="form-label">Complaint Category</label>
                                                <select name="ddlComplaintCategory" id="ddlComplaintCategory" class="form-select">
                                                    <option selected value="0">Select</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="ddlSubCategory" class="form-label">Complaint Sub-Category</label>
                                                <select name="ddlSubCategory" id="ddlSubCategory" class="form-select">
                                                    <option value="0">Select</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="txtComplaintName" class="form-label">Complaint name</label>
                                                <input class="form-control" id="txtComplaintName" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="txtComplaintName" class="form-label">Complaint Status</label>
                                                <select name="ddlStatusSearch" id="ddlStatusSearch"
                                                    class="form-select">
                                                    <option value="0">Select</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="txtComplaintName" class="form-label">Source of Complaint</label>
                                                <select name="ddlRecievemode" id="ddlRecievemode"
                                                    class="form-select">
                                                    <option value="0">Select</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Registration Date</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control datepicker" id="Regddatepicker">
                                                    <label class="input-group-text" for="Regddatepicker"><i
                                                            class="bi bi-calendar-week"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex gap-2">
                                                <button type="submit" class="btn btn-primary px-xl-4">Search</button>
                                                <button type="submit" class="btn btn-danger px-xl-4">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </li>
                        
                        <li class="fill-btn add-link"><a routerLink="/application/demo/add"  title="Go to Previous"><i class="bi bi-plus-lg"></i>
                                Add Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

     <!-- <div id="collapseExample" class="collapse show" [ngClass]="{'show': isPanelOpen}">
        <div class="content-box search-box">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="manutype">Menu Type</label>
                        <select class="form-select" id="manutype">
                            <option selected>Select</option>
                            <option value="1">Main Menu</option>
                            <option value="2">Footer Menu</option>
                            <option value="3">Footer Bottom Menu</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="parentmanu">Parent Menu</label>
                        <select class="form-select" id="parentmanu">
                            <option selected>Select</option>
                            <option value="1">FAQ</option>
                            <option value="2">Feedback</option>
                            <option value="3">Contact</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="menuen">Menu Name</label>
                        <input type="text" class="form-control" id="menuen">
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label d-xl-block d-lg-none d-md-block d-none">&nbsp;</label>
                        <button type="submit" class="btn btn-primary me-2">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="view-form pb-1">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="ddlDistrict" class="form-label">District</label>
                    <div class="form-control-plaintext">Khurdha</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="ddlBlock" class="form-label">Block</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="ddlGp" class="form-label">Gram Panchayat</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="txtToken" class="form-label">Token number</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="ddlComplaintCategory" class="form-label">Complaint Category</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="ddlSubCategory" class="form-label">Complaint Sub-Category</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="txtComplaintName" class="form-label">Complaint name</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="txtComplaintName" class="form-label">Complaint Status</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label for="txtComplaintName" class="form-label">Source of Complaint</label>
                    <div class="form-control-plaintext">-</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="mb-2">
                    <label class="form-label">Registration Date</label>
                    <div class="form-control-plaintext">9-Nov-2024</div>
                </div>
            </div>

        </div>
    </div>
    <div class="content-box content-area p-0">
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th width="40px">Sl#</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>District</th>
                        <th width="100">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td>
                            Subham Kumar Das
                        </td>
                        <td> 9437023783 </td>
                        <td>Patna</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i></a>

                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit"><i
                                        class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete"><i
                                        class="bi bi-trash3"></i></a>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            Surat Kumar Das
                        </td>
                        <td> 7823872383 </td>
                        <td>Patna</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i></a>

                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit"><i
                                        class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete"><i
                                        class="bi bi-trash3"></i></a>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> 3 </td>
                        <td>
                            Subham Kumar Das
                        </td>
                        <td> 9437877223 </td>
                        <td>Patna</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i></a>

                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit"><i
                                        class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete"><i
                                        class="bi bi-trash3"></i></a>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            Surat Kumar Das
                        </td>
                        <td> 7823773033 </td>
                        <td>Patna</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i></a>

                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit"><i
                                        class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete"><i
                                        class="bi bi-trash3"></i></a>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            Surat Kumar Das
                        </td>
                        <td> 7823987329 </td>
                        <td>Patna</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-success btn-sm" title="View"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-eye"></i></a>

                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit"><i
                                        class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete"><i
                                        class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
