<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
                <ul class="nav nav-tabs" routerLinkActive="active">
                    <!-- <li class="nav-item">
                        <a routerLink="/application/mngbanner" class="nav-link">Add</a>
                    </li> -->
                    <li class="nav-item">
                        <a routerLink="/application/mngbanner-view" class="nav-link active">View</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite float-end mb-1">
                    <ul class="mb-0">
                       
                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Click to Publish">
                                <i class="bi bi-volume-up"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" title="Click to Unpublish">
                                <i class="bi bi-volume-mute"></i>
                            </a>
                        </li>
                       

                        <li>
                            <a href="javascript:void(0)" title="{{ isPanelOpen ? 'Click to Close Filter' : 'Click to Open Filter' }}" 
                               (click)="togglePanel()">
                                <i class="bi bi-funnel"></i>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" title="Click to Add " routerLink="/application/mngbanner">
                                <i class="bi bi-plus-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="collapseExample" class="collapse show" [ngClass]="{'show': isPanelOpen}">
        <div class="content-box search-box">
            <div class="row">
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label" for="bannerHeading">Banner Heading</label>
                        <input type="text" class="form-control" id="bannerHeading">
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="mb-3">
                        <label class="form-label d-md-block d-none">&nbsp;</label>
                        <button type="submit" class="btn btn-primary me-2">Search</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="search-btn">
        <a data-bs-toggle="collapse" href="#collapseExample">
            <span class="collapse-on">Search  <i class="bi bi-arrow-down"></i></span> <span
                class="collapse-off">Search Close <i class="bi bi-arrow-up"></i></span>
        </a>
    </div> -->

    <div class="view-legand">
        <ul class="legends">
            <li><span class="bg-success"></span> Publish </li>
            <li><span class="bg-danger"></span> Unpublish </li>
        </ul>
    </div>

    <div class="content-box content-area p-0">
        <div class="table-responsive mb-0">
          <table class="table mb-0">
            <thead>
              <tr>
                <th width="30px"><input type="checkbox"></th>
                <th width="40px">Sl#</th>
                <th>Banner Heading English</th>
                <th>Banner Heading Hindi</th>
                <th>Banner Content English</th>
                <th>Banner Content Hindi</th>
                <th>Image</th>
                <th width="70px" style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let banner of banners; let i = index" [ngClass]="{'publish': banner.isPublish, 'unpublish': !banner.isPublish}">
                    <td><input type="checkbox"></td>
                    <td>{{ i + 1 }}</td>
                    <td>{{ banner.bannerHeadingEng }}</td>
                    <td>{{ banner.bannerHeadingHin }}</td>
                    <td>{{ banner.bannerContentEng }}</td>
                    <td>{{ banner.bannerContentHin }}</td>
                    <td><img [src]="banner.bannerImage" alt="Banner image" class="img-banner"></td>
                    <td>
                      <div class="d-flex gap-1">
                        <button class="btn btn-outline-primary btn-sm" (click)="editBannerDetails(banner.bannerId)">Edit</button>
                        <button class="btn btn-outline-danger btn-sm" (click)="deleteBannerDetails(banner.bannerId)">Delete</button>
                      </div>
                    </td>
                </tr>                  
            </tbody>
          </table>
        </div>
    </div>      
</div>