<div class="inner-area">
    <div class=" bannerarea">
        <div class="container">
            <div class="bannerarea-content">
                <div>
                    <div class="page-title" >
                        <h2>Gallery Details</h2>
                    </div>
                    <div class="breadcrumb-area">
                        <nav  aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Gallery Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <a class="btn bg-light back-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Back"  (click)="goBack()">
                   <i class="bi bi-arrow-left"></i>
             </a>
            </div>
         
        </div>
        
        
    </div>
    <div class="content-area " id="targetMainContent">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-3 col-sm-5">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select Category</option>
                        <option value="1">Demo One</option>
                        <option value="2">Demo Two</option>
                        <option value="3">Demo Three</option>
                      </select>
                </div>
                
            </div>
            <div id="photogallery" class="row g-3 g-xxl-3 mt-3">
                <div  class="col-12 col-sm-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                            <p>        To receive a User ID and Password, complete the registration  the website's registration page.</p>
                        </div>
                      
                     <a  href="javascript:void(0);" class="overly-link"></a>
                     </div>
                </div>
                <div  class="col-12 col-sm-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-three.jpg" data-src="../../assets/img/galleryimg-three.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-three.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                            <p>To receive a User ID and Password, complete the registration  the website's registration page.</p>
                        </div>
                  
                     </div>
                </div>
                <div  class="col-12 col-sm-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-two.jpg" data-src="../../assets/img/galleryimg-two.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-two.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                            <p>To receive a User ID and Password, complete the registration  the website's registration page.</p>
                        </div>
                   
                     </div>
                </div>
                <div  class="col-12 col-sm-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                            <p>To receive a User ID and Password, complete the registration  the website's registration page.</p>
                        </div>
                   
                     </div>
                </div>
                <div  class="col-12 col-sm-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                            <p>To receive a User ID and Password, complete the registration  the website's registration page.</p>
                        </div>
                   
                     </div>
                </div>
                <div  class="col-12 col-sm-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                            <p>To receive a User ID and Password, complete the registration  the website's registration page.</p>
                        </div>
                    
                     </div>
                </div>
                <div  class="col-12 col-sm-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                            <p>To receive a User ID and Password, complete the registration  the website's registration page.</p>
                        </div>
                   
                     </div>
                </div>
                <div  class="col-12 col-sm-6 col-xl-3 gallery-item" data-responsive="../../assets/img/galleryimg-one.jpg" data-src="../../assets/img/galleryimg-one.jpg">
                    <div class="gallery-img" >
                        <img class="gallerydetails-image" src="../../assets/img/galleryimg-one.jpg" alt="Lorem Ipsum is simply dummy text of the printing and typesetting industry">
                        <div class="img-hover">
                            <span class="bi bi-arrows-angle-expand"></span>
                            <p>To receive a User ID and Password, complete the registration  the website's registration page.</p>
                        </div>
                    
                     </div>
                </div>
            </div>

            </div>
    </div>
</div>
