<div class="login-wrapp h-100">
    <div class="login-container h-100">
        <div class="container h-100">
            <div class="row justify-content-xl-end justify-content-center align-items-center h-100">
                <div class="col-xl-5 col-xxl-5 col-md-6">
                    <div class="login-box bg-white shadow">
                        <form (ngSubmit)="Submit()">
                            <div class="d-flex flex-column justify-content-center mb-3">
                                <div class="d-flex align-items-center mb-4 pb-xl-1">
                                    <img src="./assets/img/bihar-logo-black.png" alt="Government of Bihar" class="pe-3">
                                    <div>
                                        <h1>NEER NIRMAL SEVA</h1>
                                        <p class="mb-0">Public Health Engineering Department</p>
                                        <small class="text-muted"> Government of Bihar</small>
                                    </div>
                                </div>
                                <h4>Access Your Portal</h4>
                            </div>
                            <div class="mb-4">
                                <div class="iconinput">
                                    <input type="text" class="form-control usertext userinput" id="username"
                                        [(ngModel)]="vchUserName" name="username" placeholder="Enter your User Name"
                                        autocomplete="off">
                                    <label for="username">User Name <span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="iconinput password">
                                    <input type="{{toggletype}}" class="form-control passwordinput" id="password"
                                        [(ngModel)]="vchPassWord" name="password" placeholder="Enter your Password"
                                        autocomplete="off">
                                    <a href="javascript:void(0);" (click)="enableDisableBtn()" class="enablebtn"><i
                                            class="bi" [ngClass]="showpassword ? 'bi bi-eye' : 'bi-eye-slash' "></i></a>
                                    <label for="password">Password <span class="text-danger">*</span></label>
                                </div>
                            </div>
                            <div class="mb-4">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="pt-md-3 pt-1 mb-2 mb-md-0">Solve this <strong class="pl-3">{{
                                                randomNumber1 }} + {{ randomNumber2 }} = ?</strong> </label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="number" [(ngModel)]="userAnswer" class="form-control ps-3"
                                            placeholder="Enter your Answer" autocomplete="off" name="addition">
                                    </div>
                                    <div class="col-sm-12">
                                        <p *ngIf="showError" class="text-danger text-end d-block small mb-1">Incorrect
                                            answer. Please try again.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-login">LOGIN</button>
                                </div>
                            </div>
                            <p class="small text-end mt-2 mb-0">
                                <a routerLink="/forgotpassword" class="text-forgot">Forgot Password?</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

