<div class="inner-area">
    <div class=" bannerarea">
      <div class="container">
        <div class="bannerarea-content">
            <div>
                <div class="page-title" >
                    <h2>Gallery</h2>
                </div>
                <div class="breadcrumb-area">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                        </ol>
                    </nav>
                </div>
            </div>
           
        </div>
     
    </div>
      
    </div>
    <div class="content-area " id="targetMainContent">
        <div class="container">
            <div class="card-group">
                <div class="card card-event ">
                  <div class="imgbox">
                    <img class="card-img-top"  alt="News & Events" src="../../assets/img/eventimg-two.jpg" />
                  </div>
                  <div class="card-body">
                    <div class="gallery-details">
                        <h5 class="card-title fw-bold"> Demo One</h5>
                        <span class="details-badges">11</span>
                    </div>  
                  </div>
                 <a class="stretched-link"  [routerLink]="['/gallery-details']"></a>
                </div>
                <div class="card card-event ">
                    <div class="imgbox">
                      <img class="card-img-top"  alt="News & Events" src="../../assets/img/eventimg-two.jpg" />
                    </div>
                    <div class="card-body">
                      <div class="gallery-details">
                          <h5 class="card-title fw-bold"> Demo two </h5>
                          <span class="details-badges">01</span>
                      </div>  
                    </div>
                   <a class="stretched-link"  [routerLink]="['/gallery-details']"></a>
                  </div>
                  <div class="card card-event ">
                    <div class="imgbox">
                      <img class="card-img-top"  alt="News & Events" src="../../assets/img/eventimg-two.jpg" />
                    </div>
                    <div class="card-body">
                      <div class="gallery-details">
                          <h5 class="card-title fw-bold">  Demo Three</h5>
                          <span class="details-badges">20</span>
                      </div>  
                    </div>
                   <a class="stretched-link"  [routerLink]="['/gallery-details']"></a>
                  </div>
                  <div class="card card-event ">
                    <div class="imgbox">
                      <img class="card-img-top"  alt="News & Events" src="../../assets/img/eventimg-two.jpg" />
                    </div>
                    <div class="card-body">
                      <div class="gallery-details">
                          <h5 class="card-title fw-bold"> Demo Four</h5>
                          <span class="details-badges">100</span>
                      </div>  
                    </div>
                   <a class="stretched-link"  [routerLink]="['/gallery-details']"></a>
                  </div>
                  <div class="card card-event ">
                    <div class="imgbox">
                      <img class="card-img-top"  alt="News & Events" src="../../assets/img/eventimg-two.jpg" />
                    </div>
                    <div class="card-body">
                      <div class="gallery-details">
                          <h5 class="card-title fw-bold"> Demo Four</h5>
                          <span class="details-badges">100</span>
                      </div>  
                    </div>
                   <a class="stretched-link"  [routerLink]="['/gallery-details']"></a>
                  </div>
                  <div class="card card-event ">
                    <div class="imgbox">
                      <img class="card-img-top"  alt="News & Events" src="../../assets/img/eventimg-two.jpg" />
                    </div>
                    <div class="card-body">
                      <div class="gallery-details">
                          <h5 class="card-title fw-bold"> Demo Four</h5>
                          <span class="details-badges">100</span>
                      </div>  
                    </div>
                   <a class="stretched-link"  [routerLink]="['/gallery-details']"></a>
                  </div>
              </div>

            </div>
    </div>
</div>
