a {
  color: $link-color;
  text-decoration: none;
}

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
  background: $sidebar-bg;
}

.main {
  min-width: 100%;
  // margin-top: $navbar-hight-mobile;
  //min-height: calc(100vh - $navbar-hight);
  transition: $sidebar-transition;
  background-color: $light-bg;
  //box-shadow: $navbar-box-shadow;
  flex-direction: column;
  overflow: hidden;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  @include transtionDefault(all, 0.6s, ease);
}

@include media-breakpoint-up(lg) {
  .main {
    min-width: 0;
    // margin-top: $navbar-hight;
    display: flex;
    right: 0;
    width: calc(100% - $sidebar-width);
    // min-height: calc(100vh - $navbar-hight);
    min-height: 100vh;
    margin-left: $sidebar-width;
  }

  .toggle-layout {
    .main {
      width: 100%;
      margin-left: 0;
    }
  }
}

.content {
  // padding: $content-padding-mobile;
  flex: 1;
  width: 100vw;
  max-width: 100vw;
  direction: ltr;
  margin-top: 4rem;
  padding: $content-padding-desktop;

  @include media-breakpoint-up(md) {
    width: auto;
    max-width: auto;
    // padding: $content-padding-desktop;
  }

  // @include media-breakpoint-up(lg) {
  //   padding: $content-padding-desktop;
  // }

  @media (max-width: 768px) {
    margin-top: 2.5rem;
  }
}

.form-cointainer {
  min-height: 10rem;

  .content-box {
    background-color: $white;
    padding: 1.2rem;
    border: solid 1px $gray-200;
    // box-shadow: 0px 0px 5px rgb(0 0 0 / 9%);
    // border-radius: 6px;
    border-radius: 6px;
    // overflow: hidden;

    @include box-shadow(0 0.125rem 0.25rem rgba($black, 0.2));

    &.search-box {
      margin-bottom: 1rem;
      padding: 1rem 1.2rem 0.2rem 0.9rem;
      background-color: #f4f8ff;
      // border: solid 1px #e5ebf5;
      transition:
        max-height 0.5s ease,
        opacity 0.5s ease,
        padding 0.5s ease;
      border: 0 !important;
      border-radius: 5px;

      .input-group-text {
        background-color: #fff !important;
      }
    }

    .table {
      overflow: hidden;
      border-radius: 6px;
    }
  }
}

.page-heading {
  color: $blue;
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem 0 1.5rem;
  font-size: 1.1rem;

  &::after {
    content: "";
    background-color: $blue;
    height: 2px;
    position: absolute;
    flex-grow: 1;
    margin-left: 0rem;
    width: 4rem;
    bottom: -0.5rem;
    left: 0;
  }
}

// .view-box {
//   margin-bottom: 1rem;
//   padding: 1rem 1.2rem 0.2rem 0.9rem;
//   background-color: #f8f9fa;
//   border-radius: 5px;
//   .form-control-plaintext {
//     font-weight: 500;
//     padding: 0;
//   }
//   .form-label {
//     padding: 0;
//     margin-bottom: 0;
//   }
// }
.main-tab {
  margin-bottom: 0.8rem;
  border-bottom: solid 1px $gray-200;

  >div {
    align-items: center;
  }

  .nav-tabs {
    border-bottom: transparent;
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }

    .nav-link {
      color: $black;
      padding-left: 0rem;
      padding-right: 0rem;
      margin-right: 1.5rem;
      border-width: 0 0 3px;
      font-weight: 600;
      font-size: 1.1rem;

      &:hover,
      &:focus {
        border-color: transparent;
        border-bottom-color: $gray-400;
      }

      &.active {
        background-color: transparent;
        color: $blue;
        border-color: transparent transparent $blue;
      }
    }
  }

  @media (max-width: 768px) {
    >div {
      align-items: center;
    }
  }
}

.pagetitle-section {
  margin-bottom: 1rem;

  h3 {
    color: #1d4181;
    font-size: 1.1rem;
    margin-bottom: 0.1rem;
  }

  p {
    margin-bottom: 0;
  }
}

// utilites
.utilite {
  ul {
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;

    li {
      &:not(.dropdown) {
        overflow: hidden;
      }

      border: 1px solid $icon-color;
      background-color: $white;
      display: inline-block;
      border-radius: 0.5rem;
      @include transtionDefault(all, 0.6s, ease);

      a {
        display: block;
        position: relative;
        color: $link-color;
        text-decoration: none;
        padding: 0.6rem;
        line-height: 1;
        // @include media-breakpoint-up(md) {
        //   padding: 0.4rem;
        // }

        // &:hover {
        //   color: $white;

        // }

        // i {
        //   display: flex;
        // }
      }

      &:hover {
        background-color: rgba($gray-600, 0.1);

        // i {
        //   color: $blue;
        // }
      }

      &:nth-child(n + 2) {
        margin-left: 8px;
      }

      &.fill-btn {
        a {
          color: #fff;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      &.back-link {
        a {
          background-color: $blue;
        }
      }

      &.add-link {
        a {
          background-color: $blue;
        }
      }

      &.active-filter {
        background-color: #184699;

        a {
          color: #fff;
        }
      }
    }
  }
}

.filter-dropdown {
  
  .filter-dropdown-menu {
    padding: 1.2rem;
    // padding-bottom: 0.5rem;
    min-width: 40rem;
    position: relative;
    .drop-icon{
        position: absolute;
        right: 1rem;
        top: 0.7rem;
        font-size: 1rem;
    }
    .form-label {
      font-size: 0.9rem;
    }
  }
}

.table {
  th {
    // background-color: $blue-light !important;
    text-wrap: nowrap;
    font-weight: 600;
    border-bottom-width: 2px;
    border-bottom-color: #e9e9e9;
  }

  td {
    vertical-align: middle;
    border-bottom-color: #e9e9e9;
  }

  tfoot {
    td {
      font-weight: bold;
      background-color: rgba($blue-light, 0.2);
    }
  }

  a:not(.btn) {
    color: $blue;
    text-decoration: auto;

    &:hover {
      color: $gray-900;
    }
  }

  strong {
    font-weight: 500;
  }

  .dropdown {
    .dropdown-item {
      color: $black;

      &:hover {
        background-color: transparent;
        color: $blue-dark;
      }
    }
  }
}

.dash-card {
  .card {
    background-color: #fff;
    border: solid 1px #e9ecef;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.09);
    height: 100%;

    &-header {
      padding-top: $card-padding-y;
      padding-bottom: $card-padding-y;
      border-bottom: solid 1px #e9ecef;
    }
  }
}

.otp-modal {
  .form-control {
    background-color: var(--custom-input-bg);
    border-color: var(--border-primary-color);
  }

  .btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.no-record {
  color: $gray-500;
  font-size: 1.4rem;
}

.photoUpload {
  position: relative;
  overflow: hidden;

  input {
    &.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
}

.file-upload {
  background-color: #ffffff;
  width: 100%;
  position: relative;

  .file-upload-content {
    text-align: center;
    height: 6rem;
    overflow: hidden;
    display: none;
    border: 2px dashed #d1d3e2;
  }

  .image-upload-wrap {
    border: 2px dashed #d1d3e2;
    position: relative;
    height: 6rem;
  }

  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }

  .drag-text {
    h5 {
      font-weight: 100;
      font-size: 0.8rem;
      margin-bottom: 0;
      color: $gray-600;
      padding: 1.2rem 1rem;

      i {
        color: $gray-400 !important;
        margin-bottom: 0.4rem;
      }
    }
  }
}

.dataTables_wrapper {

  .dataTables_length,
  .dataTables_filter {
    margin: 0.6rem 0.75rem;
  }

  .dataTables_paginate {
    margin: 0.6rem 0.75rem;
    border-collapse: collapse;

    .paginate_button {
      border: solid 1px $gray-200;
      padding: 0.1em 0.6em;
      margin: 0;
      border-collapse: collapse;

      &:hover {
        background: $green-light;
        border-color: $green-light;
        color: $black !important;
      }

      &.current {
        background: $green;
        color: $white !important;

        &:hover {
          background: $green;
          color: $white !important;
        }
      }
    }
  }
}

table {
  &.dataTable {
    &.no-footer {
      border-bottom-color: $green-light;
    }

    thead {
      th {
        padding: 0.5rem 0.5rem;
        border-bottom-color: $green-light;
      }
    }
  }
}

.form-control {

  &:invalid,
  &.is-invalid {
    +.input-group-text {
      border-color: $red;
      border-top-right-radius: 0.375rem !important;
      border-bottom-right-radius: 0.375rem !important;
    }
  }
  &:read-only{ background-color: #e4e4e4;}
}

.form-control,
.form-select {
  &:focus {
    box-shadow: none !important;
  }

  &:hover {
    border-color: $link-color;
  }
}

.fs-icon-alert {
  font-size: 4rem !important;
}

// datepicker css
.ngb-dp-weekday {
  color: $gray-900 !important;
}

// select dropdown override
.bootstrap-select>button:not(:disabled),
.bootstrap-select>[type="button"]:not(:disabled),
.bootstrap-select>[type="reset"]:not(:disabled),
.bootstrap-select>[type="submit"]:not(:disabled),
.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  color: $gray-900;
  border-color: $gray-300;
  padding-right: 2rem;
}

.bootstrap-select>.dropdown-toggle::after {
  display: none;
}

// alert message icon animation
.circle-cross,
.circle-check {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1.5rem;
}

.circle-cross {

  .circle,
  .line {
    stroke: $red;
  }
}

.circle-check {

  .circle,
  .check {
    stroke: $link-color;
  }
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;

  &.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
  }

  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
  }

  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

// Breadcrumb design Start
.breadcrumb {
  margin-bottom: 0rem;
  margin-left: 1rem;

  .breadcrumb-item {
    a {
      color: $gray-700;
    }

    &.active {
      font-weight: 500;
      color: #000;
    }
  }
}

// Breadcrumb Design End

// Dashboard Design  Start
.info-dashboad {
  @media (max-width: 768px) {
    margin-top: 0.5rem;
  }

  .dashboard-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .card {
    position: relative;

    .card-body {
      @media (max-width: 1366px) {
        padding: 0.9rem;
      }

      @media (max-width: 1280px) {
        padding: 0.6rem;
      }
    }

    .media {
      display: flex;
      align-items: center;
      gap: 1rem;

      @media (max-width: 1366px) {
        gap: 0;
      }

      .avatar {
        border-radius: 50%;
        height: 55px;
        width: 55px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1366px) {
          margin-right: 0.5rem;
          height: 50px;
          width: 50px;
        }

        i {
          font-size: 2rem;

          @media (max-width: 768px) {
            font-size: 1.5rem;
          }
        }
      }

      @media (max-width: 1366px) {
        h3 {
          font-size: 1.3rem;
        }
      }
    }

    .card-link {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
    }

    // .card-header {
    //   h5{
    //     @media (max-width:425px){
    //       font-size: 1.05rem;
    //     }
    //   }
    // }
  }

  .bg-pending {
    background-color: #ff9f60;
    color: #ffffff;
  }

  .pending {
    border: 1px solid #ff9f60;
    background-color: transparent;
  }

  .pending {
    &:hover {
      background-color: #ff9f60;
      color: $white;

      .bg-pending {
        background-color: #ffffff;
        color: #ff9f60;
      }
    }
  }

  .bg-received {
    background-color: rgb(67 116 231);
    color: #f7f7f7;
  }

  .received {
    border: 1px solid #4374e7;
    background-color: transparent;
  }

  .received {
    &:hover {
      background-color: #5580e6;
      color: $white;

      .bg-received {
        background-color: #ffffff;
        color: #4374e7;
      }
    }
  }

  .bg-resolved {
    background-color: #008000;
    color: #ffffff;
  }

  .resolved {
    border: 1px solid #008000;
    background-color: transparent;
  }

  .resolved {
    &:hover {
      background-color: #008000c2;
      color: $white;

      .bg-resolved {
        background-color: #ffffff;
        color: #008000;
      }
    }
  }

  .bg-non-resolved {
    background-color: #dc3545;
    color: #ffffff;
  }

  .non-resolved {
    border: 1px solid #dc3545;
    background-color: transparent;
  }

  .non-resolved {
    &:hover {
      background-color: #df616d;
      color: $white;

      .bg-non-resolved {
        background-color: #ffffff;
        color: #dc3545;
      }
    }
  }

  .bg-verify {
    background-color: #0dcaf0;
    color: #ffffff;
  }

  .verify {
    border: 1px solid #0dcaf0;
    background-color: transparent;
  }

  .verify {
    &:hover {
      background-color: #60dbf3;
      color: $white;

      .bg-verify {
        background-color: #ffffff;
        color: #0dcaf0;
      }
    }
  }

  h3,
  p {
    margin-bottom: 0;
  }
}

.custom-tab {
  margin-left: auto;

  .nav-tabs {
    margin-bottom: -0.9rem;

    .nav-link {
      background-color: $sidebar-bg;
      color: $white;

      &:hover {
        background-color: $link-color;
        color: $white;
      }

      &.active {
        background-color: $white;
        color: $black;
      }
    }
  }
}

// Dashboard Design end
// Graph Design
// .graph-wrapper{
//   height: 300px;
// }

// View page legand border

// .table {
//   thead {
//     .border-left-head {
//       border-left: 2px solid #e8eef5 !important;
//     }
//   }
//  Bijayalaxmi patra date :- 07/11/24
//   tbody {
//     .border-left-2 {
//       border-left: 2px solid !important;
//     }

//     .border-left-danger {
//       border-left-color: #dc3545 !important;
//     }

//     .border-left-success {
//       border-left-color: #4caf50 !important;
//     }
//   }
//    Bijayalaxmi patra date :- 07/11/24
// }
// Publish
tr.publish {
  td:first-child {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      height: 80%;
      width: 2.2px;
      background-color: #4caf50;
      left: -1px;
      top: 10%;
    }
  }
}

// unpublish

tr.unpublish {
  td:first-child {
    position: relative;

    &:after {
      position: absolute;
      content: "";
      height: 80%;
      width: 2.2px;
      background-color: #dc3545;
      left: -1px;
      top: 10%;
    }
  }
}

.view-legand {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.5rem;

  @media (max-width: 375px) {
    flex-direction: column;
    gap: 0.6rem;
  }

  .legends {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;

    @media (max-width: 375px) {
      margin-right: auto;
    }

    li {
      list-style-type: none;

      &:first-child {
        margin-right: 1.5rem;
      }

      span {
        height: 0.8rem;
        width: 0.8rem;
        background: #e3e3e3;
        display: inline-block;
        border-radius: 0.15rem;
      }
    }
  }
}

// Brows file::Start
.custom-fileupload {
  opacity: 0;
  z-index: 11;
}

.custom-input {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #dee2e6;
  padding: 0.5rem 0.9rem;
  border-radius: 0.375rem !important;
  color: #cccccc;
}

.custom-browse {
  background-color: $blue;
  color: $white;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.custom-file-input {
  &:hover {
    .custom-browse {
      background-color: $link-color;
    }
  }
}
.custom-input-black {
  color: black;
}
// Brows file::Ends


.img-banner {
  width: 6rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.profile-img {
  height: 70px;
  width: 70px;

  @media (max-width: 1366px) {
    height: 60px;
    width: 60px;
  }
}

.modal-banner {
  height: 13rem;
  width: 100%;
  object-fit: cover;
}

.flex-contan {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .block-fun {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}

// Drag Image
.photoUpload {
  height: 10rem !important;
  border: 2px dashed #d0d1d3 !important;
  border-radius: 0.375rem !important;

  h2 {
    font-size: 1.2rem !important;
    color: #d0d1d3 !important;
  }
}

// ck editor radious
.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
.ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
  border-radius: 0.375rem !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
  overflow: hidden;
}

// Swal issue
.swal2-height-100 {
  height: 100% !important;
  /* Customize as needed */
}

// Scroll Design

.modal-body {
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.233);
    background-color: rgba(0, 0, 0, 0.0352941176);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.233);
  }
}

@media (max-width: 630px) {
  .breadcrumb {
    display: none !important;
  }
}

@media (max-width: 425px) {
  .card-header {
    h5 {
      font-size: 1.1rem;
    }
  }
}

.modal {
  .modal-logo {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    background-color: #ececec;
    padding: 1rem;
    border-radius: 0.3rem;

    img {
      height: 4rem;
    }

    h1 {
      font-size: 1.2rem;
      margin-bottom: 0.1rem;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 0;
      line-height: 1.2;
    }

    small {
      opacity: 0.6;
    }
  }

  .modal-title-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;

    h5 {
      font-size: 1.5rem;
    }
  }

  .subtitle {
    color: $link-color;
    margin-top: 1rem;
  }
}

.view-forms {
  margin-bottom: 1rem;
  padding: 1rem 1.2rem 0.2rem 0.9rem;
  background-color: #f4f8ff;
  border-radius: 5px;
  border: solid 1px #e5ebf5;

  .form-control-plaintext {
    font-weight: 500;
    padding: 0;
  }
}

.view-form {
  .form-label {
    color: #4c4c4c;
    margin-bottom: 0rem;
  }

  .form-value {
    font-weight: 500;
    display: block;
  }
}

.table-responsive {
  &::-webkit-scrollbar {
    height: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.233);
    background-color: rgba(0, 0, 0, 0.0352941176);
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.233);
  }
}

// Pagination Design Start
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  .page-item {
    margin-left: 0.4rem;

    .page-link {
      padding: 0.2rem 0.5rem;
      line-height: 20px;
      border-radius: 0.4rem;

      &.active {
        background-color: $sidebar-bg;
        color: $white;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.content-area {
  .table {
    .badge {
      font-weight: 500;
    }
  }
}

.upload-doc {
  position: relative;

  .dom-upload {
    position: absolute;
    right: -45px;
    top: 25px;
  }
}


// Filter close icon
// .filter-dropdown {
//   .dropdown-menu {
//     position: relative;

//     &::after {
//       position: absolute;
//       right: 0;
//       top: 0;
//       content: "\F62A";
//       background-color: transparent;
//       border: 1px solid #ddd;
//       font-family: bootstrap-icons !important;
//       border-radius: 50%;
//       height: 20px;
//       width: 20px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//     }
//   }
// }

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

// Time line Design 

// progress status

.progress-wrap {
  .StepProgress {
    position: relative;
    padding-left: 0;
    list-style: none;

    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: -24px;
      width: 10px;
      height: 62%;
      border-left: 2px solid #CCC;
    }

    .stepProgress-item {
      font-size: 0.95rem;
      position: relative;
      counter-increment: list;
      background-color: #fff;
      border: 1px solid #CCC;
      border-radius: 6px;
      padding: 1rem 1.2rem;
      margin: 0 0 1rem 0;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 0.2rem 0;

          a {
            text-decoration: underline;
            font-weight: 600;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      &:not(:last-child) {
        padding-bottom: 20px;
      }

      &::before {
        display: inline-block;
        content: '';
        position: absolute;
        left: -25px;
        bottom: -20px;
        height: 100%;
        width: 10px;
      }

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: -37px;
        width: 25px;
        height: 25px;
        border: 2px solid #CCC;
        border-radius: 50%;
        background-color: #FFF;
      }

      &.is-done {
        &::before {
          border-left: 2px solid green;
        }

        &::after {
          content: "✔";
          font-size: 15px;
          color: #FFF;
          text-align: center;
          border: 2px solid green;
          background-color: green;
        }
      }

      &.current {
        &::before {
          border-left: 2px solid green;
        }

        &::after {
          content: counter(list);
          padding-top: 1px;
          top: -4px;
          font-size: 14px;
          text-align: center;
          color: green;
          border: 2px solid green;
          background-color: white;
        }
      }
      &:last-child::before {
        display: none;
      }
    }
  }
}

// progress status end

  // .attchfile{
  //   color:$link-color;
  //   &:hover{
  //     color: $black;
  //   }
  // }


// Table-fixed
.custom-table {
  height: 42vh;
  overflow-y: auto;
  position: relative;

  table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #e9e9e9;

    thead {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
    }

    tbody {
      td {
        border: 0.1px solid #e9e9e9;
      }
    }
  }
}

.myquere-table,
.custom-table {
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.233);
    background-color: rgba(0, 0, 0, 0.0352941176);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.233);
  }
}

.myquere-table {
  height: 30vh;
  overflow-y: auto;
  position: relative;

  table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #e9e9e9;

    thead {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
    }

    tbody {
      td {
        border: 0.1px solid #e9e9e9;
      }
    }
  }

  @media (max-width: 1366px) {
    height: 55vh;
  }

  @media (max-width: 1280px) {
    height: 40vh;
  }
}

// Ck editor
.ck-content {
  height: 20vh;
}

.ck .ck-powered-by {
  display: none;
}

.form-btn {
  display: flex;
  gap: 0.4rem;
}

// Page Not Found
.error-section {
  margin: 7% auto 1%;
  text-align: center;
  position: relative;
  padding: 1rem;

  img {
    width: 30%;
  }

  h1 {
    font-size: 1.1rem;
    color: #9a9a9a;
    padding: 0;
    margin: 8px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    color: #5f5f5f;
    line-height: 1.6em;
    padding: 0;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }

}
// Alert box button
div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm){
  background: transparent linear-gradient(103deg, #097CC5 0%, #128FE0 100%) 0% 0% no-repeat padding-box !important;
}

@media (max-width: 630px) {
  .upload-doc {
    input {
      width: 90%;
    }

    .dom-upload {
      right: 0px;
    }
  }
}

@media (max-width: 320px) {
  .utilite {
    .bg-transparent {
      display: block;
      margin-left: 1rem;
      margin-bottom: 0.4rem;
    }
  }
}