.sidebar {
  width: $sidebar-width;
  transition: $sidebar-transition;
  direction: ltr;
  background: $sidebar-bg;
  position: fixed;
  z-index: 9;
  height: 100vh;
  font-size: 0.95rem;
  a {
  }
  &-content {
    transition: $sidebar-transition;
    display: flex;
    height: calc(100vh - ($navbar-hight-mobile + 5.8rem));
    flex-direction: column;
    background: $sidebar-bg;
    overflow: auto;
    border-top: solid 1px rgba($white, 0.1);
    padding: 0 0.6rem;

    @include media-breakpoint-up(sm) {
      padding:0 0.8rem 0 0.8rem;
      height: calc(100vh - ($navbar-hight + 7.5rem));
    }

    @include media-breakpoint-up(lg) {
      padding: 0 0.8rem 0 0.8rem;
      height: calc(100vh - ($navbar-hight + 9rem));
    }
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background:rgba(233, 236, 239, 0.4);
    }
    
    &::-webkit-scrollbar-thumb {
      background:#4b59c7;
    }

    &::-webkit-scrollbar-thumb:hover {
      background:#5566e6;
    }
  }

  &-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-grow: 1;
  }

  [data-bs-toggle="collapse"]:after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: " ";
    display: inline-block;
    padding: 4px;
    position: absolute;
    right: 1rem;
    top: .75rem;
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
  }

  [data-bs-toggle="collapse"]:not(.collapsed):after {
    top: 1.3rem;
    transform: rotate(-135deg);
  }

  @include media-breakpoint-up(lg) {
    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      right: -2rem;
      top: 0;
      background-color: $sidebar-bg;
      height: 3rem;
      width: 3rem;
    }
  }
}

.toggle-layout {
  .sidebar {
    margin-left: -$sidebar-width;
  }
}

.sidebar-item {
  &.active {
    // background-color: rgba($black, .1);
    border-radius: 5px;
   ul{
    padding-bottom: 0.1rem;
   }
    // > .sidebar-link{
    //     // margin-bottom: 0rem;
    //     border-radius: 0rem;
    // }
    > .sidebar-link {
      font-weight: 600;
      color: $sidebar-link-active-color;
      background-color: #356aca;
    border-radius: 6px;
      // background: $sidebar-link-hover-bg;
    }
    // > .sidebar-link,
    // .sidebar-link:hover {
    //   color: $sidebar-link-active-color;
    //   background: $sidebar-link-hover-bg;
    // }
  }
}
.title-bar {
  a {
    color: $gray-600;
    i {
      font-size: 1.2rem;
    }
    &:hover {
      color: $red;
    }
  }
}
// Sidebar brand
.sidebar-brand {
  position: relative;
  color: $white;
  display: block;
  font-weight: normal;
  text-decoration: none;
  padding: 0.4rem 0.75rem;
  h1 {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 0;
    line-height: 1.2;
  }
  small {
    opacity: 0.6;
  }
  a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &:hover {
    color: $gray-100;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }

  img {
    height: 2.2rem;
  }

  @include media-breakpoint-up(md) {
    padding: 1rem 0.5rem;
    img {
      height: 3.6rem;
    }
  }
}

// Toggle states
.sidebar-toggle {
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  margin-right: $spacer - 0.5rem;
  align-items: center;
  margin-left: 1.2rem;
  @media (max-width:630px){
    margin-left: 0.7rem;
  }
  span {
    font-size: 1.2rem;
  }

  &:hover,
  &.active {
    color: $red;
  }
}

.sidebar-header {
  background: transparent;
}

.sidebar-badge {
  position: absolute;
  right: 15px;
  top: 14px;
  z-index: 1;
}

.sidebar-link,
a.sidebar-link {
  i,
  svg {
    margin-right: 0.65rem;
    color: $sidebar-link-icon-color;
  }
}

.sidebar-link {
  display: flex;
  padding: 0.6rem 0.75rem;
  margin-bottom: 0.3rem;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  // border-radius: 0.5rem;
  color: rgba($sidebar-link-color, 0.85);
  &.active{
    color: $sidebar-link-hover-color;
    &:hover {
      background: transparent;
    }
  }
  &:hover {
    color: $sidebar-link-hover-color;
    background: $sidebar-link-hover-bg;
    border-radius: 6px;
  }

  &:focus {
    outline: 0;
  }

  &.active {
    color: $sidebar-link-hover-color;
  }
}

.sidebar-dropdown {
  .sidebar-link {
    padding: 0.4rem 0.5rem 0.4rem 2.1rem;
    font-weight: 400;
    border-left: 0;
    color: rgba($white, 0.6);
    font-size: 0.9rem;

    // &::before {
    //   content: "\F138";
    //   font-family: "bootstrap-icons";
    //   display: inline-block;
    //   position: relative;
    //   left: -0.6rem;
    //   top: 0.15rem;
    //   transition: all 0.1s ease;
    //   transform: translateX(0);
    //   font-size: 0.8rem;
    // }

    &:hover {
      color: $white;
      background-color: transparent;
    }

    &.active {
      color: $sidebar-link-active-color;
      // font-weight: 500;
    }

    // &.active {
    //   color: $sidebar-link-active-color;
    //   background: $sidebar-link-hover-bg;

    //   &:hover {
    //     color: rgba($sidebar-link-active-color, 0.6);
    //     background-color: rgba($sidebar-link-hover-bg, 0.3);
    //   }
    // }
  }

  .sidebar-item {
    .sidebar-link:not(.active) {
      &:hover {
        background: transparent;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .sidebar {
    margin-left: -$sidebar-width;
    margin-top: $navbar-hight-mobile;
  }

  .toggle-layout {
    .sidebar {
      margin-left: 0;
    }
  }
}

.mCSB_scrollTools {
  .mCSB_draggerContainer {
    right: 0.2rem;
  }
}
