$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black: #000 ;
$yellowlight:#ffff00 ;
$link-color:#2a68be;
$icon-color:#dae0e9;

$light-bg: #fbfcff ;

$yellow:#ff9f60;
$green:#1f723f ;
$green-dark:#006036;
$green-light:#dfe9e3;
$blue:#1953A7 ;
$blue-dark:#0e3c7c;
$blue-light:#e8eef5;
$red:#d13e4a;
$active-color:#133666;

$bsky-card-bg:#006036;
$bsky-card-bg-light:#01864d;

$navbar-hight:4.25rem;
$navbar-hight-mobile:3.25rem;
$navbar-bg: $white;
$navbar-brand-color: $gray-100;

$navbar-border-bottom: 0;
$navbar-box-shadow: 0 0 2rem 0 rgba($black, .1) ;

$sidebar-bg: $blue-dark !default;
$sidebar-width: 280px !default;
$sidebar-transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out !default;

$sidebar-link-padding: .625rem 1.625rem !default;
$sidebar-link-font-weight: 400 !default;
$sidebar-link-bg: $green !default;
$sidebar-link-color: rgba($gray-200, 1) !default;
$sidebar-link-border-left-color: transparent !default;
$sidebar-link-hover-bg: rgba($white, .1) !default;
$sidebar-link-hover-color: $gray-100 !default; 
$sidebar-link-hover-border-left-color: transparent !default;
$sidebar-link-active-color: $gray-100 !default;

$sidebar-link-icon-color: $gray-500 !default;
$sidebar-link-icon-hover-color: #{rgba($gray-200, 0.75)} !default;
$sidebar-link-icon-active-color: $gray-200 !default;

$content-padding-desktop: 1.4rem;
$content-padding-mobile: 1rem ;

$simplebar-scrollbar-bg: $white !default;

$input-btn-focus-box-shadow:0 0 .5rem rgba($blue, .4);
$input-focus-border-color:rgba($blue, .2);
$form-select-focus-box-shadow:0 0 .5rem rgba($blue, .4);
$dropdown-link-active-bg:$blue;

// $card-border-color:$gray-200 !default;
$card-cap-bg:transparent;
$card-padding-y:.85rem !default;
$table-striped-bg:$gray-100;

$input-btn-padding-y:.4rem !default;
$input-btn-padding-x:.75rem !default;  


$custom-radius:5px;
