.iconinput {
  position: relative;
  &.password {
      i {
          font-size: 1.4rem;
          top: 0.7rem;
      }
  }

  a {
      &.enablebtn {
          position: absolute;
          padding: 0 0.5rem;
          right: 0.5rem;
          top: 1.9rem;
          color:#dee2e6;
      }
  }
}
