<div class="inner-area">
    <div class=" bannerarea">
        <div class="container">
            <div class="bannerarea-content">
                <div>
 <div class="page-title" >
                    <h2>About PHED Bihar</h2>
                </div>
                <div class="breadcrumb-area">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb  mb-0">
                            <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">About PHED Bihar</li>
                        </ol>
                    </nav>
                </div>
                </div>
               
            </div>
         
        </div>
           
      
        
    </div>
    <div class="content-area mt-5" id="targetMainContent">
        <div class="container">
            <div class="row">
               
                <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 ">
                    <p>
                        The Public Health Engineering Department (PHED), Govt of Bihar has the overall responsibility of managing and monitoring activities to enhance public health in the state of Bihar. Improved portable water supply and services are critical to enhance public health and improve human development outcomes, The Public Health Engineering Department (PHED), Govt of Bihar has the overall responsibility of managing and monitoring activities to enhance public health in the state of Bihar. Improved portable water supply and services are critical to enhance public health and improve human development outcomes,
                    </p>
                    <p>
                        The Public Health Engineering Department (PHED), Govt of Bihar has the overall responsibility of managing and monitoring activities to enhance public health in the state of Bihar. Improved portable water supply and services are critical to enhance public health and improve human development outcomes, The Public Health Engineering Department (PHED), Govt of Bihar has the overall responsibility of managing and monitoring activities to enhance public health in the state of Bihar. Improved portable water supply and services are critical to enhance public health and improve human development outcomes,
                    </p>
                </div>
                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 mb-lg-0 mb-3 ps-4 ">
                    <div class="left-img ms-lg-auto">
                     <img src="../../assets/img/galleryimg-one.jpg">
                    </div>
                 </div>
            </div>

             <div class="objective">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="objective-patch">
                            <div class="objective-icon">
                                <span class="icon icon-water-tower"></span>
                            </div>
                            <div class="about_text " >
                                <h4>Key Objectives</h4>
                                <p>
                                    HED focuses on building a robust water supply infrastructure, promoting water conservation, and improving sanitation standards. Our objectives include reducing waterborne diseases, enhancing community health.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="objective-patch">
                            <div class="objective-icon">
                                <span class="icon icon-Layer-2"></span>
                            </div>
                            <div class="about_text " >
                                <h4>Water Supply Initiatives</h4>
                                <p>
                                    PHED implements various initiatives to ensure continuous and safe water supply in both urban and rural areas. We undertake projects like piped water supply systems, borewells, and rainwater harvesting to meet increasing demand.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="objective-patch">
                            <div class="objective-icon">
                                <span class="icon icon-washing-hands"></span>
                            </div>
                            <div class="about_text " >
                                <h4>Sanitation Programs</h4>
                                <p>
                                    Our sanitation programs are designed to improve hygiene standards and reduce health risks. PHED promotes toilet construction, waste management, and sanitation education to ensure a cleaner and healthier living environment for all.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="objective-patch">
                            <div class="objective-icon">
                                <span class="icon icon-engagement"></span>
                            </div>
                            <div class="about_text " >
                                <h4>Community Engagement</h4>
                                <p>
                                    PHED actively engages with communities to raise awareness about water conservation, hygiene practices, and sanitation. We conduct workshops, training, and campaigns to encourage public participation in maintaining water infrastructure.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <!-- <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur optio laboriosam ipsum. Temporibus et obcaecati corporis adipisci assumenda pariatur nihil vel quis voluptate, neque ut doloremque sequi? Magnam, fugit nulla.</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur optio laboriosam ipsum. Temporibus et obcaecati corporis adipisci assumenda pariatur nihil vel quis voluptate, neque ut doloremque sequi? Magnam, fugit nulla.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur optio laboriosam ipsum. Temporibus et obcaecati corporis adipisci assumenda pariatur nihil vel quis voluptate, neque ut doloremque sequi? Magnam, fugit nulla.
            </p>
             <h3 class="mt-4">Know Us</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque id eius quo, labore excepturi et, porro minus quam pariatur voluptatum officiis deleniti dolorum nesciunt sit cum exercitationem ratione eum cupiditate?</p> 
              <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo ea recusandae id deleniti, quam fugiat at saepe corporis repellendus eligendi praesentium sed ullam, enim molestias iusto ut, ratione error in.
                    <ul>
                        <li>Lorem, ipsum dolor</li>
                        <li>Lorem, ipsum dolor</li>
                        <li>Lorem, ipsum dolor</li>
                        <li>Lorem, ipsum dolor</li>
                    </ul>
                </li>
              </ol>
              <h3 class="mt-4">Know Us</h3>
              <ul>
                <li>Lorem, ipsum dolor</li>
                <li>Lorem, ipsum dolor</li>
                <li>Lorem, ipsum dolor</li>
                <li>Lorem, ipsum dolor</li>
            </ul> -->
          
        </div>
    </div>
</div>
