
.theme-light {
    --bs-body-bg: #{$white};
    --text-white:#{$white};
    --bg-black:#{$black};
    --header-utilities-link:#{$blue1};
    --top-bar-text:#{$blue1};
    --switch-icon:#{$white};
    --header-utilities-bg:#{$white};
    --lang-text:#{$blue1};
    --top-header-border:#{$grey-100};
    --menu-color:#{$black};
    --about-bg-tap:#{$blue-100};
    --about-bg-tapicon:#{$white};
    --know-btn:#{$blue-200};
    --know-btn-bg:#{$blue-300};
    --footer-bg:#{$grey-200};
    --footer-text:#{$white};
    --socialborder:#{$grey-300};
    --faq-bg:#{$grey-400};
    --faq-active:#{$blue-200};
    --faq-accordian:#{$black};
    --eventsmall-text:#{$grey-500};
    --view-link:#{$blue-400};
    --grivance-card:#{$blue-500};
    --grivance-card-title:#{$white};
    --btnstyle-one:#{$blue-600};
    --complaint-card:#{$blue-700};
    --btnstyle-two:#{$white};
    --btnstyle-two-text:#{$blue-400};
    --banner-bg:#{$black-100};
    --banner-text:#{$white};
    --notification-bg:#{$grey-600};
    --notificationtext-bg:#{$blue-100};
    --notification-bullet:#{$blue-100};
    --menu-hover:#{$blue-100};
    --login-btn:#{$blue-800};
    --heading-styletwo:#{$black};
    --about-text:#{$black};
    --text-black:#{$black};
    --form-control:#{$white};
    --theme-icon:#{$blue1};
    --statics-bg:#{$white};
    --statics-data:#{$grey-light-300};
    --statics-text:#{$black};
    --event-hover:#{$blue-900};
    --login-btn-hover:#{$blue-600};
    --btn-styleone:#{$blue-light-100};
    --search-bg:#{$grey-light-400};
    --page-title:#{$white};
    --breadcrumb-text:#{$grey-light-400};
    --logo-small:#{$grey-light-500};
    --header-text:#{$blue-light-200};
    --toggle-btn:#{$grey-light-200};
    --tableheader-bg:#{$grey-light-800};
    --shadow-bg:#{$shadow};
    --statics-border:#{$grey-light};
    --faq-border:#{$grey-border};
    --input-color:#{$grey-light-900};
}
.theme-dark {   
    --bs-body-bg: #{$grey-700};
    --text-white:#{$white};
    --bg-black:#{$black};
    --header-utilities-link:#{$white};
    --top-bar-text:#{$blue-100};
    --switch-icon:#{$white};
    --header-utilities-bg:#{$grey-light-100};
    --lang-text:#{$white};
    --top-header-border:#{$grey-light-900};
    --menu-color:#{$white};
    --about-bg-tap:#{$blue-100};
    --about-bg-tapicon:#{$white};
    --know-btn:#{$blue-200};
    --know-btn-bg:#{$blue-300};
    --footer-bg:#{$grey-200};
    --footer-text:#{$white};
    --socialborder:#{$grey-300};
    --faq-bg:#{$grey-800};
    --faq-active:#{$blue-200};
    --faq-accordian:#{$white};
    --event-hover:#{$blue-900};
    --eventsmall-text:#{$grey-500};
    --view-link:#{$blue-600};
    --grivance-card:#{$blue-500};
    --grivance-card-title:#{$white};
    --btnstyle-one:#{$blue-600};
    --complaint-card:#{$blue-700};
    --btnstyle-two:#{$white};
    --btnstyle-two-text:#{$blue-400};
    --banner-bg:#{$black-100};
    --banner-text:#{$white};
    --notification-bg:#{$grey-700};
    --notificationtext-bg:#{$blue-100};
    --notification-bullet:#{$blue-100};
    --menu-hover:#{$blue-600};
    --login-btn:#{$blue-800};
    --heading-styletwo:#{$grey-900};
    --about-text:#{$white};
    --text-black:#{$white};
    --form-control:#{$white};
    --theme-icon:#{$blue-light-300};
    --statics-bg:#{$grey-light-700};
    --statics-data:#{$grey-light-400};
    --statics-text:#{$grey-light-400};
    --login-btn-hover:#{$blue-600};
    --btn-styleone:#{$blue-light-100};
    --search-bg:#{$grey-light-400};
    --page-title:#{$white};
    --breadcrumb-text:#{$grey-light-400};
    --logo-small:#{$grey-light-600};
    --header-text:#{$blue-light-300};
    --toggle-btn:#{$grey-light-200};
    --tableheader-bg:#{$grey-light-400};
    --shadow-bg:#{$shadow-100};
    --statics-border:#{$grey-300};
    --faq-border:#{$grey-300};
    --input-color:#{$grey-300};
}
