$white:#fff    !default;
// $blue:#275b88;
$blue:#3b76e1 ;
$blue1:#10354c;
$blue-100:#2561BB;
$blue-200:#108BDB;
$blue-300:#F9FDFF;
$blue-400:#087AC3;
$blue-500:transparent linear-gradient(119deg, #104697 0%, #09367A 100%);
$blue-600:#128EDF;
$blue-700:transparent linear-gradient(118deg, #2561BB 0%, #235197 100%);
$blue-800: transparent linear-gradient(90deg, #087AC3 0%, #1290E1 100%);
$blue-900:#2c73dd;
$blue-light-100:#1081cb;
$blue-light-200:#0c79bd;
$blue-light-300:#62bff9;
$blue-light-400:#ebf7ff;

$grey:#343a40;
$grey-100:#00000029;
$grey-200:#2F353B;
$grey-300:#ffffff33;
$grey-400:#F9F9F9;
$grey-500:#878787;
$grey-600:#ECECEC;
$grey-700:#212529;
$grey-800:#121c22;
$grey-900:#adb5bd;
$grey-light:#ebebeb;
$grey-light-100:#343333;
$grey-light-200:#c3c3c3;
$grey-light-300:#535353;
$grey-light-400:#d9d9d9;
$grey-light-500:#686767;
$grey-light-600:#9b9b9b;
$grey-light-700:#464545;
$grey-light-800:#f4f6f7;
$grey-light-900:#46545e;
$grey-border:#e9e9e9;

$shadow:rgb(99 99 99 / 13%) 0px 2px 8px 0px;
$shadow-100:rgb(99 99 99 / 47%) 0px 2px 8px 0px;
$black:#181818;
$black-100:transparent linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5294117647) 48%, rgba(0, 0, 0, 0.7411764706) 100%) 0% 0%;

$yellow:#ffc107;
$light-white:#ededed;
$light-white-100:#ffffff1a;
