<div class="form-cointainer">
  <div class="pagetitle-section">
    <div class="row justify-content-between align-items-center">
      <div class="col-xxl-3 col-lg-4 col-md-6">
        <h3>Complaint Category</h3>
        <!-- <p>Manage your page</p> -->
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="utilite float-end mb-1">
          <ul class="mb-0">
            <li class="bg-transparent border-0">
              <span class="text-danger small"><b>(*)</b> Indicate mandatory </span>
            </li>
            <li class="fill-btn back-link"><a routerLink="/application/complaintcategory" title="Go to Previous"><i
                  class="bi bi-arrow-left"></i> Back to View</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="content-box content-area">


    <form *ngIf="!isUpdateMode" (ngSubmit)="submitComplaint()" #complaintForm="ngForm">
      <div class="row">

        <div class="col-xxl-3 col-lg-4 col-md-6">
          <div class="mb-3">
            <label for="complaintCategoryE" class="form-label">Complaint Category </label>
            <input id="complaintCategoryE" autocomplete="off" placeholder="Complaint Category" maxlength="50"
              class="form-control" [(ngModel)]="VCH_CATEGORY" name="complaintCategoryE" required />
          </div>
        </div>

        <div class="col-xxl-3 col-lg-4 col-md-6">
          <div class="mb-3">
            <label for="complaintCategoryH" class="form-label">Complaint Category (In Hindi)</label>
            <input id="complaintCategoryH" autocomplete="off" placeholder="Complaint Category (In Hindi)"
              class="form-control" maxlength="70" [(ngModel)]="NVCH_CATEGORY" name="complaintCategoryH" required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-lg-4">
          <div class="form-btn  mt-lg-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
          </div>
        </div>
      </div>
    </form>

    <form *ngIf="isUpdateMode" (ngSubmit)="updateComplaint()" #updateForm="ngForm">
      <div class="row">
        <div class="col-xxl-3 col-lg-4 col-md-6">
          <div class="mb-3">
            <label for="complaintCategoryE" class="form-label">Complaint Category </label>
            <input id="complaintCategoryE" class="form-control" [(ngModel)]="VCH_CATEGORY" name="complaintCategoryE"
              placeholder="Enter Complaint Category (E)" required />
          </div>
        </div>
        <div class="col-xxl-3 col-lg-4 col-md-6">
          <div class="mb-3">
            <label for="complaintCategoryH" class="form-label">Complaint Category (In Hindi)</label>
            <input id="complaintCategoryH" class="form-control" [(ngModel)]="NVCH_CATEGORY" name="complaintCategoryH"
              placeholder="Enter Complaint Category (H)" required />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-3 col-lg-4">
          <div class="form-btn mt-lg-3">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>