<div class="form-cointainer">
    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-xxl-3 col-lg-4 col-md-4">
                <h3> Whats New</h3>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="utilite">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory </span>
                        </li>
                        <li class="fill-btn back-link"><a routerLink="/application/whatsnew" title="Go to Previous">
                            <i class="bi bi-arrow-left"></i> <span class="hide-icon ms-2"> Back to View</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 

    <div class="content-box content-area">
        <form (ngSubmit)="submitForm()">            
            <div class="row">
                <div class="col-xl-4 col-md-12">
                    <div class="mb-3">
                        <label class="form-label" for="titleEnglish">Title (In English)</label>
                        <input type="text" id="titleEnglish" name="titleEnglish" [(ngModel)]="whatisNewModel.titleEnglish" class="form-control">
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="mb-3">
                        <label class="form-label" for="titleHindi">Title (हिंदी में)</label>
                        <input type="text" id="titleHindi" name="titleHindi" [(ngModel)]="whatisNewModel.titleHindi" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-md-12">
                    <div class="mb-3">
                        <label class="form-label" for="descriptionEnglish">Description (In English)</label>
                        <textarea id="descriptionEnglish" name="descriptionEnglish" [(ngModel)]="whatisNewModel.descriptionEnglish" rows="3" class="form-control"></textarea>
                        <p class="text-end mb-0"><small class="text-danger">Maximum <strong>500</strong> characters</small></p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="mb-3">
                        <label class="form-label" for="descriptionHindi">Description (हिंदी में)</label>
                        <textarea id="descriptionHindi" name="descriptionHindi" [(ngModel)]="whatisNewModel.descriptionHindi" rows="3" class="form-control"></textarea>
                        <p class="text-end mb-0"><small class="text-danger">Maximum <strong>500</strong> characters</small></p>
                    </div>
                </div>
            </div>            

            <div class="row">
                <div class="col-xl-4 col-md-12">
                    <div class="mb-3">
                        <label class="form-label" for="docFileUpload">Upload Document/Photo</label>
                        <div class="input-group custom-file-input">
                            <input type="file" name="docFileUpload" id="docFileUpload"
                                (change)="handleFileInput($event)" class="form-control custom-fileupload" />
                            <label class="custom-input" [ngClass]="{'custom-input-black': fileName}" for="doc">
                                {{ fileName || 'Upload' }}
                            </label>
                            <label class="input-group-text custom-browse" for="doc">Browse</label>
                        </div>
                        <p class="text-end mb-0"><small class="text-danger">Max size <strong>10 MB</strong>
                            (.pdf)</small></p>
                    </div>
                </div>                
                <div class="col-xl-4 col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label" for="isPublish">Is Publish</label><br/>
                        <input type="checkbox" id="isPublish" name="isPublish" [(ngModel)]="whatisNewModel.isPublish" style="height: 35px; width: 35px;" class="form-check-input">
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="col-xl-4 col-md-12" *ngIf="whatisNewModel.isPublish">
                    <div class="mb-3">
                        <label class="col-form-label" for="publishDate">Publish Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control publishDate" id="publishDate" name="publishDate" [(ngModel)]="whatisNewModel.publishDate">
                            <label class="input-group-text" for="publishDate"><i class="bi bi-calendar-week"></i></label>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 col-md-12">                    
                </div>
                <div class="col-xl-3 col-md-12">
                    <div class="d-flex gap-2 mt-lg-4">
                        <button type="submit" class="btn btn-primary" [ngClass]="whatisNewModel.isEditing ? 'btn-info' : 'btn-primary'">
                            {{ whatisNewModel.isEditing ? 'Update' : 'Submit' }}
                        </button>
                        <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>