<!-- <div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs" routerLinkActive="active">
                    <li class="nav-item">
                        <a routerLink="/application/newsevent" class="nav-link active">Add</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/newsevent-view" class="nav-link">View</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 ">
                <div class="utilite float-end mb-1">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory </span>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ngbTooltip="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ngbTooltip="Delete Record"><i class="bi bi-trash"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ngbTooltip="Download"><i class="bi bi-download"></i></a>
                        </li>
                        <li><a href="javascript:void(0)" ngbTooltip="Go to Previous"><i
                                    class="bi bi-arrow-left"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-box content-area">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="row">
                    <div class="col-xxl-3 col-lg-4">
                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            <input class="form-control" type="text">
                        </div>
                    </div>
           
                    <div class="col-xxl-3 col-lg-4">
                        <div class="mb-3">
                            <label class="form-label">Published on</label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker" id="datepicker">
                                <label class="input-group-text" for="datepicker"><i class="bi bi-calendar-week"></i></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-lg-4">
                        <div class="mb-3">
                                <label class="form-label">Upload Document</label>
                                <input class="form-control" type="file" id="formFile">
                                <p class="text-end mb-0"><small class="text-danger">Max size <strong>10 MB</strong> (.pdf)</small></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex gap-2">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="submit" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
