<div class="inner-area">
    <div class="bannerarea">
      <div class="page-title">
        <h2> Events</h2>
      </div>
      <div class="breadcrumb-area">
        <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item">
              <a href="#"><i class="icon icon-Group-14936"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
               Events
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="content-area" id="targetMainContent">
      <div class="container">
       <div class="row">
        <div class="col-lg-8">
            <div class="events-content">
                <div class="card-img">
                    <img src="../../assets/img/banner.jpg" alt="Events" >
                </div>
                <div class="event-details">
                     <div><i class="bi bi-geo-alt "></i> Bihar</div>
                     <div><i class="bi bi-calendar-week me-1"></i> 21-Oct-2024</div>
                </div>
                <h5 class="mt-4 fw-bold">Announcement of new water supply projects for underserved areas in Bihar.</h5>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloremque deserunt eaque nesciunt facere, error distinctio, eos voluptatibus, unde velit corrupti veniam pariatur? Eos non ipsum quae nisi impedit illo?</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloremque deserunt eaque nesciunt facere, error distinctio, eos voluptatibus, unde velit corrupti veniam pariatur? Eos non ipsum quae nisi impedit illo?

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloremque deserunt eaque nesciunt facere, error distinctio, eos voluptatibus, unde velit corrupti veniam pariatur? Eos non ipsum quae nisi impedit illo?
                </p>
            </div>
               
        
        </div>
        <div class="col-lg-4">
                    <h5 class="m-0 fw-bold"> Recent Events</h5>
                    <hr>
                    <div class="eventlist-items">
                        <div class="eventlist pt-0">
                            <div class="eventlist-img">
                             <img src="../../assets/img/banner.jpg" alt="Events" />
                            </div>
                            <div class="eventlist-details">
                             Announcement of new water supply projects for underserved areas in Bihar.
     
                            </div>
                            <a class="stretched-link"  href="javascript:void(0);"></a>
                         </div>
                         <div class="eventlist">
                             <div class="eventlist-img">
                              <img src="../../assets/img/banner.jpg" alt="Events" />
                             </div>
                             <div class="eventlist-details">
                              Announcement of new water supply projects for underserved areas in Bihar.
      
                             </div>
                             <a class="stretched-link"  href="javascript:void(0);"></a>
                          </div>
                          <div class="eventlist">
                             <div class="eventlist-img">
                              <img src="../../assets/img/banner.jpg" alt="Events" />
                             </div>
                             <div class="eventlist-details">
                              Announcement of new water supply projects for underserved areas in Bihar.
      
                             </div>
                             <a class="stretched-link"  href="javascript:void(0);"></a>
                          </div>
                          <div class="eventlist">
                             <div class="eventlist-img">
                              <img src="../../assets/img/banner.jpg" alt="Events" />
                             </div>
                             <div class="eventlist-details">
                              Announcement of new water supply projects for underserved areas in Bihar.
      
                             </div>
                             <a class="stretched-link"  href="javascript:void(0);"></a>
                          </div>
                    </div>
                   
              
        </div>
       </div>
      </div>
    </div>
  </div>
  