<div class="inner-area">
    <div class=" bannerarea">
        <div class="container">
            <div class="bannerarea-content">
                <div>
                    <div class="page-title" >
                        <h2>Sitemap</h2>
                    </div>
                    <div class="breadcrumb-area">
                        <nav  aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#"><i class="icon icon-Group-14936"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Sitemap</li>
                            </ol>
                        </nav>
                    </div>
                </div>
               
            </div>
         
        </div>
          
      
        
    </div>
    <div class="content-area  pb-0" id="targetMainContent">
        <div class="container">
           
          <div class="sitemap-sec contentbox">
            <ul class="row">
                <li class="col-md-6 col-xl-3">
                    <a title="Home" [routerLink]="['/home']" class="innerarea__subtitle">Home</a></li>
               
                <li class="col-md-6 col-xl-3">
                    <a title="Lorem ipsum" [routerLink]="['/about-us']" class="innerarea__subtitle" >About Us</a>
                </li>
                <li class="col-md-6 col-xl-3">
                    <a title="Lorem ipsum" [routerLink]="['/how-it-works']" class="innerarea__subtitle" >How it Works</a>
                </li>
                <li class="col-md-6 col-xl-3">
                    <a href="javascript:void(0);" [routerLink]="['/faq']" class="innerarea__subtitle" title="Lorem ipsum">FAQ</a>
                   </li>
                   <li class="col-md-6 col-xl-3">
                    <a href="javascript:void(0);" [routerLink]="['/contact-us']" class="innerarea__subtitle" title="Lorem ipsum">Contact Us</a>
                   </li>
                   <li class="col-md-6 col-xl-3">
                    <a href="javascript:void(0);" [routerLink]="['/privacy-policy']" class="innerarea__subtitle" title="Lorem ipsum">Privacy Policy</a>
                   </li>
                   <li class="col-md-6 col-xl-3">
                    <a href="javascript:void(0);" [routerLink]="['/site-map']" class="innerarea__subtitle" title="Lorem ipsum">Sitemap</a>
                   </li>
            </ul>
         
        </div>
            </div>
          
    </div>
</div>
