.sitemap-sec {
	ul {
		position: relative;
		padding-left: 0;
		li {
			margin-bottom: 1.5rem;
			a{
				&.innerarea__subtitle{
					border-left: 3px solid var(--about-bg-tap);
					padding-left: 0.5rem;

				}
				font-weight: bold;
				color: var(--text-black);
				opacity: 0.7;
				&:hover{
					color: var(--about-bg-tap);
				}
			}
		
		
		}
	}
}

