<div class="inner-area">
    <div class="bannerarea">
      <div class="page-title">
        <h2>News & Events</h2>
      </div>
      <div class="breadcrumb-area">
        <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item">
              <a href="#"><i class="icon icon-Group-14936"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              News & Events
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="content-area" id="targetMainContent">
      <div class="container">
        <div class="card-group">
          <div class="card card-event">
            <div class="imgbox">
              <img class="card-img-top"  alt="News & Events" src="../../assets/img/eventimg-two.jpg" />
            </div>
  
            <div class="card-body">
              <h5 class="card-title fw-bold"> News & Events</h5>
              <p class="card-text">
                  Announcement of new water supply projects for underserved areas in Bihar. </p>
                  <span class="bi bi-calendar-week me-2"></span><strong>21-Oct-2024</strong>
            </div>
            <div class="card-footer">
                <a class="view-link" [routerLink]="['/events']">
                View Details
                <span class="bi bi-arrow-right"></span>
                </a>
              
            </div>
            <a class="view-link stretched-link" [routerLink]="['/events']"></a>
          </div>
          <div class="card card-event">
              <div class="imgbox">
                <img class="card-img-top" alt="News & Events" src="../../assets/img/eventimg-one.jpg"/>
              </div>
    
              <div class="card-body">
                <h5 class="card-title fw-bold"> News & Events</h5>
                <p class="card-text">
                  Launch of the "Clean Water for All" campaign to promote water conservation. </p>
              </div>
              <div class="card-footer">
                <a class="view-link" [routerLink]="['/events']">
                  View Details
                  <span class="bi bi-arrow-right"></span>
                </a>
              </div>
              <a class="view-link stretched-link" [routerLink]="['/events']"></a>
            </div>
            <div class="card card-event">
              <div class="imgbox">
                <img class="card-img-top" alt="News & Events" src="../../assets/img/eventimg-three.jpg" />
              </div>
    
              <div class="card-body">
                <h5 class="card-title fw-bold"> News & Events</h5>
                <p class="card-text">
                  Public consultation meeting scheduled to discuss the new sanitation policy.
                </p>
              </div>
              <div class="card-footer">
                <a class="view-link" [routerLink]="['/events']">
                  View Details
                  <span class="bi bi-arrow-right"></span>
                </a>
              </div>
              <a class="view-link stretched-link" [routerLink]="['/events']"></a>
            </div>
            <div class="card card-event">
              <div class="imgbox">
                <img class="card-img-top" alt="News & Events"  src="../../assets/img/eventimg-two.jpg"/>
              </div>
    
              <div class="card-body">
                <h5 class="card-title fw-bold"> News & Events</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate consequuntur nisi quas repudiandae explicabo ducimus autem deserunt voluptates, qui ipsam, sequi delectus eum error voluptas rem illum est sit. Culpa.
                </p>
                <span class="bi bi-calendar-week me-2"></span><strong>21-Oct-2024</strong>
              </div>
              <div class="card-footer">
                <a  class="view-link"  [routerLink]="['/events']">
                  View Details
                  <span class="bi bi-arrow-right"></span>
                </a>
              </div>
              <a class="view-link stretched-link" [routerLink]="['/events']"></a>
            </div>
        </div>
      </div>
    </div>
  </div>
  