
<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4">
                <ul class="nav nav-tabs" routerLinkActive="active">
                    <li class="nav-item">
                        <a routerLink="/application/demographymapping" class="nav-link ">Add</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/demographymapping/view" class="nav-link active">View</a>
                    </li>
                </ul>

                
            </div>
            <!-- <div class="col-lg-6">
                <div class="utilite float-end">
                    <ul class="mb-0">
                        <li><a href="javascript:void(0)" ngbTooltip="Click to Print"><i class="bi bi-printer"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
   
    <div class="content-box content-area p-0">
        <div class="table-responsive mb-0">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th width="40px">Sl#</th>
                        <th>Parent</th>
                        <th>Section</th>
                        <th width="90px">Block</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                           <p class="mb-0"><small class="text-muted">Circle:</small> <strong>Purnia</strong></p>
                           <p class="mb-0"><small class="text-muted">Division:</small> <strong>Araria</strong></p>
                           <p class="mb-0"><small class="text-muted">SubDivision:</small> <strong>Araria East </strong></p>
                        </td>
                        <td>Araria</td>
                        <td>ARARIA</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                           <p class="mb-0"><small class="text-muted">Circle:</small> <strong>Purnia</strong></p>
                           <p class="mb-0"><small class="text-muted">Division:</small> <strong>Araria</strong></p>
                           <p class="mb-0"><small class="text-muted">SubDivision:</small> <strong>Araria West </strong></p>
                        </td>
                        <td>Bhargama</td>
                        <td>BHARGAMA</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                           <p class="mb-0"><small class="text-muted">Circle:</small> <strong>Purnia</strong></p>
                           <p class="mb-0"><small class="text-muted">Division:</small> <strong>Araria</strong></p>
                           <p class="mb-0"><small class="text-muted">SubDivision:</small> <strong>Forbesganj</strong></p>
                        </td>
                        <td>Forbesganj</td>
                        <td>Forbesganj</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                           <p class="mb-0"><small class="text-muted">Circle:</small> <strong>Purnia</strong></p>
                           <p class="mb-0"><small class="text-muted">Division:</small> <strong>Araria</strong></p>
                           <p class="mb-0"><small class="text-muted">SubDivision:</small> <strong>Araria East </strong></p>
                        </td>
                        <td>Jokihat</td>
                        <td>JOKIHAT</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                           <p class="mb-0"><small class="text-muted">Circle:</small> <strong>Purnia</strong></p>
                           <p class="mb-0"><small class="text-muted">Division:</small> <strong>Araria</strong></p>
                           <p class="mb-0"><small class="text-muted">SubDivision:</small> <strong>Forbesganj</strong></p>
                        </td>
                        <td>Kursakanta</td>
                        <td>KURSAKANTA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>