<div class="form-cointainer">

    <div class="pagetitle-section">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4 col-md-6">
                <h3>Demography Mapping</h3>
                <!-- <p>Manage your page</p> -->
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite">
                    <ul class="mb-0">


                        <li>
                            <a href="javascript:void(0)" title="Click to Print"><i class="bi bi-printer"></i></a>
                        </li>

                        <li>
                            <a href="javascript:void(0)" title="Download Excel"><i
                                    class="bi bi-file-earmark-excel"></i></a>
                        </li>
                        <li class="filter-dropdown dropdown">
                            <a href="javascript:void(0)" data-bs-toggle="dropdown" (click)="openDropdown()">
                                <i class="bi bi-funnel"></i> Filter
                            </a>

                            <div class="dropdown-menu dropdown-menu-end filter-dropdown-menu shadow border-0"
                                   [ngClass]="{ 'show': isDropdownOpen }" (click)="$event.stopPropagation()">

                                   <span class="drop-icon" (click)="closeDropdown()">
                                    <i class="bi bi-x-lg"></i>
                               </span>



                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="ddlDistrict" class="form-label">Circle</label>
                                            <select class="form-select" id="circle">
                                                <option selected>Select</option>
                                                <option value="1">Ara</option>
                                                <option value="2">Begusarai</option>
                                                <option value="3">Bhagalpur</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="divison" class="form-label">Division</label>
                                            <select class="form-select" id="divison">
                                                <option selected>Select</option>
                                                <option value="1">Ara</option>
                                                <option value="2">Begusarai</option>
                                                <option value="3">Bhagalpur</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="district" class="form-label">District</label>
                                            <select class="form-select" id="district">
                                                <option selected>Select</option>
                                                <option value="1">ARARIA</option>
                                                <option value="2">ARARIA</option>
                                                <option value="3">AURANGABAD</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="block1" class="form-label">Block</label>
                                            <select class="form-select select-height"  id="block1">
                                                <option value="1">ARARIA</option>
                                                <option value="2">ARWAL</option>
                                                <option value="3">AURANGABAD</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="d-flex gap-2">
                                            <button type="submit" class="btn btn-primary px-xl-4">Search</button>
                                            <button type="submit" class="btn btn-danger px-xl-4">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </li>


                        <li class="fill-btn add-link"><a routerLink="/application/demographymapping/add"
                                title="Click to Add"><i class="bi bi-plus-lg"></i>
                                Add Page</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="content-box content-area p-0">
        <div class="table-responsive mb-0">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th width="40px">Sl#</th>
                        <th>Circle</th>
                        <th>Division</th>
                        <th>Sub-Division</th>
                        <th>Section</th>
                        <th>District</th>
                        <th>Block</th>
                        <th width="90px">Action</th>
                        <!-- wdghwui -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            Purnia

                        </td>
                        <td> Araria
                        </td>
                        <td> Araria East</td>
                        <td>Araria</td>
                        <td>ARARIA</td>
                        <td>BHARGAMA</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Purnia</td>
                        <td>Araria</td>
                        <td>Araria West</td>
                        <td>Bhargama</td>
                        <td>ARARIA</td>
                        <td>BHARGAMA</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Purnia</td>
                        <td>Araria</td>
                        <td>Forbesganj</td>
                        <td>Forbesganj</td>
                        <td>Forbesganj</td>
                        <td>BHARGAMA</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Purnia</td>
                        <td>Araria</td>
                        <td>Araria East</td>
                        <td>Jokihat</td>
                        <td>JOKIHAT</td>
                        <td>JOKIHAT</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Purnia</td>
                        <td>Araria</td>
                        <td>Forbesganj</td>
                        <td>Kursakanta</td>
                        <td>KURSAKANTA</td>
                        <td>KURSAKANTA</td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="javascript:void(0);" class="btn btn-outline-primary btn-sm" title="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a href="javascript:void(0);" class="btn btn-outline-danger btn-sm" title="Delete">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
