@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
// Select Box
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
@import 'assets/scss/mixins';
@import 'assets/scss/variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'assets/scss/navbar';
@import 'assets/scss/sidebar';
@import 'assets/scss/footer';
@import 'assets/scss/main';
@import 'assets/scss/common';
// @import 'assets/scss/custom';

html,body,form {
    height: 100%;
}

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0; 
    // font-size: .9rem; 
    font-family: "Work Sans", serif; 
    font-weight: 400; 
}

.btn-primary,.btn-primary:hover {color: $white;}
.form-label {margin-bottom: 0.2rem;}
.form-select {color: $gray-600;}

.ng-select.ng-select-single .ng-select-container {
    height: 40px;
    font-size: 1rem;
}