<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between align-items-center">
            <div class="col-xxl-3 col-lg-3 col-md-6">
                <ul class="nav nav-tabs" routerLinkActive="active">
                    <li class="nav-item">
                        <a routerLink="/application/complaintregistration" class="nav-link active">Add</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a routerLink="/application/demo/view" class="nav-link">View</a>
                    </li> -->
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="utilite float-end">
                    <ul class="mb-0">
                        <li class="bg-transparent border-0">
                            <span class="text-danger small"><b>(*)</b> Indicate mandatory</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-box content-area">
        <div class="form-section">
            <div class="row">
                <div class="col-xxl-10 col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label for="txtRegdDt" class="form-label">Registration Date</label>
                                <input name="txtRegdDt" type="text" [(ngModel)]="currentDate" readonly id="txtRegdDt"
                                    class="form-control" />
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label for="ddlRecvBy" class="form-label">Mode of Complaint</label>
                                <select name="ddlRecievemode" [(ngModel)]="formData.ddlComplainttype"
                                    id="ddlRecievemode" class="form-select chosen-select-width"
                                    style="width: 100%;">
                                    <option value="0" selected>Select</option>
                                    <option *ngFor="let complaintp of complainttype"
                                        [value]="complaintp.inT_COMPLIANT_LOG_TYPE_ID">{{
                                        complaintp.vcH_COMPLIANT_LOG_TYPE }}
                                    </option>
                                </select>
                            </div>
                        </div>

                     </div>

                     <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label for="ddlComplaintCategory" class="form-label">Complaint Category</label>
                                <select name="ddlComplaintCategory" id="ddlComplaintCategory"
                                    [(ngModel)]="formData.ddlComplaintCategory"
                                    (change)="onCategoryChange($event)" class="form-select">
                                    <option selected value="0">Select</option>
                                    <option *ngFor="let category of categories"
                                        [value]="category.inT_CATEGORY_ID">{{ category.vcH_CATEGORY }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label for="ddlSubCategory" class="form-label">Complaint Sub-Category</label>
                                <select name="ddlSubCategory" id="ddlSubCategory"
                                    [(ngModel)]="formData.ddlSubCategory" class="form-select">
                                    <option value="0">Select</option>
                                    <option *ngFor="let subcategory of subcategories"
                                        [value]="subcategory.inT_SUB_CATEGORY_ID">{{
                                        subcategory.vcH_SUB_CATEGORY }}
                                    </option>
                                </select>
                            </div>
                        </div>
                     </div>


                       <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label for="txtName" class="form-label">Name <span class="text-danger">*</span></label>
                                <input name="txtName" type="text" id="txtName" [(ngModel)]="formData.txtName" required
                                    class="form-control" maxlength="100" />
                                <p class="text-danger text-end fw-lighter small mb-0">(Maximum <span class="fw-bold">100</span>
                                    Characters)</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label for="txtPhone" class="form-label">Phone</label>
                                <input name="txtPhone" type="text" maxlength="10" id="txtPhone"
                                    [(ngModel)]="formData.txtPhone" class="form-control" />
                            </div>
                        </div>
                       </div>
                   
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label for="txtDocument" class="form-label">Nature of Document</label>
                                <input name="txtDocument" type="text" id="txtDocument" [(ngModel)]="formData.txtDocument"
                                    class="form-control" />
                            </div>
                        </div>
                    
                    
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3 upload-doc">
                                <label for="FileUpload1" class="form-label">Upload Document</label>
                                <input type="file" name="FileUpload1" id="FileUpload1" (change)="handleFileInput($event)"
                                    class="form-control" />
                                <div class="dom-upload">
                                    <a href="javascript:void(0);" class="btn btn-outline-danger disabled"><span class="bi bi-download"></span></a>
                                </div>
                                <p class="mb-0 small text-danger text-end fw-lighter">Supported File Format(<span
                                        class="fw-bold">pdf,doc,docx,xls,xlsx</span>)</p>
                            </div>
                        </div>
                    </div>
                     
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label for="ddlDistrict" class="form-label">District</label>
                                <select name="ddlDistrict" id="ddlDistrict" [(ngModel)]="formData.ddlDistrict"
                                    (change)="onDistrictChange($event)" class="form-select">
                                    <option selected value="0">-Select District-</option>
                                    <option *ngFor="let district of districts" [value]="district.inT_DIST_ID">
                                        {{ district.vcH_DIST_NAME }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label for="ddlBlock" class="form-label">Block</label>
                                <select name="ddlBlock" id="ddlBlock" [(ngModel)]="formData.ddlBlock"
                                    (change)="onBlockChange($event)" class="form-select">
                                    <option value="0">Select</option>
                                    <option *ngFor="let block of blocks" [value]="block.inT_BLOCK_ID">{{
                                        block.vcH_BLOCK_NAME }}
                                    </option>
                                </select>
                            </div>
                        </div>
                   
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label for="ddlGp" class="form-label">Gram Panchayat</label>
                                <select name="ddlGp" id="ddlGp" [(ngModel)]="formData.ddlPanchayat"
                                    (change)="onGpChange($event)" class="form-select">
                                    <option value="0">Select</option>
                                    <option *ngFor="let gp of gps" [value]="gp.inT_GP_ID">{{ gp.vcH_GP_NAME }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label for="ddlVillage" class="form-label">Village</label>
                                <select name="ddlVillage" id="ddlVillage" [(ngModel)]="formData.ddlVillage"
                                    class="form-select">
                                    <option value="0">Select</option>
                                    <option *ngFor="let village of villages" [value]="village.inT_VILLAGE_ID">{{
                                        village.vcH_VILLAGE_NAME }}</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="mb-3">
                                <label for="txtAddress" class="form-label">Address</label>
                                <textarea name="txtAddress" rows="3" id="txtAddress"
                                    [(ngModel)]="formData.txtAddress" class="form-control"></textarea>
                             
                                    <p class="text-danger text-end fw-lighter small mb-0">(Maximum <span class="fw-bold">200</span>
                                        Characters)</p>
                            </div>
                        </div>
                 
                        <div class="col-lg-6 col-md-12">
                            <div class="mb-3">
                                <label for="txtDetailsE" class="form-label">Complaint Description in
                                    Brief</label>
                                <textarea name="txtDetailsE" rows="3" id="txtDetailsE"
                                    [(ngModel)]="formData.txtDetailsE" class="form-control"></textarea>
                                <p class="text-danger text-end small mb-0 fw-lighter">(Maximum <span class="fw-bold">500</span>
                                    Characters)</p>
                                    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-5">
                            <div class="form-actions">
                                <button type="button" name="btnSubmit" class="btn btn-primary me-1"
                                    (click)="onSubmit()">Submit</button>
                                <button type="button" name="btnReset" class="btn btn-danger"
                                    (click)="resetForm()">Reset</button>
                            </div>
                        </div>
                    </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>